Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

refactor(web): redesign GroupsOverviewSection with Tailwind + shadcn/ui
  apps/web/src/features/auth/components/profile/tabs/GroupsManagement/components/GroupsOverviewSection.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(docs-expo): add refresh token storage and initialization logging
  apps/docs-expo/app/_layout.tsx
  apps/docs-expo/services/storage.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(mobile): bump Android SDK to 36
  apps/mobile/app.json
Due: prettier --write

docs: add Metro hot reload and cache tips to CLAUDE.md
  CLAUDE.md
Due: prettier --write

refactor(web): migrate remaining profile tabs to Tailwind + shadcn/ui
  apps/web/src/assets/styles/features/auth/profile-layout.css
  apps/web/src/assets/styles/features/auth/profile.css
  apps/web/src/features/auth/components/profile/tabs/ContentManagement/ContentManagementView.tsx
  apps/web/src/features/auth/components/profile/tabs/ContentManagement/components/DocumentsSection.tsx
  apps/web/src/features/auth/components/profile/tabs/ContentManagement/components/VorlagenSection.tsx
  apps/web/src/features/auth/components/profile/tabs/GroupsManagement/GroupsManagementView.tsx
  apps/web/src/features/auth/components/profile/tabs/GroupsManagement/components/GroupsOverviewSection.tsx
  apps/web/src/features/auth/components/profile/tabs/ProfileInfo/ProfileView.tsx
  apps/web/src/features/auth/components/profile/tabs/ProfileInfo/SettingsSection.tsx
  apps/web/src/features/auth/pages/ProfilePage.tsx
  apps/web/src/features/auth/styles/meine-texte-tab.css
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): remove Website Generator feature
  apps/web/src/components/layout/Header/menuData.tsx
  apps/web/src/config/icons.ts
  apps/web/src/config/routes.ts
  apps/web/src/features/auth/components/profile/tabs/ProfileInfo/SettingsSection.tsx
  apps/web/src/features/website/WebsiteGenerator.tsx
  apps/web/src/features/website/website.css
  apps/web/src/hooks/useBetaFeatures.ts
  apps/web/src/hooks/useDesktopTabs.ts
  apps/web/src/utils/documentTypeMapper.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: add MCP web-client setup guide for Claude, Mistral, ChatGPT
  documentation/docs/integrationen/_category_.json
  documentation/docs/integrationen/mcp-einrichten.md
Due: prettier --write

feat(mcp): add chat agent prompts and remove broken person search
  CLAUDE.md
  services/mcp/src/index.ts
  services/mcp/src/prompts/agent-data.ts
  services/mcp/src/prompts/agent-prompts.ts
  services/mcp/src/qdrant/client.ts
  services/mcp/src/resources/collections.ts
  services/mcp/src/resources/system-prompt.ts
  services/mcp/src/tools/search.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): prevent crash on thread deletion
  packages/chat/src/runtime/GrueneratorChatProvider.tsx
  packages/chat/src/runtime/GrueneratorThreadListAdapter.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): prevent PlusMenu main menu from stretching with submenu
  packages/chat/src/components/thread/PlusMenu.tsx
  packages/chat/src/components/ui/Dropdown.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): use --import flag for Sentry ESM instrumentation
  apps/api/Dockerfile
  apps/api/instrument.ts
  apps/api/lib/sentry.ts
  apps/api/package.json
  apps/api/server.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): recover missing profile in deserializeUser to prevent FK violations
  apps/api/config/passportSetup.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(docs): add pill-shaped search bar to homepage
  apps/docs/src/pages/HomePage.css
  apps/docs/src/pages/HomePage.tsx
  packages/docs/src/components/document/DocumentList.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: add expo-file-system v19 API and docs-expo build notes to CLAUDE.md
  CLAUDE.md
Due: prettier --write

feat(docs-expo): improve mobile app with file exports and enhanced UI
  apps/docs-expo/app/document/[id].tsx
  apps/docs-expo/app/index.tsx
  apps/docs-expo/package.json
  apps/docs-expo/services/docs.ts
  apps/docs-expo/stores/docsStore.ts
  apps/docs-expo/tsconfig.json
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(docs): add embedded mode with EditorFAB and silent loading states
  apps/docs/src/App.tsx
  apps/docs/src/components/EditorFAB.css
  apps/docs/src/components/EditorFAB.tsx
  apps/docs/src/components/auth/ProtectedRoute.tsx
  apps/docs/src/components/editor/BlockNoteEditor.tsx
  apps/docs/src/pages/EditorPage.tsx
  apps/docs/src/vite-env.d.ts
  packages/docs/package.json
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: restructure MCP integration docs and add Integrationen section
  documentation/docs/integrationen/ki-chat-einrichten.md
  documentation/docs/integrationen/mcp-einrichten.md
  documentation/docs/integrationen/mcp-was-kann-ich-fragen.md
  documentation/docusaurus.config.ts
  documentation/src/pages/index.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore: update pnpm-lock.yaml for docs-expo dependencies
  pnpm-lock.yaml
Due: prettier --write

fix(docs): center search bar with CSS Grid header layout
  apps/docs/src/pages/HomePage.css
Due: none

fix(docs): ensure FAB stays above sidebar overlay on mobile
  apps/docs/src/components/EditorFAB.css
Due: none
