Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(types): eliminate 17 casts in langgraph + subtitler at source
  apps/api/agents/langgraph/SearchGraph/nodes/deepResearchNode.ts
  apps/api/agents/langgraph/WebSearchGraph/WebSearchGraph.ts
  apps/api/agents/langgraph/WebSearchGraph/nodes/SummaryNode.ts
  apps/api/agents/langgraph/WebSearchGraph/types.ts
  apps/api/agents/langgraph/WebSearchGraph/utilities/dataFilter.ts
  apps/api/agents/langgraph/WebSearchGraph/utilities/dossierBuilder.ts
  apps/api/agents/langgraph/simpleInteractiveGenerator.ts
  apps/api/agents/langgraph/types/promptProcessor.ts
  apps/api/agents/langgraph/types/simpleInteractiveGenerator.ts
  apps/api/routes/search/searchStreamController.ts
  apps/api/routes/subtitler/processingController.ts
  apps/api/services/subtitler/projectSavingService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(types): eliminate 12 casts in chat routes + add toIsoString helper
  apps/api/routes/chat/grueneratorChat.ts
  apps/api/routes/chat/threadsContractRouter.ts
  apps/api/services/chat/ConversationService.ts
  apps/api/services/chat/IntentService.ts
  apps/api/services/chat/imagineGenerationService.ts
  apps/api/services/chat/sharepicGenerationService.ts
  apps/api/utils/toIsoString.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(ratchet): drop cast baseline 208 → 179
  .type-safety-baseline
Due: none

docs: mark Session N+3 DONE — cast hotspots 29 casts eliminated
  docs/typescript-safety-roadmap.md
Due: prettier --write

fix(tests): resolve 35 pre-existing vitest failures across 9 files
  apps/api/agents/langgraph/ChatGraph/intentPipeline.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.vitest.ts
  apps/api/agents/langgraph/PromptProcessor.vitest.ts
  apps/api/routes/docs/aiController.model-comparison.vitest.ts
  apps/api/routes/docs/aiController.ts
  apps/api/routes/docs/exportToDocsController.ts
  apps/api/services/ai/aiService.ts
  apps/api/services/flux/RegoloImageService.ts
  apps/api/services/subtitler/__tests__/transcriptionProviders.vitest.ts
  apps/api/services/subtitler/regoloTranscriptionService.ts
  apps/api/services/subtitler/segmentExportService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(types): unify SubtitleConfig duplicates to match exactOptionalPropertyTypes
  apps/api/services/subtitler/multiClipExportService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): add Playwright E2E suite with auth + registration coverage
  apps/web/.gitignore
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/tests/e2e/auth.spec.ts
  apps/web/tests/e2e/devBypass.spec.ts
  apps/web/tests/e2e/fixtures/mockKeycloak.ts
  apps/web/tests/e2e/fixtures/pageHelpers.ts
  apps/web/tests/e2e/registration.spec.ts
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): eliminate 19-error baseline — all web src typechecks clean
  apps/web/src/components/common/Citation/CitationSourcesDisplay.tsx
  apps/web/src/components/common/ContentDisplay/ContentRenderer.tsx
  apps/web/src/components/common/Form/RecentValuesDropdown.tsx
  apps/web/src/components/utils/OptimizedImage.tsx
  apps/web/src/features/boards/components/ExcalidrawBoard.tsx
  apps/web/src/features/groups/components/GroupDetailSection.tsx
  apps/web/src/features/image-studio/ImageStudioPage.tsx
  apps/web/src/features/image-studio/steps/StockImagesGrid.tsx
  apps/web/src/features/notebook/stores/notebookChatStore.ts
  apps/web/src/features/oparl/hooks/useOparlSearch.ts
  apps/web/src/features/oparl/services/oparlService.ts
  apps/web/src/features/scanner/DotGrid.tsx
  apps/web/src/hooks/useImageGenerationLimit.ts
  apps/web/src/stores/chatStore.ts
  apps/web/src/stores/userDefaultsStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: add Priority 6 — auth test coverage (51 new tests)
  docs/typescript-safety-roadmap.md
Due: prettier --write

fix(auth): unblock prod login loop — email optional at Better Auth boundary
  apps/api/middleware/authBoundary.vitest.ts
  packages/contracts/src/schemas/userProfile.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(auth): harden Keycloak profile mapper + diagnostic logging
  apps/api/config/betterAuth.ts
  apps/api/config/mapKeycloakProfileToUser.ts
  apps/api/config/mapKeycloakProfileToUser.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(api): eliminate 19 eslint-disables + add 13 validateBody calls
  apps/api/agents/langgraph/FlyerToSiteGraph/nodes/selectImagesNode.ts
  apps/api/agents/langgraph/PromptProcessor.ts
  apps/api/agents/langgraph/SocialAgentGraph/nodes/researchNode.ts
  apps/api/agents/langgraph/streamingProcessor.ts
  apps/api/database/services/PostgresService/migrations.ts
  apps/api/database/services/PostgresService/queries.ts
  apps/api/routes.ts
  apps/api/routes/crawl/urlController.ts
  apps/api/routes/flux/imageEditing.ts
  apps/api/routes/flux/imaginePure.ts
  apps/api/routes/internal/grueneApiTestController.ts
  apps/api/routes/markdown/markdownController.ts
  apps/api/routes/media/mediaController.ts
  apps/api/routes/nextcloud/nextcloudApi.ts
  apps/api/routes/research/researchController.ts
  apps/api/services/monitor/SummaryGraph.ts
  apps/api/services/sharedMediaService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): eliminate all 7 eslint-disables + canonicalize GeneratedContent
  apps/web/src/components/SharepicMasterEditorModal.tsx
  apps/web/src/components/common/ActionButtons.tsx
  apps/web/src/components/common/HelpDisplay.tsx
  apps/web/src/components/common/Icon.tsx
  apps/web/src/components/hooks/useAltTextGeneration.ts
  apps/web/src/features/image-studio/types/componentTypes.ts
  apps/web/src/pages/MobileEditorPage.tsx
  apps/web/src/stores/core/generatedTextStore.ts
  apps/web/src/types/baseform.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(packages): eliminate 14 eslint-disables across chat + docs + canvas
  packages/canvas-editor/src/hooks/useBackendCanvasExport.ts
  packages/canvas-editor/src/hooks/useMultiPageCanvas.ts
  packages/chat/src/hooks/useFileMentionData.ts
  packages/chat/src/runtime/GrueneratorModelAdapter.ts
  packages/chat/src/stores/chatStore.ts
  packages/docs/src/components/permissions/ShareModal.tsx
  packages/docs/src/hooks/useMentionUsers.ts
  packages/docs/src/stores/editorStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(ratchet): drop cast baseline 179 → 178
  .type-safety-baseline
Due: none

fix(web): strip /api prefix from contract paths in typed client
  packages/shared/src/api/contractsClient.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(auth): close ts-rest contract router auth bypass
  apps/api/routes.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(auth): close remaining ts-rest contract router auth bypasses
  apps/api/routes.ts
  apps/api/routes/share/shareContractRouter.ts
  packages/contracts/src/contracts/sharesContract.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
