Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix: stop a racing thread delete from dangling the main thread
  packages/chat/src/components/thread/ThreadListItem.tsx
  packages/chat/src/context/ChatNavigationContext.tsx
  packages/chat/src/runtime/GrueneratorChatRuntime.tsx
  packages/chat/src/runtime/GrueneratorThreadListAdapter.ts
  packages/chat/src/runtime/GrueneratorThreadListAdapter.vitest.ts
  packages/chat/src/runtime/threadDeleteSwitchRace.vitest.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): send from /start to the thread's URL, not to bare /chat
  apps/web/src/features/workplace/components/ChatInner.tsx
  apps/web/src/features/workplace/components/ChatInner.vitest.tsx
  packages/chat/src/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(deps): bump @assistant-ui/react-native to 0.1.39
  apps/mobile/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(chat): drop the response heartbeat that rendered as a spinning tool card
  apps/api/routes/chat/services/agenticLoop/agenticRespondService.ts
  apps/api/routes/chat/services/agenticLoop/loopEngine.ts
  apps/api/routes/chat/services/agenticLoop/loopSse.ts
  apps/api/routes/chat/services/agenticLoop/loopStallGuard.vitest.ts
  apps/api/routes/chat/services/responseStreamingService.ts
  apps/api/routes/chat/services/responseStreamingService.vitest.ts
  apps/api/routes/chat/services/sseHelpers.ts
  packages/chat/src/runtime/GrueneratorModelAdapter/parseSSEStream.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): notification stream names its refusal inside the stream
  apps/api/middleware/authMiddleware.ts
  apps/api/routes.ts
  apps/api/routes/notifications/index.ts
  apps/api/routes/notifications/stream.ts
  apps/api/routes/notifications/stream.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): dial the notification stream only on a server-confirmed session
  apps/web/src/hooks/useNotificationSSE.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix: register cloud_files listings as sources so the writer sees them
  apps/api/database/services/NotebookQdrantHelper.ts
  apps/api/routes/chat/agents/cloudFileTools.ts
  apps/api/routes/chat/agents/cloudFileTools.vitest.ts
  apps/api/routes/chat/services/agenticLoop/wrapTools.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): drop the unreachable LiteLLM first-token deadline and name the real host on failure
  apps/api/routes/chat/services/responseStreamingService.ts
  apps/api/routes/chat/services/responseStreamingService.vitest.ts
  apps/api/services/ai/cortecsRequestPolicy.ts
  apps/api/services/ai/gemmaHosts.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: move the wolke setup guide into guides (advanced)
  apps/api/services/docs/docsIndex.generated.ts
  apps/api/services/files/types.ts
  apps/web/src/features/wolke/components/WolkeAddForm.tsx
  documentation/docs/features/notebooks.md
  documentation/docs/guides/einsteigerinnen/eigenes-notebook-erstellen.md
  documentation/docs/guides/fortgeschrittene/gruene-wolke-einbinden.md
  documentation/docs/konto/_category_.json
  documentation/docusaurus.config.ts
  documentation/src/nav/sections.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): restore buildThreadPath export dropped from the barrel
  packages/chat/src/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): give every loop tool a real card instead of its raw wire name
  apps/api/routes/chat/agents/toolCatalogUiCoverage.vitest.ts
  apps/mobile/components/chat/message/ToolCallPart.tsx
  apps/mobile/components/chat/tool-ui/toolIcons.ts
  packages/chat/src/components/ToolCallUI.tsx
  packages/chat/src/components/ToolCallUI.vitest.tsx
  packages/chat/src/components/assistant-ui/elements/_adapter.tsx
  packages/chat/src/components/assistant-ui/elements/surfaces.tsx
  packages/chat/src/components/assistant-ui/elements/tool-call.tsx
  packages/chat/src/index.native.ts
  packages/chat/src/index.ts
  packages/chat/src/lib/toolMappings.ts
  packages/chat/src/lib/toolRegistry.ts
  packages/chat/src/lib/toolRegistry.vitest.ts
  packages/chat/src/lib/toolResults.ts
  packages/chat/src/lib/toolStatusLine.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): make a failed tool look failed, and let mobile answer approvals
  apps/api/routes/chat/services/agenticLoop/types.ts
  apps/api/routes/chat/services/agenticLoop/wrapTools.ts
  apps/mobile/components/chat/message/ToolCallPart.tsx
  apps/mobile/components/chat/tool-ui/ToolApprovalCard.tsx
  apps/mobile/components/chat/tool-ui/ToolErrorCard.tsx
  packages/chat/src/components/ToolCallUI.tsx
  packages/chat/src/components/ToolCallUI.vitest.tsx
  packages/chat/src/components/assistant-ui/elements/tool-call.tsx
  packages/chat/src/components/assistant-ui/elements/tool-error.tsx
  packages/chat/src/components/tool-ui/ToolApprovalCard.tsx
  packages/chat/src/index.native.ts
  packages/chat/src/index.ts
  packages/chat/src/lib/toolApproval.ts
  packages/chat/src/lib/toolRegistry.ts
  packages/chat/src/lib/toolResults.ts
  packages/chat/src/lib/toolResults.vitest.ts
  packages/chat/src/runtime/threadMessageConversion.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: add Landesverbaende category under Guides
  documentation/docs/features/landesverbaende.md
  documentation/docs/guides/_category_.json
  documentation/docs/guides/landesverbaende/_category_.json
  documentation/docs/guides/landesverbaende/landesverband-einrichten.md
  documentation/docs/konto/_category_.json
Due: prettier --write

fix(chat): let a managed connector's read-only tools skip the approval gate
  apps/api/routes/chat/agents/managedMcpCatalog.ts
  apps/api/routes/chat/agents/mcpCatalog.ts
  apps/api/routes/chat/services/agenticLoop/approvalPolicy.ts
  apps/api/routes/chat/services/agenticLoop/approvalPolicy.vitest.ts
  apps/api/routes/chat/services/agenticLoop/types.ts
  apps/api/services/mcp/UserMCPClient.ts
  apps/api/services/mcp/UserMCPClient.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): drop the mcp_tool_error event nobody ever consumed
  apps/api/routes/chat/services/agenticLoop/wrapTools.ts
  apps/api/routes/chat/services/sseHelpers.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(git): allow adding tracked files under ignored docs/
  .gitignore
Due: none

docs: merge intro categories into flat Basics
  .github/workflows/docs-freshness-pr.yml
  .github/workflows/docs-tools.yml
  .github/workflows/social-media-sync.yml
  CLAUDE.md
  README.md
  apps/api/docsFreshnessAreas.ts
  apps/api/docsFreshnessAreas.vitest.ts
  apps/api/generate-content-stats.ts
  apps/web/src/features/monitor/components/TransparenzView.tsx
  apps/web/src/features/settings/tabs/UsageTab.tsx
  docs/CLAUDE-a11y.md
  docs/barrierefreiheit-audit-plan.md
  documentation/docs/basics/Kennzeichnungs-Guide.md
  documentation/docs/basics/_category_.json
  documentation/docs/basics/barrierefreiheit.md
  documentation/docs/basics/finetuning.md
  documentation/docs/basics/gruenerator-pro-eu.md
  documentation/docs/basics/intro.md
  documentation/docs/basics/nachhaltigkeit.md
  documentation/docs/basics/notebook.md
  documentation/docs/basics/open-source.md
  documentation/docs/basics/risiken-und-gefahren-von-llms.md
  documentation/docs/basics/tools.mdx
  documentation/docs/basics/welches-ki-tool-wofuer.md
  documentation/docs/basics/wie-llms-funktionieren.md
  documentation/docs/chat/dateien-hinzufuegen.mdx
  documentation/docs/chat/ki-chat.mdx
  documentation/docs/chat/was-kann-ich-fragen.mdx
  documentation/docs/features/dokumente.mdx
  documentation/docs/features/notebooks.md
  documentation/docs/grundlagen/_category_.json
  documentation/docs/guides/einsteigerinnen/antrag-stadtrat.mdx
  documentation/docs/guides/einsteigerinnen/social-media-beitrag.mdx
  documentation/docs/integrationen/chrome-erweiterung.md
  documentation/docs/ueber-den-gruenerator/_category_.json
  documentation/scripts/generate-models.mjs
  documentation/scripts/generate-tool-catalog.mjs
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: move Wie-diese-Doku-entsteht page to Sonstiges
  documentation/docs/sonstiges/wie-diese-doku-entsteht.md
Due: prettier --write

docs: wire nav, redirects and generated index to the reorganized docs
  apps/api/services/docs/docsIndex.generated.ts
  documentation/docusaurus.config.ts
  documentation/scripts/generate-docs-index.mjs
  documentation/sidebars.ts
  documentation/src/nav/sections.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat: search chat threads from the sidebar
  apps/api/routes/chat/index.ts
  apps/api/routes/chat/searchController.ts
  apps/api/routes/chat/services/pastChatRecallService.ts
  apps/api/routes/search/globalSearchContractRouter.ts
  apps/api/routes/search/globalSearchThreadSearch.vitest.ts
  packages/chat/src/components/ChatThreadList.tsx
  packages/chat/src/components/assistant-ui/elements/thread-search.tsx
  packages/chat/src/components/assistant-ui/elements/thread-search.vitest.tsx
  packages/chat/src/components/thread/ChatThreadSearch.tsx
  packages/chat/src/hooks/useDebounce.ts
  packages/chat/src/hooks/useThreadSearch.ts
  packages/chat/src/hooks/useThreadSearch.vitest.ts
  packages/contracts/src/contracts/globalSearchContract.ts
  packages/contracts/src/schemas/globalSearch.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write
