Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(desktop): gate devtools behind debug_assertions for release builds
  apps/desktop/src-tauri/src/lib.rs
Due: none

fix(desktop): align tauri-plugin-fs Rust crate with NPM package (2.4→2.5)
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
Due: none

fix(desktop): include web dependency tree in CI install filter
  .github/workflows/desktop-release.yml
Due: prettier --write

chore: switch license from all-rights-reserved to AGPL-3.0
  LICENSE
  LICENSE.md
Due: prettier --write

refactor: reduce eslint-disable no-explicit-any suppressions from 52 to 22
  apps/api/agents/langgraph/AntragAgentGraph/AntragAgentGraph.ts
  apps/api/agents/langgraph/ChatGraph/ChatGraph.ts
  apps/api/agents/langgraph/ChatGraph/tools/draftStructured.ts
  apps/api/agents/langgraph/FlyerToSiteGraph/FlyerToSiteGraph.ts
  apps/api/agents/langgraph/SearchGraph/nodes/deepResearchNode.ts
  apps/api/agents/langgraph/SocialAgentGraph/SocialAgentGraph.ts
  apps/api/agents/langgraph/WebSearchGraph/verify-types.ts
  apps/api/routes/antraege/simpleGeneration.ts
  apps/api/routes/documents/qdrantController.ts
  apps/api/scripts/backfillFullText.ts
  apps/api/scripts/diagnose-federated-links.ts
  apps/api/services/BaseSearchService/types.ts
  apps/api/services/admin/GrueneApiClient.ts
  apps/api/services/api-clients/nextcloudApiClient.ts
  apps/api/services/chat/threadTitleService.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/LandesverbandScraper.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/operations/SearchOperations.ts
  apps/api/services/scrapers/implementations/SatzungenScraper.ts
  apps/api/services/subtitler/ffmpegWrapper.ts
  apps/api/services/sync/WolkeSyncService.ts
  apps/api/services/texte/TexteIntentService.ts
  apps/api/utils/keycloak/apiClient.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor: type app.locals via module augmentation and add parseJSON utility
  apps/api/agents/langgraph/simpleInteractiveGenerator.ts
  apps/api/routes/chat/services/pendingActionStore.ts
  apps/api/routes/chat/services/pipelineStateStore.ts
  apps/api/routes/share/shareController.ts
  apps/api/routes/video/renderController.ts
  apps/api/services/WorkflowService/index.ts
  apps/api/services/chat/imagineGenerationService.ts
  apps/api/services/chat/sharepicGenerationService.ts
  apps/api/services/image/TemporaryImageStorage.ts
  apps/api/services/image/types.ts
  apps/api/services/mem0/personaService.ts
  apps/api/services/mistral/MistralEmbeddingService/embeddingCache.ts
  apps/api/services/notifications/notificationPubSub.ts
  apps/api/types/express.d.ts
  apps/api/utils/getAIWorkerPool.ts
  apps/api/utils/parseJSON.ts
  apps/api/utils/redis/BridgeCodeStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor: unify duplicate type definitions across API codebase
  apps/api/agents/chat/IntentClassifier.ts
  apps/api/agents/chat/types.ts
  apps/api/agents/langgraph/types/index.ts
  apps/api/routes/chat/grueneratorChat.ts
  apps/api/routes/chat/services/postResponseService.ts
  apps/api/routes/sharepic/sharepic_claude/types.ts
  apps/api/routes/sharepic/types.ts
  apps/api/routes/subtitler/types.ts
  apps/api/services/chat/EditIntentService.ts
  apps/api/services/subtitler/assSubtitleService.ts
  apps/api/services/subtitler/autoProcessingService.ts
  apps/api/services/subtitler/downloadUtils.ts
  apps/api/services/subtitler/exportService.ts
  apps/api/services/subtitler/ffmpegExportUtils.ts
  apps/api/services/subtitler/multiClipExportService.ts
  apps/api/services/subtitler/projectSavingService.ts
  apps/api/services/subtitler/segmentExportService.ts
  apps/api/services/subtitler/subtitleSizingService.ts
  apps/api/services/subtitler/transcriptionService.ts
  apps/api/services/subtitler/videoUploadService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: update typescript safety roadmap — Phase 3 complete
  docs/typescript-safety-roadmap.md
Due: prettier --write

refactor: fix no-unsafe-* lint errors in services and packages/shared
  packages/eslint-config/base.js
  packages/shared/src/canvas-editor/hooks/useCanvasHistory.ts
  packages/shared/src/generators/utils/errorMessages.ts
  packages/shared/src/image-studio/constants.ts
  packages/shared/src/image-studio/hooks/useImageStudio.ts
  packages/shared/src/image-studio/hooks/useImageStudioCanvas.ts
  packages/shared/src/image-studio/hooks/useKiImageGeneration.ts
  packages/shared/src/image-studio/image-source-service.ts
  packages/shared/src/image-studio/modification-transformers.ts
  packages/shared/src/image-studio/modification-validation.ts
  packages/shared/src/image-studio/utils/validation.ts
  packages/shared/src/media-library/api/mediaApi.ts
  packages/shared/src/utils/stringDistance.ts
  services/hocuspocus/src/redis.ts
  services/mcp/src/qdrant/client.ts
  services/mcp/src/services/bundestag-client.ts
  services/mcp/src/tools/search.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(eslint): add no-unsafe-* warn overrides for web, mobile, gruen-o-mat
  apps/gruen-o-mat/eslint.config.js
  apps/mobile/eslint.config.js
  apps/web/eslint.config.js
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat: add ts-rest pilot with contracts package and typed API client
  apps/web/package.json
  apps/web/src/hooks/useRecentValuesTyped.ts
  packages/contracts/package.json
  packages/contracts/src/contracts/exportsContract.ts
  packages/contracts/src/contracts/index.ts
  packages/contracts/src/contracts/recentValuesContract.ts
  packages/contracts/src/contracts/searchContract.ts
  packages/contracts/src/contracts/threadsContract.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/exports.ts
  packages/contracts/src/schemas/recentValues.ts
  packages/contracts/src/schemas/search.ts
  packages/contracts/src/schemas/threads.ts
  packages/contracts/tsconfig.json
  packages/shared/package.json
  packages/shared/src/api/contractsClient.ts
  packages/shared/src/api/index.ts
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: update typescript-safety-roadmap with verified metrics and Phase 3.6
  docs/typescript-safety-roadmap.md
Due: prettier --write

refactor: fix no-unsafe-* errors in authStore.ts and WebViewEditor.tsx
  apps/mobile/components/image-studio/WebViewEditor.tsx
  apps/web/src/stores/authStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor: fix no-unsafe-* and floating-promise errors in mobile research.tsx
  apps/mobile/app/(tabs)/(recherche)/research.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(eslint): add gruen-o-mat to root eslint config and fix lint errors
  apps/gruen-o-mat/src/components/GruenOMatAssistantMessage.tsx
  eslint.config.js
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor: fix all 180 no-unsafe-* violations in apps/mobile
  apps/mobile/app/(auth)/login.tsx
  apps/mobile/app/(fullscreen)/doc-editor.tsx
  apps/mobile/app/(fullscreen)/notification-settings.tsx
  apps/mobile/app/(fullscreen)/pushed-content.tsx
  apps/mobile/app/(fullscreen)/subtitle-editor.tsx
  apps/mobile/app/(tabs)/(desk)/gruppen.tsx
  apps/mobile/app/(tabs)/(desk)/index.tsx
  apps/mobile/app/(tabs)/(desk)/scanner.tsx
  apps/mobile/app/(tabs)/(desk)/transkription.tsx
  apps/mobile/app/(tabs)/(docs)/document/[id].tsx
  apps/mobile/app/(tabs)/(media)/index.tsx
  apps/mobile/app/(tabs)/profile.tsx
  apps/mobile/app/(tabs)/start.tsx
  apps/mobile/components/chat/MessageActionsSheet.tsx
  apps/mobile/components/docs/DocEditorDOM.tsx
  apps/mobile/components/docs/NativeChatSidebar.tsx
  apps/mobile/components/image-studio/TypeSelector.tsx
  apps/mobile/eslint.config.js
  apps/mobile/hooks/useEditRegeneration.ts
  apps/mobile/hooks/useNativeTTS.ts
  apps/mobile/hooks/useNotebookCollections.ts
  apps/mobile/hooks/useNotifications.ts
  apps/mobile/hooks/useRecentThreads.ts
  apps/mobile/services/api.ts
  apps/mobile/services/docs/docsApi.ts
  apps/mobile/services/docs/recentDocs.ts
  apps/mobile/services/documentPicker.ts
  apps/mobile/services/imageStudio.ts
  apps/mobile/services/pushNotifications.ts
  apps/mobile/services/reel.ts
  apps/mobile/utils/errors.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore: add type-safety ratchet CI script and update lint configs
  apps/web/eslint.config.js
  eslint.config.js
  packages/contracts/package.json
  scripts/type-safety-ratchet.sh
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write
