Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

feat(docs): agentura-regale aus dem code generieren
  .github/workflows/docs-build.yml
  apps/api/services/docs/docsIndex.generated.ts
  documentation/docs/agents/agentura.mdx
  documentation/docs/agents/eigene-agentinnen-erstellen.md
  documentation/package.json
  documentation/scripts/generate-agentura.mjs
  documentation/scripts/lib/audit.mjs
  documentation/src/components/AgenturaShelves/index.tsx
  documentation/src/components/AgenturaShelves/styles.module.css
  documentation/src/generated/agentura.json
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(office): mobiler präsentations-editor aus #2026
  apps/api/services/docs/docsIndex.generated.ts
  documentation/docs/office/intro.mdx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(knip): fix scan scope and dynamic entry points
  CLAUDE.md
  knip.json
Due: prettier --write

fix(boards,docs): gantt-sidebar responsiv und checklisten-hit-area
  apps/web/src/components/kibo-ui/gantt/index.tsx
  packages/docs/src/components/editor/BlockNoteEditor.css
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(ci): lint-fehler im freshness-auditor beheben
  apps/api/check-docs-freshness.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(sheets): univers native ribbon aktivieren
  apps/web/src/features/sheets/SheetFormatMenu.tsx
  apps/web/src/features/sheets/SheetsEditorPage.tsx
  packages/sheets/src/lib/createUniverInstance.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(web): remove dead files
  apps/web/src/features/monitor/meinungsbildConfig.ts
  apps/web/src/features/notebook/components/NotebookCreationProgress.tsx
  apps/web/src/features/notebook/components/NotebookGlobalChatLauncher.tsx
  apps/web/src/features/notebook/components/VonDerBasisSection.tsx
  apps/web/src/features/notebook/hooks/useDocumentStatusPolling.ts
  apps/web/src/features/scanner/DotGrid.tsx
  apps/web/src/features/scanner/index.ts
  apps/web/src/features/subtitler/hooks/useApiAction.ts
  apps/web/src/features/zeichenzaehler/index.ts
  apps/web/src/utils/titleExtractor.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(knip): declare vitest files as entry points
  knip.json
Due: prettier --write

fix(docs,sheets): topbar auf dem handy entlasten
  apps/web/src/features/docs/DocsEditorPage.tsx
  apps/web/src/features/sheets/SheetsEditorPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(boards): vergrößere übersehene touch-targets auf mobil
  apps/web/src/features/boards/components/BoardInlineHeader.tsx
  apps/web/src/features/boards/components/CardDetailPanel.tsx
  apps/web/src/features/boards/components/ColumnHeader.tsx
  apps/web/src/features/boards/components/ViewToolbar.tsx
  apps/web/src/features/documents/DocumentViewPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(boards): magische padding-zahl durch size-11 ersetzen
  apps/web/src/features/boards/components/ColumnHeader.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(sheets): univer-ribbon an grünerator-tokens angleichen, footer auf mobil ausdünnen
  packages/sheets/src/components/SheetsEditor.css
  packages/sheets/src/lib/createUniverInstance.ts
  packages/sheets/src/lib/univerTheme.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(styles): globale footer-regel auf .page-container scopen
  apps/web/src/assets/styles/pages/Impressum_datenschutz.css
Due: none

chore(knip): treat apps/api root scripts as entry points
  knip.json
Due: prettier --write

chore(mobile): remove dead files
  apps/mobile/components/image-studio/ModificationStep.tsx
  apps/mobile/components/image-studio/index.ts
  apps/mobile/components/profile/ContentItem.tsx
  apps/mobile/components/profile/InstructionCard.tsx
  apps/mobile/components/profile/index.ts
  apps/mobile/components/share/ShareModal.tsx
  apps/mobile/components/share/index.ts
  apps/mobile/components/sharepic/SharepicConfigModal.tsx
  apps/mobile/components/sharepic/SharepicResult.tsx
  apps/mobile/components/sharepic/SharepicTypeSelector.tsx
  apps/mobile/components/sharepic/index.ts
  apps/mobile/hooks/notebook/useNotebookChatRuntime.ts
  apps/mobile/hooks/useImageModification.ts
  apps/mobile/services/content.ts
  apps/mobile/services/index.ts
  apps/mobile/services/keycloakAuth.ts
  apps/mobile/services/notebook.ts
  apps/mobile/services/preferences.ts
  apps/mobile/stores/contentStore.ts
  apps/mobile/stores/index.ts
  apps/mobile/stores/instructionsStore.ts
  apps/mobile/types/navigation.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(web): remove dead files
  apps/web/src/components/common/AttachedFilesList.tsx
  apps/web/src/components/common/CanvaTemplateModal.tsx
  apps/web/src/components/common/ContentSelector.tsx
  apps/web/src/components/common/FeatureIcons.tsx
  apps/web/src/components/common/HelpTooltip.tsx
  apps/web/src/components/common/ImageDisplay.tsx
  apps/web/src/components/common/SharepicShareModal.tsx
  apps/web/src/components/common/ToolGrid.tsx
  apps/web/src/components/profile/actions/ProfileActionButton.tsx
  apps/web/src/components/utils/errorHandling.ts
  apps/web/src/features/image-studio/hooks/useAltText.ts
  apps/web/src/features/media-library/components/MediaPickerModal.tsx
  apps/web/src/features/models/hooks/useImageModelPreference.ts
  apps/web/src/features/wolke/lib/wolkeApi.ts
  apps/web/src/hooks/useAutosave.ts
  apps/web/src/hooks/useImageModelPreferenceTyped.ts
  apps/web/src/stores/core/generatorSelectionStore.ts
  apps/web/src/utils/textUtils.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(packages): remove dead files
  packages/canvas-editor/src/components/CanvasLockOverlay.tsx
  packages/canvas-editor/src/components/CanvasResultActions.tsx
  packages/canvas-editor/src/components/TopBar/modules/FloatingBlurControl.tsx
  packages/canvas-editor/src/components/index.ts
  packages/canvas-editor/src/hooks/useBackendCanvasExport.ts
  packages/canvas-editor/src/icons/BalkenIcon.tsx
  packages/canvas-editor/src/icons/index.ts
  packages/canvas-editor/src/utils/canvasSerializer.ts
  packages/canvas-editor/src/utils/downloadCanvas.ts
  packages/chat/src/components/tool-ui/citation/RegistryCitation.tsx
  packages/chat/src/components/tool-ui/citation/registrySchema.ts
  packages/docs/src/components/icons/index.ts
  packages/shared/src/image-studio/hooks/index.ts
  packages/shared/src/image-studio/utils/index.ts
  packages/shared/src/media-library/hooks/index.ts
  packages/shared/src/media-library/stores/index.ts
  packages/sites/src/components/WordPressJsonResult.tsx
  services/mcp/src/tools/notebooks-ask.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(gantt): balken per touch verschieben und resizen
  apps/web/src/components/kibo-ui/gantt/index.tsx
  apps/web/src/features/boards/BoardPage.tsx
  apps/web/src/features/boards/components/BoardGanttView.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(agentura): umbenennung grünerator-agent zu ende führen
  apps/web/src/features/agents/AgentBuilderPage.tsx
  apps/web/src/features/agents/AgentCard.tsx
  apps/web/src/features/agents/AgentEditor.tsx
  apps/web/src/features/agents/AgentPreview.tsx
  apps/web/src/features/agents/api.ts
  apps/web/src/features/agents/experimentalWarning.tsx
  apps/web/src/features/agentura/AgentDetailPage.tsx
  apps/web/src/features/agentura/components/ShareAgentModal.tsx
  documentation/docs/experimente/_category_.json
  documentation/docs/experimente/feed.md
  documentation/docs/experimente/intro.md
  documentation/docs/experimente/lexikon.md
  documentation/docs/experimente/themen.md
  documentation/docs/experimente/umfragen.md
  documentation/docs/experimente/watcher.md
  documentation/docs/gruenerieren/dateien-hinzufuegen.md
  documentation/docs/gruenerieren/websuche.md
  documentation/docs/integrationen/konnektoren.mdx
  documentation/docs/integrationen/mcp-was-kann-ich-fragen.mdx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: restliche artikel am code verankern
  .github/workflows/docs-build.yml
  apps/api/check-docs-freshness.ts
  apps/api/services/docs/docsIndex.generated.ts
  documentation/docs/experimente/_category_.json
  documentation/docs/experimente/intro.md
  documentation/docs/gruenerieren/dateien-hinzufuegen.mdx
  documentation/docs/gruenerieren/was-kann-ich-fragen.mdx
  documentation/docs/integrationen/gruen-o-mat-einbetten.md
  documentation/docs/integrationen/konnektoren.mdx
  documentation/docs/integrationen/mcp-was-kann-ich-fragen.mdx
  documentation/docs/notebooks/eigenes-notebook-erstellen.md
  documentation/docusaurus.config.ts
  documentation/package.json
  documentation/scripts/generate-docs-index.mjs
  documentation/scripts/generate-reference.mjs
  documentation/scripts/lib/ast.mjs
  documentation/src/components/Reference/index.tsx
  documentation/src/components/Reference/styles.module.css
  documentation/src/generated/reference.json
  documentation/src/pages/index.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write
