Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(docs): migrate ShareModal to Mantine components and fix theme colors
  apps/docs/src/components/chat/ChatComposer.tsx
  apps/docs/src/components/permissions/ShareModal.css
  apps/docs/src/components/permissions/ShareModal.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: add Mantine conventions for docs app to CLAUDE.md
  CLAUDE.md
Due: prettier --write

chore: update dependencies across all packages
  apps/api/package.json
  apps/desktop/package.json
  apps/docs-desktop/package.json
  apps/docs-expo/package.json
  apps/docs/package.json
  apps/mobile/package.json
  apps/sites/package.json
  apps/web/package.json
  documentation/package.json
  package.json
  packages/chat/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/shared/package.json
  pnpm-lock.yaml
  services/hocuspocus/package.json
  services/mcp/package.json
Due: prettier --write

docs: add Express 5 route typing and ESLint conventions to CLAUDE.md
  CLAUDE.md
Due: prettier --write

fix(auth): increase OIDC staleness threshold to 15min and auto-redirect on expiry
  apps/api/config/keycloakOIDCStrategy.ts
  apps/api/routes/auth/authCore.ts
  apps/api/utils/redis/OIDCStateStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docker): copy .npmrc into API build to fix missing express-serve-static-core types
  apps/api/Dockerfile
Due: none

chore: hide Dokumente beta toggle in profile settings
  apps/web/src/features/auth/components/profile/tabs/ProfileInfo/SettingsSection.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(popup): add auth-gating and keyboard dismiss to BasePopup
  apps/web/src/components/Popups/popup_austria_launch.tsx
  apps/web/src/components/common/Popup/BasePopup.tsx
  apps/web/src/hooks/usePopupDismiss.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): merge Mantine into vendor-editor chunk to fix useLayoutEffect crash
  apps/docs/vite.config.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): reduce excessive mobile side spacing in editor and homepage
  apps/docs/src/components/editor/BlockNoteEditor.css
  apps/docs/src/pages/EditorPage.css
  apps/docs/src/pages/HomePage.css
  packages/docs/src/components/editor/BlockNoteEditor.css
Due: none

feat(api): add profile auto-sync for fallback auth users
  apps/api/config/passportSetup.ts
  apps/api/middleware/ensureProfileMiddleware.ts
  apps/api/routes/auth/userProfile.ts
  apps/api/utils/keycloak/authenticatedRouter.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): implement {{#if}} conditional blocks in template engine
  apps/api/agents/langgraph/PromptProcessor.ts
  apps/api/agents/langgraph/PromptProcessor.vitest.ts
  apps/api/prompts/rede.json
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): use ref pattern for isCrawling to prevent stale closures
  apps/web/src/components/pages/Grüneratoren/GrueneJugendGenerator.tsx
  apps/web/src/features/generators/CustomGeneratorPage.tsx
  apps/web/src/features/texte/tabs/BarrierefreiheitTab.tsx
  apps/web/src/features/texte/tabs/PresseSocialTab.tsx
  apps/web/src/features/texte/tabs/TextEditorTab.tsx
  apps/web/src/features/texteditor/TextEditorPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): tighten URL crawler retry and JS detection logic
  apps/api/services/scrapers/implementations/UrlCrawler/UrlCrawler.ts
  apps/api/services/scrapers/implementations/UrlCrawler/crawlers/CrawleeCrawler.ts
  apps/web/src/hooks/useUrlCrawler.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): return validation error message in 400 response body
  apps/api/utils/errors/routes.ts
  apps/web/src/components/common/Form/hooks/useBaseForm.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(mobile): add expo-build-properties with SDK 35 target
  apps/mobile/app.json
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: broaden .easignore for faster EAS builds
  .easignore
Due: none

fix(web): pass onAttachmentClick directly to preserve file arguments
  apps/web/src/components/common/Form/BaseForm/FormExtrasSection.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): move attached files list below feature icons row
  apps/web/src/assets/styles/components/ui/FeatureIcons.css
  apps/web/src/components/common/FeatureIcons.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): remove unused useState import from TextEditorTab
  apps/web/src/features/texte/tabs/TextEditorTab.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
