Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

perf(chat): throttle notebook streaming yields and remove debug logging
  apps/web/src/features/notebook/components/NotebookAssistantMessage.tsx
  packages/chat/src/components/MarkdownContent.tsx
  packages/chat/src/runtime/NotebookModelAdapter.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(mcp): add required country parameter for locale-aware search and prompts
  services/mcp/src/index.ts
  services/mcp/src/prompts/agent-data.ts
  services/mcp/src/prompts/agent-prompts.ts
  services/mcp/src/resources/system-prompt.ts
  services/mcp/src/tools/search.ts
  services/mcp/src/utils/localization.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix: regenerate pnpm-lock.yaml to match updated package.json specifiers
  pnpm-lock.yaml
Due: prettier --write

fix(api): increase tsc heap size in Docker build to prevent OOM
  apps/api/Dockerfile
Due: none

fix(api): optimize Docker build with tsconfig.build.json
  apps/api/Dockerfile
  apps/api/tsconfig.build.json
Due: prettier --write

fix: patch security vulnerabilities and update outdated dependencies
  apps/api/package.json
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/chat/package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
  services/mcp/package.json
Due: prettier --write

perf(ci): switch Docker cache from GHA to registry-based
  .github/workflows/build-images.yml
Due: prettier --write

fix: add upper bounds to security override ranges and remove unused imports
  apps/api/agents/langgraph/AntragAgentGraph/utils/backgroundDocumentFormatter.vitest.ts
  apps/web/src/features/notebook/pages/NotebooksGalleryPage.tsx
  apps/web/src/providers/GlobalChatProvider.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): add autoDocumentSearch and collab to allowed beta features
  apps/api/routes/auth/userProfile.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(subtitler): fix portrait video export distortion from wrong rotation detection
  apps/api/services/subtitler/backgroundCompressionService.ts
  apps/api/services/subtitler/downloadUtils.ts
  apps/api/services/subtitler/exportService.ts
  apps/api/services/subtitler/ffmpegExportUtils.ts
  apps/api/services/subtitler/videoUploadService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Release: test-branch → master (v2) (#498)
  apps/api/agents/langgraph/AntragAgentGraph/utils/backgroundDocumentFormatter.vitest.ts
  apps/api/routes/auth/userProfile.ts
  apps/api/services/subtitler/backgroundCompressionService.ts
  apps/api/services/subtitler/downloadUtils.ts
  apps/api/services/subtitler/exportService.ts
  apps/api/services/subtitler/ffmpegExportUtils.ts
  apps/api/services/subtitler/videoUploadService.ts
  apps/web/src/features/notebook/pages/NotebooksGalleryPage.tsx
  apps/web/src/providers/GlobalChatProvider.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): use relative URLs for desktop download links
  apps/api/routes/releases/releasesController.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): prevent auth redirect on public pages like /datenschutz
  apps/web/src/axios.d.ts
  apps/web/src/features/shared-media/SharedMediaPage.tsx
  apps/web/src/hooks/useAuth.ts
  apps/web/src/hooks/useRecentTexts.ts
  apps/web/src/stores/betaFeaturesStore.ts
  apps/web/src/stores/documentsStore.ts
  apps/web/src/stores/userDefaultsStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Test branch (#499)
  apps/api/routes/releases/releasesController.ts
  apps/web/src/axios.d.ts
  apps/web/src/features/shared-media/SharedMediaPage.tsx
  apps/web/src/hooks/useAuth.ts
  apps/web/src/hooks/useRecentTexts.ts
  apps/web/src/stores/betaFeaturesStore.ts
  apps/web/src/stores/documentsStore.ts
  apps/web/src/stores/userDefaultsStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): add skipAuthRedirect to ProfileButton API calls
  apps/web/src/features/auth/services/profileApiService.ts
  apps/web/src/features/groups/hooks/useGroups.js
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore: add beta.gruenerator.eu domains, update CLAUDE.md, add upgrade plan
  CLAUDE.md
  MAJOR-DEPS-UPGRADE-PLAN.md
  apps/api/config/domains.ts
  apps/web/public/robots.txt
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): prevent public pages from redirecting to login on 401
  apps/web/src/components/utils/apiClient.js
  apps/web/src/features/notebook/stores/notebookStore.ts
  apps/web/src/providers/GlobalChatProvider.tsx
  apps/web/src/utils/authRedirect.ts
  packages/chat/src/runtime/GrueneratorChatProvider.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix: patch rollup CVE-2026-27606 (arbitrary file write via path traversal)
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(chat): resolve race condition causing public page redirect to login
  apps/web/src/components/utils/apiClient.js
  apps/web/src/providers/GlobalChatProvider.tsx
  apps/web/src/utils/authRedirect.ts
  packages/chat/src/context/ChatContext.tsx
  packages/chat/src/runtime/GrueneratorChatProvider.tsx
  packages/chat/src/runtime/GrueneratorThreadListAdapter.ts
  packages/chat/src/stores/chatConfigStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore: remove debug logs from auth redirect fix
  apps/web/src/components/utils/apiClient.js
  apps/web/src/providers/GlobalChatProvider.tsx
  apps/web/src/utils/authRedirect.ts
  packages/chat/src/context/ChatContext.tsx
  packages/chat/src/runtime/GrueneratorChatProvider.tsx
  packages/chat/src/runtime/GrueneratorThreadListAdapter.ts
  packages/chat/src/stores/chatConfigStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): resolve 403 on direct navigation to /imagine/
  apps/web/Dockerfile
Due: none

feat(web): gate "In Docs exportieren" on docs beta feature
  apps/web/src/components/common/ExportDropdown.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
