Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): bei gleichem score entscheidet der titel
  apps/api/evals/retrieval/cases.ts
  apps/api/services/BaseSearchService/BaseSearchService.ts
  apps/api/services/BaseSearchService/titleTieBreak.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): tote schreibwege aus dem notizbuch-store entfernen
  apps/web/src/features/notebook/stores/notebookStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: pr, der ein issue abarbeitet, haengt es zum schliessen an
  CLAUDE.md
Due: prettier --write

fix(mobile): suchtiefe verschwindet aus dem recherche-filter
  apps/mobile/components/notebook/NotebookResearchPanel.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(search): trefferkarte zeigt, wie oft der begriff vorkommt
  apps/api/evals/retrieval/mentionCountCheck.ts
  apps/api/package.json
  apps/api/routes/notebook/notebookContractRouter.ts
  apps/api/routes/research/researchContractRouter.ts
  apps/api/services/BaseSearchService/BaseSearchService.ts
  apps/api/services/BaseSearchService/termChunkCount.vitest.ts
  apps/api/services/BaseSearchService/types.ts
  apps/mobile/app/(tabs)/(recherche)/research.tsx
  apps/mobile/components/notebook/ResearchResultCard.tsx
  apps/mobile/hooks/notebook/useNotebookResearch.ts
  apps/web/src/features/notebook/manual-search/researchResultCard.tsx
  packages/contracts/src/schemas/notebook.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/researchHitLabel.ts
  packages/shared/src/utils/researchHitLabel.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(instances): eine instanz mit genau einer rolle vergibt sie selbst
  apps/api/routes/auth/userProfileContractRouter.ts
  apps/api/services/roles/instanceRoleAssignment.ts
  apps/api/services/roles/instanceRoleAssignment.vitest.ts
  apps/web/src/features/settings/tabs/OnboardingTab.tsx
  apps/web/src/features/settings/tabs/OnboardingTab.vitest.tsx
  apps/web/src/features/settings/tabs/RolesSection.tsx
  apps/web/src/features/settings/tabs/RolesSection.vitest.tsx
  packages/shared/src/instances/index.ts
  packages/shared/src/roles/instanceRoleOffer.ts
  packages/shared/src/roles/instanceRoleOffer.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(api): tote zweitkopie des dokument-scorings entfernen
  apps/api/evals/retrieval/capSaturationCheck.ts
  apps/api/services/document-services/DocumentSearchService/DocumentSearchService.ts
  apps/api/services/document-services/DocumentSearchService/scoring.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(api): prüfmittel für die sättigung im dokument-scoring
  apps/api/evals/retrieval/capSaturationCheck.ts
  apps/api/package.json
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(admin): der administrationsbereich zeigt, was die instanz führt
  apps/api/routes.ts
  apps/api/routes/admin/instanceAdminOverviewContractRouter.ts
  apps/api/routes/skills/skillVisibilityContractRouter.ts
  apps/api/routes/skills/skillVisibilityContractRouter.vitest.ts
  apps/web/src/config/routes.ts
  apps/web/src/config/sidebarFavouritesConfig.ts
  apps/web/src/config/workplaceToolsConfig.ts
  apps/web/src/features/admin/AdminDashboardPage.tsx
  apps/web/src/features/admin/AdminPage.tsx
  apps/web/src/features/admin/AdminPage.vitest.tsx
  apps/web/src/features/admin/AdminSkillsPage.tsx
  apps/web/src/features/admin/bgst/BgstAdminPage.tsx
  apps/web/src/features/admin/bgst/hooks/useBgstOverview.ts
  apps/web/src/features/admin/components/RequireAdmin.tsx
  apps/web/src/features/admin/hooks/useInstanceOverview.ts
  apps/web/src/features/admin/tabs/RolesTab.tsx
  apps/web/src/features/admin/tabs/SkillsTab.tsx
  apps/web/src/features/admin/tabs/UsersTab.tsx
  apps/web/src/features/admin/tabs/VorlagenTab.tsx
  apps/web/src/features/chat/ChatPage.tsx
  apps/web/src/features/global-search/toolCatalog.ts
  apps/web/src/hooks/useInstanceAdminOverviewTyped.ts
  packages/contracts/src/contracts/index.ts
  packages/contracts/src/contracts/instanceAdminOverviewContract.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/instanceAdminOverview.ts
  packages/shared/src/agents/index.ts
  packages/shared/src/agents/landesverbandHubs.ts
  packages/shared/src/agents/landesverbandHubs.vitest.ts
  packages/shared/src/api/contractsClient.ts
  packages/shared/src/instances/index.ts
  packages/shared/src/instances/index.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(admin): agenten lassen sich schalten wie rezepte
  apps/api/database/postgres/migrations/create_admin_hidden_agents.sql
  apps/api/database/schema/adminHiddenAgents.ts
  apps/api/database/schema/index.ts
  apps/api/routes.ts
  apps/api/routes/agents/agentVisibilityContractRouter.ts
  apps/api/routes/agents/agentVisibilityContractRouter.vitest.ts
  apps/api/services/agents/AdminHiddenAgentsService.ts
  apps/api/services/agents/AdminHiddenAgentsService.vitest.ts
  apps/api/services/chat/productKnowledge.ts
  apps/api/services/chat/productKnowledge.vitest.ts
  apps/web/src/features/admin/AdminPage.tsx
  apps/web/src/features/admin/AdminPage.vitest.tsx
  apps/web/src/features/admin/hooks/useAdminAgents.ts
  apps/web/src/features/admin/tabs/AgentsTab.tsx
  apps/web/src/features/agentura/AgenturaPage.tsx
  apps/web/src/features/boards/hooks/useBoardAgentOptions.ts
  apps/web/src/features/global-search/featureIndex.ts
  apps/web/src/features/global-search/useFeatureIndex.ts
  apps/web/src/hooks/useAdminAgentsTyped.ts
  packages/chat/src/hooks/useMentionablesQuery.ts
  packages/chat/src/index.ts
  packages/chat/src/lib/agents.ts
  packages/chat/src/lib/hiddenAgentsState.ts
  packages/contracts/src/contracts/agentVisibilityContract.ts
  packages/contracts/src/contracts/index.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/adminAgents.ts
  packages/shared/src/agents/agentVisibility.ts
  packages/shared/src/agents/agentVisibility.vitest.ts
  packages/shared/src/agents/audience.ts
  packages/shared/src/agents/index.ts
  packages/shared/src/api/contractsClient.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(instances): ein gesperrtes rezept ist auch nicht im angebot
  packages/shared/src/agents/index.ts
  packages/shared/src/agents/skillInstances.ts
  packages/shared/src/agents/skillInstances.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: zwei kopfkommentare nachziehen, die einen alten stand beschreiben
  apps/api/services/document-services/DocumentProcessingService/fileProcessing.ts
  apps/mobile/components/office/officeItem.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: handy-abschnitt und agentura-einstieg auf den echten stand ziehen
  documentation/docs/grueneratoren/eigene-agentinnen-erstellen.md
  documentation/docs/office/intro.mdx
Due: prettier --write

fix(db): fremdschlüssel auf chat_messages steht jetzt hinter der tabelle
  apps/api/database/postgres/migrations/zz_20260826_chat_threads_compacted_message_fk.sql
  apps/api/database/postgres/schema.sql
Due: none

fix(db): drei migrationen scheitern nicht mehr bei jedem boot
  apps/api/database/postgres/migrations/add_board_comments.sql
  apps/api/database/postgres/migrations/add_canvas_documents.sql
  apps/api/database/postgres/migrations/fix_profile_deletion_fk_constraints.sql
Due: none

test(db): wächter für schema-reihenfolge und idempotente migrationen
  apps/api/database/postgres/schemaAndMigrations.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): vollständigkeitsfragen führen zur volltext-scheibe
  apps/api/routes/chat/agents/toolCatalog.ts
  apps/api/routes/chat/agents/toolCatalog.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): geteilte rezepte tragen ihre gruppenherkunft bis in die mention-liste
  packages/chat/src/components/thread/MentionPopover.vitest.tsx
  packages/chat/src/lib/mentionableSync.ts
  packages/chat/src/lib/mentionables.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(mobile): app leitet ihren instanz-zuschnitt aus der api-herkunft ab
  apps/mobile/app/(focused)/agents.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/config/instance.ts
  apps/mobile/config/instance.vitest.ts
  apps/mobile/config/notebooksConfig.ts
  apps/mobile/config/notebooksConfig.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): barrierefreiheit und support sind ein bereich
  apps/web/src/features/settings/SettingsDialog.tsx
  apps/web/src/features/settings/SettingsDialog.vitest.tsx
  apps/web/src/features/settings/SettingsRedirect.tsx
  apps/web/src/features/settings/components/SettingsSkeleton.tsx
  apps/web/src/features/settings/settingsTabs.ts
  apps/web/src/features/settings/tabs/AccessibilityTab.tsx
  apps/web/src/features/settings/tabs/SupportTab.tsx
  documentation/src/components/SettingsOverview/tabNotes.ts
  documentation/src/generated/settings.json
  packages/shared/src/settings/catalog.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
