Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): add IP-based rate limiting to unprotected routes
  apps/api/routes.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(sites): add sites-design package to Docker build and CI path filter
  .github/workflows/build-images.yml
  apps/sites/Dockerfile
Due: prettier --write

fix(docs): add fonts directory to Docker build for Vite resolution
  apps/docs/Dockerfile
Due: none

feat(research): widen filter popovers on desktop and rename to Recherche
  apps/web/src/features/research/ResearchPage.tsx
  apps/web/src/features/research/components/ResearchFilterPanel.tsx
  apps/web/src/features/research/components/ResearchSettingsPanel.tsx
  apps/web/src/features/tools/ToolsPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(ui): add collisionPadding to PopoverContent for viewport-aware positioning
  apps/web/src/components/ui/popover.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): inline sharing label next to date in document cards
  packages/docs/src/components/document/DocumentList.css
  packages/docs/src/components/document/DocumentList.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

perf(research): optimize filter loading with Qdrant facet API, parallelization, and React Query
  apps/api/database/services/QdrantService/facets.ts
  apps/api/routes/research/researchController.ts
  apps/api/server.ts
  apps/web/src/features/research/ResearchPage.tsx
  apps/web/src/features/research/components/ResearchFilterPanel.tsx
  apps/web/src/features/research/components/ResearchSettingsPanel.tsx
  apps/web/src/features/research/useResearchFilters.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(wordpress): migrate Sass @import to @use/@forward module system
  apps/wordpress/admin/css/admin-styles.scss
  apps/wordpress/src/blocks/about-block/editor.scss
  apps/wordpress/src/blocks/about-block/style.scss
  apps/wordpress/src/blocks/contact-form-block/editor.scss
  apps/wordpress/src/blocks/contact-form-block/style.scss
  apps/wordpress/src/blocks/hero-block/style.scss
  apps/wordpress/src/blocks/hero-image-block/editor.scss
  apps/wordpress/src/blocks/hero-image-block/style.scss
  apps/wordpress/src/blocks/link-kacheln/editor.scss
  apps/wordpress/src/blocks/link-kacheln/style.scss
  apps/wordpress/src/blocks/meine-themen-block/editor.scss
  apps/wordpress/src/blocks/meine-themen-block/style.scss
  apps/wordpress/src/editor.scss
  apps/wordpress/src/index.scss
  apps/wordpress/src/style.scss
  apps/wordpress/src/styles/_index.scss
  apps/wordpress/src/styles/admin-dashboard.scss
  apps/wordpress/src/styles/base/_typography.scss
  apps/wordpress/src/styles/components/_buttons.scss
  apps/wordpress/src/styles/components/_cards.scss
  apps/wordpress/src/styles/components/_completion-page.scss
  apps/wordpress/src/styles/components/_forms.scss
  apps/wordpress/src/styles/components/_progress-bar.scss
  apps/wordpress/src/styles/components/_welcome-page.scss
  apps/wordpress/src/styles/landing-page.scss
  apps/wordpress/src/styles/settings.scss
  apps/wordpress/src/styles/setup-wizard.scss
  apps/wordpress/src/styles/theme-bridge.scss
Due: none

feat(notebook): add Grünblog collection as searchable notebook
  apps/api/config/collectionMap.ts
  apps/api/config/notebookCollectionMap.ts
  apps/api/config/qdrantCollectionsSchema.ts
  apps/api/config/systemCollectionsConfig.ts
  apps/api/scrape-gruenblog.ts
  apps/api/services/scrapers/implementations/GruenblogScraper.ts
  apps/web/src/config/routes.ts
  apps/web/src/features/notebook/config/notebookPagesConfig.js
  apps/web/src/features/notebook/config/notebooksConfig.js
  packages/chat/src/lib/mentionables.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(ui): migrate header bar and profile dropdown to Tailwind + shadcn
  apps/web/src/assets/styles/common/variables.css
  apps/web/src/assets/styles/components/layout/header.css
  apps/web/src/assets/styles/components/layout/profile-dropdown.css
  apps/web/src/assets/styles/index.css
  apps/web/src/assets/styles/layout.css
  apps/web/src/components/common/Layout/PageLayout.tsx
  apps/web/src/components/layout/DesktopTitlebar/DesktopTitlebar.tsx
  apps/web/src/components/layout/DesktopTitlebar/desktop-titlebar.css
  apps/web/src/components/layout/Header/Header.tsx
  apps/web/src/components/layout/Header/ProfileButton.tsx
  apps/web/src/components/layout/SidebarToggle/SidebarToggle.css
  apps/web/src/features/auth/components/profile/ProfileMenu.tsx
  documentation/docusaurus.config.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: update model names to match current backend
  documentation/docs/gruenerieren/privacy-mode.md
  documentation/docs/gruenerieren/pro-modus.md
  documentation/docs/ueber-den-gruenerator/intro.md
Due: prettier --write

fix(image-studio): prevent blank page when editing gallery items without original image
  apps/web/src/features/image-studio/gallery/ImageGallery.tsx
  apps/web/src/features/image-studio/services/editingSessionService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): detect Firefox chunk load errors for auto-reload
  apps/web/src/components/ErrorBoundary.tsx
  apps/web/src/index.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): filter Safari "Load failed" errors in Sentry
  apps/web/src/index.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): add unified daily content sync with gruene.at scraper
  .github/workflows/content-sync.yml
  apps/api/package.json
  apps/api/scrape-gruene-at.ts
  apps/api/services/scrapers/implementations/GrueneAtScraper.ts
  apps/api/update-all-content.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): rename Apps page to "Apps & Connect" with MCP server info
  apps/web/src/components/layout/Header/menuData.tsx
  apps/web/src/config/routes.ts
  apps/web/src/features/apps/AppsPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): add Safari 15 build target to fix ES2022 class field ReferenceError
  apps/web/src/index.tsx
  apps/web/vite.config.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): increase file attachment size limit from 5MB to 25MB
  apps/api/services/attachments/constants.ts
  apps/web/src/utils/fileAttachmentUtils.ts
  packages/chat/src/lib/fileUtils.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): increase chat route JSON body limit to 50MB
  apps/api/routes/chat/chatGraphController.ts
  apps/api/routes/chat/grueneratorChat.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: update profile docs to reflect Erinnerungen feature
  documentation/docs/Profil/anweisungen-wissen.md
Due: prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
