Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(media): request sized preview variants in the remaining library surfaces
  apps/api/routes/media/mediaController.ts
  apps/api/routes/search/globalSearchContractRouter.ts
  apps/web/src/features/media-library/MediaLibraryPage.tsx
  packages/presentations/src/components/SlideImageDialog.test.tsx
  packages/presentations/src/components/SlideImageDialog.tsx
  packages/shared/src/media-library/types.ts
  packages/sites/src/components/media/SiteMediaPicker.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): make the "Anträge" text-form preset actually reachable
  apps/api/routes/chat/agents/recipeCatalog.ts
  apps/api/routes/chat/agents/recipeCatalog.vitest.ts
  apps/web/src/features/settings/tabs/TexteAnlernenTab.tsx
  apps/web/src/features/settings/tabs/TexteAnlernenTab.vitest.tsx
  apps/web/src/features/settings/tabs/texteAnlernen/TextFormEditor.tsx
  apps/web/src/features/settings/tabs/texteAnlernen/recipeMeta.ts
  packages/chat/src/lib/mentionableSync.ts
  packages/chat/src/lib/mentionableSync.vitest.ts
  packages/shared/src/agents/index.ts
  packages/shared/src/agents/skills/index.ts
  packages/shared/src/agents/skills/skillMentions.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): declare better-auth and tauri updater used by web sources
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(docker): scope builder installs to the filtered dependency closure
  apps/api/Dockerfile
  apps/gruen-o-mat/Dockerfile
  apps/web/Dockerfile
  documentation/Dockerfile
  services/hocuspocus/Dockerfile
Due: none

fix(web): starred agents shared by others reach the sidebar
  apps/web/src/components/layout/Sidebar/GrueneratorenSidebarSection.tsx
  apps/web/src/components/layout/Sidebar/Sidebar.tsx
  apps/web/src/features/agentura/AgentDetailPage.tsx
  apps/web/src/features/agentura/AgenturaPage.tsx
  apps/web/src/stores/agentFavoritesStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(content-sync): drop AppleDouble sidecars and let error texts reach the report
  apps/api/routes/internal/contentSyncContractRouter.ts
  apps/api/services/scrapers/implementations/GrueneDeScraper.ts
  apps/api/services/scrapers/utils/wolkeMediaTypes.vitest.ts
  apps/api/services/scrapers/utils/wolkeShareHandler.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(docs): regenerate the chat docs index after the content-stats update
  apps/api/services/docs/docsIndex.generated.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(docs): regenerate the chat docs index after the content-stats drift
  apps/api/services/docs/docsIndex.generated.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(content-sync): format the stats page before generating the docs index
  .github/workflows/content-sync.yml
Due: prettier --write

test(web): cover the agent-favourites migration and title snapshots
  apps/web/src/stores/agentFavoritesStore.vitest.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): group-shared Grüneratoren become mentionable, with their origin
  apps/api/routes/userAgents/userAgentsContractRouter.ts
  apps/api/services/userAgents/mergeMentionableAgents.vitest.ts
  apps/api/services/userAgents/userAgentsRepository.ts
  apps/mobile/hooks/useMentionablesSync.ts
  packages/chat/src/components/thread/MentionPopover.tsx
  packages/chat/src/components/thread/MentionPopover.vitest.tsx
  packages/chat/src/hooks/useMentionablesQuery.ts
  packages/chat/src/index.native.ts
  packages/chat/src/index.ts
  packages/chat/src/lib/mentionInsertion.ts
  packages/chat/src/lib/mentionInsertion.vitest.ts
  packages/chat/src/lib/mentionParser.ts
  packages/chat/src/lib/mentionParser.vitest.ts
  packages/chat/src/lib/mentionableSync.ts
  packages/chat/src/lib/mentionableSync.vitest.ts
  packages/chat/src/lib/mentionables.ts
  packages/contracts/src/contracts/userAgentsContract.ts
  packages/contracts/src/schemas/userAgents.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): keep uploaded images out of the creation feeds
  apps/api/database/schema/media.ts
  apps/api/routes/content/contentQueries.ts
  apps/api/services/sharedMediaOrigin.ts
  apps/api/services/sharedMediaService.ts
  apps/api/services/sharedMediaService.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(content-sync): count upstream dead links apart from errors
  .github/workflows/content-sync.yml
  apps/api/routes/internal/contentSyncContractRouter.ts
  apps/api/services/scrapers/base/BaseScraper.ts
  apps/api/services/scrapers/base/BaseScraper.vitest.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/LandesverbandScraper.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/resultSamples.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/resultSamples.vitest.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/types.ts
  apps/api/types/syncTypes.ts
  apps/api/wrap-sync-result.ts
  packages/contracts/src/schemas/contentSync.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(content-sync): refuse a dry run the source cannot honour
  .github/workflows/content-sync.yml
  apps/api/routes/internal/contentSyncContractRouter.ts
  apps/api/routes/internal/contentSyncDryRun.ts
  apps/api/routes/internal/contentSyncDryRun.vitest.ts
  packages/contracts/src/contracts/contentSyncContract.ts
  packages/contracts/src/schemas/contentSync.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): make the group-share tie-break deterministic and stop swallowing fetch errors
  apps/api/services/userAgents/userAgentsRepository.ts
  packages/chat/src/lib/mentionableSync.ts
  packages/chat/src/lib/mentionableSync.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(content-sync): make a dropped sync schedule visible
  .github/workflows/ci-failure-issue.yml
  .github/workflows/content-sync-watchdog.yml
  .github/workflows/content-sync.yml
Due: prettier --write

refactor(api): name the two shared_media filter policies
  apps/api/routes/chat/agents/personalDataTools.ts
  apps/api/routes/chat/agents/personalDataTools.vitest.ts
  apps/api/routes/content/contentQueries.ts
  apps/api/routes/workplace/recentActivityController.ts
  apps/api/services/sharedMediaFilters.ts
  apps/api/services/sharedMediaFilters.vitest.ts
  apps/api/services/sharedMediaService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): the media list calls KI images KI images, not Sharepics
  apps/api/routes/chat/agents/personalDataTools.ts
  apps/api/routes/chat/agents/personalDataTools.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
