Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(api): extract MAX_AI_FIELDS constant and fix default field type fallback
  apps/api/routes/custom_generators/generator_configurator.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(shared): downgrade projectsStore error logs to warnings
  packages/shared/src/stores/projectsStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(mobile): add sharepic template selector and DOM canvas editor
  apps/mobile/app/(focused)/image-studio-create/_layout.tsx
  apps/mobile/app/(focused)/image-studio-create/template-input.tsx
  apps/mobile/app/(fullscreen)/webview-editor.tsx
  apps/mobile/app/(tabs)/(media)/image-studio/index.tsx
  apps/mobile/components/dom/CanvasEditorDOM.tsx
  apps/mobile/components/image-studio/ResultDisplay.tsx
  apps/mobile/components/image-studio/TemplateInputStep.tsx
  apps/mobile/components/image-studio/TypeSelector.tsx
  apps/mobile/images/imagine/templates/dreizeilen-preview.webp
  apps/mobile/images/imagine/templates/info-preview.webp
  apps/mobile/images/imagine/templates/simple-preview.webp
  apps/mobile/images/imagine/templates/veranstaltung-preview.webp
  apps/mobile/images/imagine/templates/zitat-preview.webp
  apps/mobile/images/imagine/templates/zitat-pure-preview.webp
  apps/mobile/types/routes.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(mobile): integrate Sentry error tracking
  .env.example
  apps/mobile/app.json
  apps/mobile/app/_layout.tsx
  apps/mobile/components/common/ErrorBoundary.tsx
  apps/mobile/metro.config.js
  apps/mobile/services/sentry.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): guard ChatThreadPortal behind auth to prevent AuiProvider crash
  apps/web/src/App.tsx
  apps/web/src/providers/GlobalChatProvider.tsx
  packages/chat/src/runtime/GrueneratorChatProvider.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: update README to reflect current monorepo state
  README.md
Due: prettier --write

fix(deps): patch tar symlink path traversal vulnerability (CVE-2026-31802)
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(canvas-editor): match mobile web floating toolbar to native app design
  packages/canvas-editor/src/components/FloatingTapBar/FloatingTapBar.tsx
  packages/canvas-editor/src/components/FloatingTapBar/modules/FloatingColorPicker.tsx
  packages/canvas-editor/src/components/FloatingTapBar/modules/FloatingFontSizeControl.tsx
  packages/canvas-editor/src/components/FloatingTapBar/modules/FloatingHistoryControls.tsx
  packages/canvas-editor/src/components/FloatingTapBar/modules/FloatingLayerControls.tsx
  packages/canvas-editor/src/components/FloatingTapBar/modules/FloatingOpacityControl.tsx
  packages/canvas-editor/src/components/FloatingToolbar.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docker): add canvas-editor package to web Dockerfile
  apps/web/Dockerfile
Due: none

fix(api): add http-errors as direct dependency
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(web): remove auto-save success texts from Textgenerator
  apps/web/src/assets/styles/components/common/auto-save-indicator.css
  apps/web/src/components/common/AutoSaveIndicator.tsx
  apps/web/src/utils/dateFormatter.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): register fontkit for PDF custom font embedding
  apps/api/package.json
  apps/api/routes/exports/pdfController.ts
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

style(web): add secondary color hover and active states to FeatureIcons
  apps/web/src/components/common/FeatureIcons.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): fix dark: variant to use data-theme instead of OS preference
  apps/web/src/assets/styles/index.css
  apps/web/src/components/common/FeatureIcons.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): wrap ChatPage with withAuthRequired to prevent crash for unauthenticated users
  apps/web/src/features/chat/ChatPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(voice): add real-time voice dictation to chat composer via Mistral Voxtral
  apps/api/package.json
  apps/api/routes/voice/realtimeHandler.ts
  apps/api/routes/voice/voiceController.ts
  apps/api/server.ts
  apps/api/services/voice/mistralVoiceService.ts
  apps/web/src/features/chat/ChatPage.tsx
  apps/web/vite.config.ts
  packages/chat/package.json
  packages/chat/src/components/ChatOverview.tsx
  packages/chat/src/components/thread/GrueneratorComposer.tsx
  packages/chat/src/index.ts
  packages/chat/src/runtime/GrueneratorChatProvider.tsx
  packages/voice/package.json
  packages/voice/src/adapters/VoxtralDictationAdapter.ts
  packages/voice/src/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): fix infinite re-render loop in ComposerButtons useAuiState selector
  packages/chat/src/components/thread/GrueneratorComposer.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(gruen-o-mat): add embeddable widget and web demo page
  apps/gruen-o-mat/public/embed.js
  apps/gruen-o-mat/src/App.tsx
  apps/gruen-o-mat/src/pages/WidgetPage.tsx
  apps/web/src/config/routes.ts
  apps/web/src/features/gruen-o-mat/GruenOMatDemoPage.tsx
  packages/chat/src/components/gruen-o-mat/GruenOMatDialog.tsx
  packages/chat/src/components/gruen-o-mat/GruenOMatModal.tsx
  packages/chat/src/components/gruen-o-mat/ModalThread.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): migrate generators and document components from CSS to Tailwind
  apps/web/src/assets/styles/components/custom-generator/create-custom-generator.css
  apps/web/src/assets/styles/components/custom-generator/custom-generator-page.css
  apps/web/src/assets/styles/components/custom-generator/document-selector.css
  apps/web/src/assets/styles/components/custom-generator/field-editor-assistant.css
  apps/web/src/assets/styles/components/document-overview.css
  apps/web/src/assets/styles/features/auth/documents-tab.css
  apps/web/src/components/common/DocumentGroupedContent.tsx
  apps/web/src/components/common/DocumentOverview.tsx
  apps/web/src/components/common/DocumentPreviewModal.tsx
  apps/web/src/components/common/DocumentUpload.tsx
  apps/web/src/components/common/SelectAllCheckbox.tsx
  apps/web/src/features/auth/components/profile/tabs/shared/EditableDetailForm.tsx
  apps/web/src/features/auth/pages/ProfilePage.tsx
  apps/web/src/features/generators/CreateCustomGeneratorPage.tsx
  apps/web/src/features/generators/CustomGeneratorPage.tsx
  apps/web/src/features/generators/components/DocumentSelector.tsx
  apps/web/src/features/generators/components/FieldEditorAssistant.tsx
  apps/web/src/features/generators/components/GeneratorCreationSuccessScreen.tsx
  apps/web/src/features/generators/components/GeneratorDetailPanel.tsx
  apps/web/src/features/generators/components/GeneratorStartScreen.css
  apps/web/src/features/generators/components/GeneratorStartScreen.tsx
  apps/web/src/features/generators/styles/custom-generators-tab.css
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
