Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(mobile): keep the installation id out of error reports
  apps/mobile/services/errorReporting.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(expo): publish ota updates through eas env:exec
  docs/CLAUDE-expo.md
Due: prettier --write

fix(notebook): keep names, formats and signature blocks out of the term lists
  apps/api/services/notebook/notebookOverviewService.ts
  apps/api/services/notebook/notebookOverviewService.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(web): stub desktop notifier in image generation hook test
  apps/web/src/features/image-studio/hooks/useImageGeneration.vitest.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(mobile): eas workflow for store releases
  apps/mobile/.eas/workflows/release.yml
  apps/mobile/eas.json
Due: prettier --write

feat(mobile): eas workflow for ota updates to our xprem server
  apps/mobile/.eas/workflows/ota-update.yml
  docs/CLAUDE-expo.md
Due: prettier --write

fix(ci): stop the test-failure reporter from hiding why it finds nothing
  .github/workflows/test-failure-issues.yml
Due: prettier --write

fix(chat): do not count a failed artifact step as an edit addressee
  apps/api/routes/chat/__integration__/chatStreamGuards.vitest.ts
  apps/api/routes/chat/__integration__/harness/fakeThreadStore.ts
  apps/api/routes/chat/services/editAddressee.ts
  apps/api/routes/chat/services/editAddressee.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(nlp): keep person names out of notebook keywords
  apps/api/services/nlp/nlpClient.ts
  apps/api/services/notebook/notebookEnrichmentService.ts
  services/nlp/README.md
  services/nlp/src/topic_classifier/analyzer.py
  services/nlp/src/topic_classifier/api.py
  services/nlp/tests/test_api.py
  services/nlp/tests/test_topics.py
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): stop creationOrderPattern at clause boundaries and genitive chains
  apps/api/agents/langgraph/ChatGraph/nodes/classifierHeuristics.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/fastPathGuards.ts
  apps/api/agents/langgraph/ChatGraph/nodes/fastPathGuards.vitest.ts
  apps/api/routes/chat/services/agenticLoop/routing.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): require an addressee for the tier 2.7 document and sheet follow-up
  apps/api/agents/langgraph/ChatGraph/nodes/classifierDocFollowUp.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierForcedIntent.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNegativeAction.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierSheetEdit.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierThreadArtifacts.vitest.ts
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/evals/classifierCensusHarness.ts
  apps/api/routes/chat/__integration__/harness/fakeThreadStore.ts
  apps/api/routes/chat/services/agenticLoop/agenticRespondService.vitest.ts
  apps/api/routes/chat/services/agenticLoop/catalogAssembly.vitest.ts
  apps/api/routes/chat/services/editAddressee.ts
  apps/api/routes/chat/services/editAddressee.vitest.ts
  apps/api/routes/chat/services/streamContext.ts
  apps/api/routes/chat/services/threadPersistenceService.ts
  apps/api/routes/chat/services/threadPersistenceService.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(expo): spell out when an ota update is enough and when it is not
  docs/CLAUDE-expo.md
Due: prettier --write

fix(chat): let the purpose guard see two adjectives before the noun
  apps/api/agents/langgraph/ChatGraph/nodes/classifierHeuristics.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/fastPathGuards.ts
  apps/api/agents/langgraph/ChatGraph/nodes/fastPathGuards.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(nlp): keep role words glued into a person span as keywords
  services/nlp/src/topic_classifier/analyzer.py
  services/nlp/tests/test_topics.py
Due: none

fix(chat): tie lv recipe preference to the active role, not stored roles
  apps/api/agents/langgraph/ChatGraph/ChatGraph.ts
  apps/api/agents/langgraph/ChatGraph/nodes/respondNode.ts
  apps/api/agents/langgraph/ChatGraph/nodes/respondNodePrompt.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/searchNode.ts
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/routes/chat/agents/lvRecipePreference.ts
  apps/api/routes/chat/agents/lvRecipePreference.vitest.ts
  apps/api/routes/chat/services/agenticLoop/catalogAssembly.ts
  apps/api/routes/chat/services/streamContext.ts
  apps/api/routes/chat/streamStages/routingStage.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): let the compound guarantee share the classifier's pdf rule
  apps/api/agents/langgraph/ChatGraph/nodes/classifierHeuristics.ts
  apps/api/agents/langgraph/ChatGraph/nodes/fastPathGuards.ts
  apps/api/routes/chat/services/agenticLoop/routing.ts
  apps/api/routes/chat/services/agenticLoop/routing.vitest.ts
  apps/api/routes/chat/services/artifactKindRegistry.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): tie the turn-before addressee to the artifact itself
  apps/api/agents/langgraph/ChatGraph/nodes/classifierDocFollowUp.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
