Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(ci): resolve paths-filter base to a real SHA on beta rebuild
  .github/workflows/build-images.yml
Due: prettier --write

refactor(scanner): hand off extracted text directly to a document
  apps/web/src/components/common/ActionButtons.tsx
  apps/web/src/components/common/ContentDisplay/ContentRenderer.tsx
  apps/web/src/components/common/ContentDisplay/DisplaySection.tsx
  apps/web/src/components/common/ContentDisplay/ErrorDisplay.tsx
  apps/web/src/components/common/ContentDisplay/index.ts
  apps/web/src/components/common/EnrichmentSourcesDisplay.tsx
  apps/web/src/components/common/ExportDropdown.tsx
  apps/web/src/features/scanner/ScannerAnimations.tsx
  apps/web/src/features/scanner/ScannerPage.tsx
  apps/web/src/features/scanner/tabs/ScannerTab.tsx
  apps/web/src/stores/core/generatedTextStore.ts
  apps/web/src/types/baseform.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): sub-batch Abgeordnetenwatch upserts to avoid HTTP 413
  apps/api/services/scrapers/implementations/AbgeordnetenwatchScraper/AbgeordnetenwatchScraper.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): remove dead code orphaned by DisplaySection removal
  apps/web/src/features/wolke/components/WolkeSetupModal.tsx
  apps/web/src/hooks/useBackgroundDocumentExport.tsx
  apps/web/src/hooks/useDeferredTitle.ts
  apps/web/src/hooks/useSaveToLibrary.ts
  apps/web/src/types/baseform.ts
  apps/web/src/utils/contentHash.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore: pin knip's zod to v4 so knip can run
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(web): remove unused deps flagged by knip; ignore analyze-only dep
  apps/web/package.json
  knip.json
  pnpm-lock.yaml
Due: prettier --write

feat(chat): auto-run spreadsheet compute and give the result to the model
  apps/api/agents/langgraph/ChatGraph/ChatGraph.ts
  apps/api/agents/langgraph/ChatGraph/nodes/respondNode.ts
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/routes/chat/services/streamContext.ts
  packages/chat/src/components/message-parts/ChatCodeBlock.tsx
  packages/chat/src/components/message-parts/messageStreamingContext.ts
  packages/chat/src/components/thread/AssistantMessage.tsx
  packages/chat/src/runtime/GrueneratorModelAdapter/buildRequestBody.ts
  packages/chat/src/stores/chatStore.ts
  packages/chat/src/stores/lastComputeStore.ts
  packages/contracts/src/schemas/chatGraph.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(image-studio): remove dead files flagged by knip
  apps/web/src/features/image-studio/components/CanvasMobilePanel.tsx
  apps/web/src/features/image-studio/components/CanvasMobileSubsectionBar.tsx
  apps/web/src/features/image-studio/components/CanvasMobileTabBar.tsx
  apps/web/src/features/image-studio/components/ImageStudioFormSection.tsx
  apps/web/src/features/image-studio/components/PreviewImage.tsx
  apps/web/src/features/image-studio/components/TemplateAttribution.tsx
  apps/web/src/features/image-studio/components/UploadAnimation.tsx
  apps/web/src/features/image-studio/forms/EditInstructionForm.tsx
  apps/web/src/features/image-studio/forms/GreenEditForm.tsx
  apps/web/src/features/image-studio/forms/UniversalEditForm.tsx
  apps/web/src/features/image-studio/forms/index.ts
  apps/web/src/features/image-studio/hooks/index.ts
  apps/web/src/features/image-studio/hooks/useFeaturedVorlagen.ts
  apps/web/src/features/image-studio/index.ts
  apps/web/src/features/image-studio/steps/TemplateInputStep.tsx
  apps/web/src/features/image-studio/utils/infrastructureOptions.ts
  apps/web/src/features/image-studio/utils/lqipMap.ts
  apps/web/src/features/image-studio/utils/validation.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(pyodide): vendor micropip so .xlsx interpreter runs
  apps/web/scripts/setup-pyodide.mjs
Due: none

refactor(chat): generalize resume protocol behind a tested discriminator
  apps/api/routes/chat/services/resumeInput.ts
  apps/api/routes/chat/services/resumeInput.vitest.ts
  apps/api/routes/chat/services/resumePipeline.ts
  apps/api/routes/chat/services/sseHelpers.ts
  packages/contracts/src/schemas/chatGraph.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(image-studio): remove 18 dead files (knip)
  apps/web/src/features/image-studio/components/CanvasMobilePanel.tsx
  apps/web/src/features/image-studio/components/CanvasMobileSubsectionBar.tsx
  apps/web/src/features/image-studio/components/CanvasMobileTabBar.tsx
  apps/web/src/features/image-studio/components/ImageStudioFormSection.tsx
  apps/web/src/features/image-studio/components/PreviewImage.tsx
  apps/web/src/features/image-studio/components/TemplateAttribution.tsx
  apps/web/src/features/image-studio/components/UploadAnimation.tsx
  apps/web/src/features/image-studio/forms/EditInstructionForm.tsx
  apps/web/src/features/image-studio/forms/GreenEditForm.tsx
  apps/web/src/features/image-studio/forms/UniversalEditForm.tsx
  apps/web/src/features/image-studio/forms/index.ts
  apps/web/src/features/image-studio/hooks/index.ts
  apps/web/src/features/image-studio/hooks/useFeaturedVorlagen.ts
  apps/web/src/features/image-studio/index.ts
  apps/web/src/features/image-studio/steps/TemplateInputStep.tsx
  apps/web/src/features/image-studio/utils/infrastructureOptions.ts
  apps/web/src/features/image-studio/utils/lqipMap.ts
  apps/web/src/features/image-studio/utils/validation.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): remove dead hooks and stores (knip)
  apps/web/src/hooks/useBackgroundDocumentExport.tsx
  apps/web/src/hooks/useBetaFeatures.ts
  apps/web/src/hooks/useClickOutside.ts
  apps/web/src/hooks/useDesktopTabs.ts
  apps/web/src/hooks/useDragDropFiles.ts
  apps/web/src/hooks/useFormTips.ts
  apps/web/src/hooks/useGenerationLimit.ts
  apps/web/src/hooks/useKeyboardNavigation.ts
  apps/web/src/hooks/useMessageHandling.ts
  apps/web/src/hooks/useModal.ts
  apps/web/src/hooks/useNotebookTyped.ts
  apps/web/src/hooks/usePlatformAutoDetect.ts
  apps/web/src/hooks/usePopupDismiss.ts
  apps/web/src/hooks/useRecentTexts.ts
  apps/web/src/hooks/useRecentValuesTyped.ts
  apps/web/src/hooks/useRenderTracker.ts
  apps/web/src/hooks/useSharepicGeneration.ts
  apps/web/src/hooks/useSharepicModification.ts
  apps/web/src/hooks/useStreamingSubmit.ts
  apps/web/src/hooks/useSwipeNavigation.ts
  apps/web/src/hooks/useTabIndex.ts
  apps/web/src/hooks/useTabKeyboardShortcuts.ts
  apps/web/src/hooks/useTabNavigation.ts
  apps/web/src/hooks/useTabPersistence.ts
  apps/web/src/stores/auth/groupsStore.ts
  apps/web/src/stores/auth/instructionsUiStore.ts
  apps/web/src/stores/betaFeaturesStore.ts
  apps/web/src/stores/chatStore.ts
  apps/web/src/stores/core/simpleFormStore.ts
  apps/web/src/stores/headerStore.ts
  apps/web/src/stores/hooks/useTextEditActions.ts
  apps/web/src/stores/index.ts
  apps/web/src/stores/middlewares/apiCheckMiddleware.ts
  apps/web/src/stores/middlewares/crossTabSyncMiddleware.ts
  apps/web/src/stores/middlewares/localStorageMiddleware.ts
  apps/web/src/stores/recentValuesStore.ts
  apps/web/src/stores/subtitlerShareStore.ts
  apps/web/src/stores/utils/middleware.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): remove dead utils, types, constants (knip)
  apps/web/src/constants/profileConstants.ts
  apps/web/src/types/api.ts
  apps/web/src/types/auth.ts
  apps/web/src/types/common.ts
  apps/web/src/types/generator.ts
  apps/web/src/types/index.ts
  apps/web/src/utils/campaignLoader.ts
  apps/web/src/utils/desktopFeatures.ts
  apps/web/src/utils/documentTypeMapper.ts
  apps/web/src/utils/focusManagement.ts
  apps/web/src/utils/questionEmojiMapper.ts
  apps/web/src/utils/readingTimeUtils.ts
  apps/web/src/utils/requestDeduplication.ts
  apps/web/src/utils/sharepicDataPreparation.ts
  apps/web/src/utils/tabIndexConfig.ts
  apps/web/src/utils/tabPersistence.ts
  apps/web/src/utils/textPreview.ts
  apps/web/src/utils/urlDetection.ts
  apps/web/src/utils/urlValidation.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(scanner): recover from extraction errors and re-selecting the same file
  apps/web/src/features/scanner/tabs/ScannerTab.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): run-then-answer spreadsheet compute via client-tool resume
  apps/api/agents/langgraph/ChatGraph/index.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierHeuristics.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/index.ts
  apps/api/agents/langgraph/ChatGraph/nodes/pandasComputeNode.ts
  apps/api/agents/langgraph/ChatGraph/nodes/respondNode.ts
  apps/api/agents/langgraph/ChatGraph/nodes/respondNode.vitest.ts
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/routes/chat/chatGraphContractRouter.ts
  apps/api/routes/chat/services/intentExecutionService.ts
  apps/api/routes/chat/services/resumePipeline.ts
  packages/chat/src/components/message-parts/ChatCodeBlock.tsx
  packages/chat/src/components/tool-ui/GrueneratorToolUIs.tsx
  packages/chat/src/components/tool-ui/RunPythonToolUI.tsx
  packages/chat/src/lib/computeResult.ts
  packages/chat/src/lib/toolRegistry.ts
  packages/chat/src/lib/toolResults.ts
  packages/chat/src/runtime/GrueneratorModelAdapter/buildRequestBody.ts
  packages/chat/src/runtime/GrueneratorModelAdapter/index.ts
  packages/chat/src/runtime/GrueneratorModelAdapter/parseSSEStream.ts
  packages/chat/src/runtime/GrueneratorModelAdapter/types.ts
  packages/chat/src/runtime/clientTools.ts
  packages/contracts/src/schemas/chatGraph.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): make run_python compute work beyond the first run
  apps/api/agents/langgraph/ChatGraph/nodes/classifierHeuristics.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/pandasComputeNode.ts
  apps/api/routes/chat/chatGraphContractRouter.ts
  apps/web/src/services/pythonInterpreter.ts
  apps/web/src/services/pythonInterpreter.worker.ts
  packages/chat/src/lib/pythonCodeSanitizer.ts
  packages/chat/src/lib/pythonCodeSanitizer.vitest.ts
  packages/chat/src/pyodide/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): regenerate, edit+resubmit, @web mention
  apps/api/agents/langgraph/ChatGraph/ChatGraph.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.ts
  apps/api/agents/langgraph/ChatGraph/nodes/ragImprovements.test.ts
  apps/api/agents/langgraph/ChatGraph/nodes/ragQualityEval.test.ts
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/routes/chat/services/streamContext.ts
  apps/api/routes/chat/services/threadPersistenceService.ts
  packages/chat/src/components/assistant-ui/attachment.tsx
  packages/chat/src/components/message-parts/MessageActions.tsx
  packages/chat/src/components/message-parts/MessageBranchPicker.tsx
  packages/chat/src/components/thread/GrueneratorComposer.tsx
  packages/chat/src/components/thread/UserMessage.tsx
  packages/chat/src/components/thread/WebMentionPopover.tsx
  packages/chat/src/lib/mentionables.ts
  packages/chat/src/runtime/GrueneratorAttachmentAdapter.ts
  packages/chat/src/runtime/GrueneratorModelAdapter/adapterUtils.vitest.ts
  packages/chat/src/runtime/GrueneratorModelAdapter/buildRequestBody.ts
  packages/chat/src/runtime/GrueneratorModelAdapter/index.ts
  packages/chat/src/stores/chatConfigStore.ts
  packages/contracts/src/schemas/chatGraph.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(chat): render mermaid via beautiful-mermaid instead of full mermaid.js
  packages/chat/package.json
  packages/chat/src/components/message-parts/MermaidDiagram.tsx
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write
