Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

chore(security): workspace-pakete gegen dependency confusion absichern
  .github/workflows/ci.yml
  apps/api/package.json
  apps/wordpress/package.json
  scripts/check-workspace-packages.mjs
  services/hocuspocus/package.json
  services/mcp/package.json
Due: prettier --write

feat(login): direkt zum provider statt länder-zwischenfrage
  apps/web/src/assets/styles/accessibility.css
  apps/web/src/components/pages/Startseite/StartpageHero.tsx
  apps/web/src/components/pages/Startseite/startpage-hero.css
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): licht unter dem composer statt eines rahmens
  apps/web/src/features/chat/ChatPage.tsx
  apps/web/src/features/workplace/workplace-sunrise.css
  packages/chat/src/components/thread/GrueneratorComposer.tsx
  packages/chat/src/components/thread/GrueneratorThread.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(apps): fokussiere die Apps-Seite auf iOS und Android
  apps/web/src/features/apps/AppsPage.tsx
  apps/web/src/utils/platform.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(settings): hintergründe nach bunt und einfarbig gruppieren
  apps/web/src/features/settings/components/SettingsSkeleton.tsx
  apps/web/src/features/settings/tabs/BackgroundTab.tsx
  apps/web/src/features/settings/tabs/BackgroundTab.vitest.tsx
  apps/web/src/features/workplace/chatBackgrounds.ts
  documentation/src/components/SettingsOverview/tabNotes.ts
  packages/shared/src/settings/chatBackgrounds.ts
  packages/shared/src/settings/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): der composer bekommt einen echten fokus-indikator
  packages/chat/src/components/thread/GrueneratorComposer.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: uebergaben fuer excel-endpoint und deutschen upstream-pr
  docs/uebergaben/uebergabe-excel-addon-endpoint.md
  docs/uebergaben/uebergabe-pi-for-excel-de-upstream-pr.md
Due: prettier --write

feat(api): modell-discovery unter /api/v1/models
  apps/api/routes.ts
  apps/api/routes/v1/chatCompletionsRouter.ts
  apps/api/routes/v1/chatCompletionsRouter.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): mint-api-key laedt die .env
  apps/api/scripts/mintApiKey.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): bildtreffer aus dem loop an den client durchreichen
  apps/api/routes/chat/agents/searchImageHarvest.ts
  apps/api/routes/chat/agents/searchImageHarvest.vitest.ts
  apps/api/routes/chat/agents/searchTools.ts
  apps/api/routes/chat/agents/toolCatalog.ts
  apps/api/routes/chat/agents/toolCatalog.vitest.ts
  apps/api/routes/chat/services/agenticLoop/agenticRespondService.ts
  apps/api/routes/chat/services/sseHelpers.ts
  packages/chat/src/hooks/useChatGraphStream.ts
  packages/chat/src/runtime/GrueneratorModelAdapter/parseSSEStream.ts
  packages/chat/src/runtime/GrueneratorModelAdapter/parseSSEStream.vitest.ts
  packages/contracts/src/schemas/chatStreamEvents.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): openai-kompatiblen modellzugriff fuer clients mit eigenem loop
  apps/api/database/schema/apiKeys.ts
  apps/api/routes.ts
  apps/api/routes/v1/chatCompletionsRouter.ts
  apps/api/routes/v1/chatCompletionsRouter.vitest.ts
  apps/api/scripts/mintApiKey.ts
  apps/api/services/ai/litellmPassthrough.ts
  apps/api/utils/domainUtils.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): kuratierte modellliste statt eines einzigen modells
  apps/api/routes/v1/chatCompletionsRouter.ts
  apps/api/routes/v1/chatCompletionsRouter.vitest.ts
  apps/api/services/ai/litellmPassthrough.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): bildtreffer über den reload hinweg erhalten
  apps/api/routes/chat/messagesController.ts
  apps/api/routes/chat/services/postResponseService.ts
  packages/chat/src/runtime/threadMessageConversion.ts
  packages/chat/src/runtime/threadMessageConversion.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): oauth-token als zweiten weg zum add-in-endpunkt
  apps/api/config/betterAuth.ts
  apps/api/config/mcpServer.ts
  apps/api/routes/v1/addinAuth.ts
  apps/api/routes/v1/addinAuth.vitest.ts
  apps/api/routes/v1/chatCompletionsRouter.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): bildtreffer aus der quellen-klappe holen
  packages/chat/src/components/message-parts/SearchImagesSection.tsx
  packages/chat/src/components/message-parts/SearchResultsSection.tsx
  packages/chat/src/components/thread/AssistantMessage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): ein verbotenes artefakt ist kein schreibauftrag
  apps/api/routes/chat/services/agenticLoop/routing.ts
  apps/api/routes/chat/services/agenticLoop/routing.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(chat): entscheidungskarten um die neuen journal-felder ergaenzen
  apps/api/routes/chat/__integration__/decisions/dokument-erlaubt.txt
  apps/api/routes/chat/__integration__/decisions/gruss-bleibt-direct.txt
  apps/api/routes/chat/__integration__/decisions/kein-dokument.txt
  apps/api/routes/chat/__integration__/decisions/loop-aus-degradiert.txt
  apps/api/routes/chat/__integration__/decisions/loop-demotion.txt
  apps/api/routes/chat/__integration__/decisions/loop-guard-aehnliche-suche.txt
  apps/api/routes/chat/__integration__/decisions/loop-guard-duplikat.txt
  apps/api/routes/chat/__integration__/decisions/loop-guard-fehlerbudget.txt
  apps/api/routes/chat/__integration__/decisions/loop-guard-fehlerdeckel.txt
  apps/api/routes/chat/__integration__/decisions/loop-guard-nebenlaeufig.txt
  apps/api/routes/chat/__integration__/decisions/loop-guard-suchbudget.txt
  apps/api/routes/chat/__integration__/decisions/loop-synth-ablehnung-getauscht.txt
  apps/api/routes/chat/__integration__/decisions/loop-synth-akzeptiert.txt
  apps/api/routes/chat/__integration__/decisions/loop-synth-degeneriert-wiederholt.txt
  apps/api/routes/chat/__integration__/decisions/loop-synth-zweimal-degeneriert.txt
  apps/api/routes/chat/__integration__/decisions/sharepic-lizenziert.txt
Due: none

test(pdf): den render-tests ein realistisches zeitbudget geben
  apps/api/services/pdf/pdfRenderer.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(ci): guard pnpm.overrides against lockfile drift
  .github/dependabot.yml
  .github/workflows/ci.yml
  CLAUDE.md
  package.json
  scripts/sync-pnpm-overrides.mjs
Due: prettier --write

chore(deps): bump the minor-patch group, jsdom 30 and brace-expansion
  apps/api/package.json
  apps/gruen-o-mat/package.json
  apps/mobile/package.json
  apps/web/package.json
  package.json
  packages/canvas-editor/package.json
  packages/chat/package.json
  packages/eslint-config/package.json
  packages/presentations/package.json
  packages/sheets/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(ci): pin docker/login-action to v4.5.2
  .github/workflows/build-images.yml
Due: prettier --write
