Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(agents): hub-slug am notebook-status prüfen
  packages/shared/src/agents/landesverbaende.ts
  packages/shared/src/agents/landesverbandHubs.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(startseite): herleitung von --sp-cta-shadow-room in den code
  apps/web/src/components/pages/Startseite/startpage-hero.css
Due: none

fix(chat): der Chat wird auf dem Handy nicht mehr von einer Tool-Karte aufgezogen
  apps/web/src/features/chat/ChatPage.tsx
  packages/chat/src/components/message-parts/BahnCard.tsx
  packages/chat/src/components/tool-ui/DocumentCreatedCard.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(docs): ui-labels-manifest um sachsen ergänzen
  documentation/src/generated/ui-labels.json
Due: prettier --write

fix(agents): schleswig-holstein verstecken, hub verpflichtend machen
  packages/shared/src/agents/landesverbaende.ts
  packages/shared/src/agents/landesverbandHubs.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(docs): ui-labels-manifest um den sh-hub-slug ergänzen
  documentation/src/generated/ui-labels.json
Due: prettier --write

fix(dsgvo): ausgang aus dem einwilligungsdialog und einwilligende bypass-nutzer
  apps/api/middleware/authMiddleware.ts
  apps/web/src/features/auth/components/AiConsentGate.tsx
  apps/web/src/features/auth/components/AiConsentGate.vitest.tsx
  apps/web/src/features/settings/tabs/PrivacyTab.tsx
  apps/web/src/hooks/useAuth.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(dsgvo): art.-9-einwilligung auch in der app
  apps/mobile/app/_layout.tsx
  apps/mobile/components/auth/AiConsentGate.tsx
  apps/mobile/components/settings/SettingsSheet.tsx
  apps/mobile/stores/settingsSheetStore.ts
  packages/shared/src/settings/catalog.ts
  packages/shared/src/types/auth.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(deps): blocknote 0.53.0, shadcn läuft jetzt auf base-ui
  apps/api/package.json
  apps/web/package.json
  apps/web/vite.config.ts
  package.json
  packages/contracts/package.json
  packages/docs/package.json
  packages/docs/src/components/editor/BlockNoteEditor.tsx
  packages/presentations/package.json
  packages/sites-design/package.json
  packages/sites/package.json
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(dsgvo): eigene setAiConsent-aktion statt cast an updateProfile vorbei
  apps/mobile/components/auth/AiConsentGate.test.tsx
  apps/mobile/components/auth/AiConsentGate.tsx
  apps/mobile/components/settings/SettingsSheet.tsx
  apps/mobile/services/auth.ts
  packages/shared/src/stores/authStore.ts
  packages/shared/src/types/auth.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(deps): sichere patch- und minor-updates
  apps/api/package.json
  apps/gruen-o-mat/package.json
  apps/mobile/package.json
  apps/web/package.json
  packages/canvas-editor/package.json
  packages/chat/package.json
  packages/contracts/package.json
  packages/docs/package.json
  packages/presentations/package.json
  packages/shared/package.json
  packages/sites-design/package.json
  packages/sites/package.json
  packages/ui/package.json
  packages/wolke/package.json
  pnpm-lock.yaml
  services/hocuspocus/package.json
Due: prettier --write

feat(chat): tiefenrecherche als agent — plan, delegation, bericht als dokument
  apps/api/config/env.ts
  apps/api/package.json
  apps/api/routes/chat/services/deepAgentTurn.ts
  apps/api/routes/chat/services/deepAgentTurn.vitest.ts
  apps/api/routes/chat/services/intentExecutionService.ts
  apps/api/routes/chat/services/sseHelpers.ts
  apps/api/services/counters/DeepResearchCounter.ts
  apps/api/services/research/deepAgent/index.ts
  apps/api/services/research/deepAgent/models.ts
  apps/api/services/research/deepAgent/prompts.ts
  apps/api/services/research/deepAgent/report.ts
  apps/api/services/research/deepAgent/report.vitest.ts
  apps/api/services/research/deepAgent/sanitizeToolCalls.ts
  apps/api/services/research/deepAgent/tools.ts
  apps/api/services/research/deepAgent/tools.vitest.ts
  apps/api/services/research/deepAgent/types.ts
  apps/api/test-deep-agent.ts
  package.json
  packages/chat/src/components/ArtifactPanel.tsx
  packages/chat/src/components/ResearchLogView.tsx
  packages/chat/src/runtime/GrueneratorModelAdapter/parseSSEStream.ts
  packages/chat/src/stores/artifactLiveStore.ts
  packages/chat/src/stores/artifactLiveStore.vitest.ts
  packages/contracts/src/schemas/chatStreamEvents.ts
  packages/shared/src/chat-intents/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs-check): keine fremden github-nutzer mehr anpingen
  apps/api/check-docs-freshness.ts
  apps/api/utils/githubMentions.ts
  apps/api/utils/githubMentions.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(deps): ai sdk 7.0.58, mistral- und openai-provider nachziehen
  apps/api/package.json
  apps/web/package.json
  packages/docs/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(legal): auftragsverarbeiter der datenschutzerklärung an den code angleichen
  CLAUDE.md
  apps/web/src/components/pages/Impressum_Datenschutz_Terms/Datenschutz.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(chat): tiefenrecherche — tool-budget, call-reparatur, sse-pfad und panel
  .env.example
  apps/api/config/env.ts
  apps/api/routes/chat/services/deepAgentTurn.vitest.ts
  apps/api/routes/chat/services/intentExecutionService.ts
  apps/api/services/research/deepAgent/index.ts
  apps/api/services/research/deepAgent/models.ts
  apps/api/services/research/deepAgent/sanitizeToolCalls.vitest.ts
  apps/api/services/research/deepAgent/tools.vitest.ts
  packages/chat/src/components/ArtifactPanel.tsx
  packages/chat/src/components/ResearchLogView.vitest.tsx
  packages/chat/src/runtime/GrueneratorModelAdapter/sseEventGate.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(legal): regolo erzeugt bilder mit qwen-image, nicht mit flux
  CLAUDE.md
  apps/web/src/components/pages/Impressum_Datenschutz_Terms/Datenschutz.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(deps): pnpm.overrides mit den gehobenen manifesten abgleichen
  package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(legal): sharepic-editor erzeugt bilder immer bei regolo, nicht bei bfl
  apps/web/src/components/pages/Impressum_Datenschutz_Terms/Datenschutz.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(deps): lockfile fuer deepagents und den zod-override nachziehen
  pnpm-lock.yaml
Due: prettier --write

fix(legal): keine anbieterwahl je anfrage behaupten
  apps/web/src/components/pages/Impressum_Datenschutz_Terms/Datenschutz.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write
