Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docker): restrict the production install to the filtered closure
  apps/api/Dockerfile
  services/hocuspocus/Dockerfile
Due: none

fix(canvas): make the rich text editor reachable on every sharepic
  packages/canvas-editor/src/components/CanvasTextOverlay.tsx
  packages/canvas-editor/src/components/RichTextField.tsx
  packages/canvas-editor/src/components/__tests__/RichTextField.vitest.tsx
  packages/canvas-editor/src/primitives/CanvasRichText.tsx
  packages/canvas-editor/src/primitives/CanvasStage.tsx
  packages/canvas-editor/src/primitives/CanvasText.tsx
  packages/canvas-editor/src/primitives/__tests__/canvasTextEditing.vitest.tsx
  packages/canvas-editor/src/testing-matchers.d.ts
  packages/canvas-editor/src/utils/fontMarkSupport.ts
  packages/canvas-editor/vitest.config.ts
  packages/canvas-editor/vitest.setup.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(canvas-editor): declare the jsdom test lane's dependencies
  packages/canvas-editor/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(web): send credentials with the PWA manifest fetch
  apps/web/index.html
Due: none

fix(canvas): size the text editor by the node's scale, not the stage's
  packages/canvas-editor/src/components/CanvasTextOverlay.tsx
  packages/canvas-editor/src/primitives/__tests__/canvasTextEditing.vitest.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(media): stop retrying previews of deleted shares
  apps/api/routes/share/shareFileRouter.ts
  apps/api/routes/share/shareFileRouter.vitest.ts
  packages/ui/src/components/preview-image.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(media): drop ghost tiles for deleted shared media
  apps/web/src/components/common/SharedMediaImage.tsx
  apps/web/src/components/common/SharedMediaImage.vitest.tsx
  packages/shared/src/media-library/index.ts
  packages/ui/src/components/preview-image.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(canvas): point the rich text comment at the provider, not a body portal
  packages/canvas-editor/src/primitives/CanvasRichText.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(canvas): move text formatting into the top bar
  packages/canvas-editor/src/components/CanvasEditor/index.tsx
  packages/canvas-editor/src/components/CanvasTextOverlay.tsx
  packages/canvas-editor/src/components/RichTextField.tsx
  packages/canvas-editor/src/components/TextFormatControls.tsx
  packages/canvas-editor/src/components/TopBar/ContextControls.tsx
  packages/canvas-editor/src/components/TopBar/__tests__/contextBarFormatting.vitest.tsx
  packages/canvas-editor/src/components/__tests__/RichTextField.vitest.tsx
  packages/canvas-editor/src/primitives/__tests__/canvasTextEditing.vitest.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix: expire flux/edits uploads after 7 days
  apps/api/services/cleanup/uploadsCleanupService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(canvas): let the formatting host announce itself
  packages/canvas-editor/src/components/CanvasEditor/index.tsx
  packages/canvas-editor/src/components/CanvasTextOverlay.tsx
  packages/canvas-editor/src/components/TopBar/__tests__/contextBarFormatting.vitest.tsx
  packages/canvas-editor/src/primitives/__tests__/canvasTextEditing.vitest.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docker): keep pnpm's packument cache out of the runtime images
  apps/api/Dockerfile
  services/hocuspocus/Dockerfile
Due: none

fix: expire public share links after 30 days
  apps/api/database/postgres/migrations/zz_20260916_shared_media_share_link_expiry.sql
  apps/api/routes/share/shareFileRouter.ts
  apps/api/routes/share/shareFileRouter.vitest.ts
  apps/api/services/sharedMediaService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docker): create .cache before mounting pnpm's cache into it
  apps/api/Dockerfile
  services/hocuspocus/Dockerfile
Due: none

docs: add studio creation guides
  apps/api/services/docs/docsIndex.generated.ts
  documentation/docs/features/intro.md
  documentation/docs/guides/einsteigerinnen/ki-bilder-erstellen.mdx
  documentation/docs/guides/einsteigerinnen/reel-erstellen.mdx
  documentation/docs/guides/intro.md
  documentation/docusaurus.config.ts
  documentation/src/nav/sections.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(voice): rebuild the page as an editor with a settings rail
  apps/web/src/features/voice/VoicePage.tsx
  apps/web/src/features/voice/VoicePage.vitest.tsx
  apps/web/src/features/voice/components/ScriptAssistant.tsx
  apps/web/src/features/voice/components/VoiceEditor.tsx
  apps/web/src/features/voice/components/VoicePicker.tsx
  apps/web/src/features/voice/components/VoiceResult.tsx
  apps/web/src/features/voice/components/VoiceSettings.tsx
  apps/web/src/features/voice/presets.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: align Studio guides with product flows
  apps/api/services/docs/docsIndex.generated.ts
  documentation/docs/guides/einsteigerinnen/ki-bilder-erstellen.mdx
  documentation/docs/guides/einsteigerinnen/reel-erstellen.mdx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

style(voice): drop the double blank line eslint --fix left behind
  apps/web/src/features/voice/components/VoiceEditor.tsx
  apps/web/src/features/voice/components/VoiceSettings.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
