Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(config): migrate berlin-lv-beschluesse to TYPO3 sub-sitemap discovery
  apps/api/config/landesverbaendeConfig.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(scraper): canonicalize sitemap URLs through normalizeUrl
  apps/api/services/scrapers/implementations/LandesverbandScraper/LandesverbandScraper.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/extractors/LinkExtractor.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(config): migrate berlin-lv-presse to TYPO3 sub-sitemap discovery
  apps/api/config/landesverbaendeConfig.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(monitor): add migration for emotion_scores and top_nouns columns
  apps/api/database/postgres/migrations/add_monitor_emotion_columns.sql
Due: none

feat(scraper): add WordPress REST API discovery mode
  apps/api/config/landesverbaendeConfig.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/LandesverbandScraper.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/extractors/WpApiExtractor.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(config): migrate 4 stale WP LVs to wpApi discovery
  apps/api/config/landesverbaendeConfig.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(scraper): stop rewriting Berlin /news/ to /nachrichten/ — alias is unreliable
  apps/api/config/landesverbaendeConfig.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/LandesverbandScraper.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(monitor): surface silent fails in refresh and read paths
  apps/api/services/monitor/MonitorService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(config): scrape Berlin Presse from /pressemitteilungen listing, not news sub-sitemap
  apps/api/config/landesverbaendeConfig.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

ci: add hourly monitor-refresh workflow
  .github/workflows/monitor-refresh.yml
Due: prettier --write

feat(api): add LV operations scripts (sync-source, patch-dates)
  apps/api/patch-dates.ts
  apps/api/sync-source.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(notebook): add startpage tabs, statistics, and monthly keyword snapshots
  .github/workflows/notebook-keyword-snapshots.yml
  apps/api/database/postgres/migrations/add_topic_counts_to_notebook_keyword_snapshots.sql
  apps/api/database/postgres/migrations/create_notebook_keyword_snapshots.sql
  apps/api/routes.ts
  apps/api/routes/notebook/index.ts
  apps/api/routes/notebook/internalController.ts
  apps/api/routes/notebook/recentDocumentsController.ts
  apps/api/routes/notebook/statisticsController.ts
  apps/api/scripts/backfill-keywords.ts
  apps/api/scripts/probe-stats.ts
  apps/api/services/monitor/MonitorService.ts
  apps/api/services/monitor/NlpClientService.ts
  apps/api/services/monitor/types.ts
  apps/api/services/nlp/nlpClient.ts
  apps/api/services/nlp/types.ts
  apps/api/services/notebook/notebookKeywordSnapshotService.ts
  apps/api/services/notebook/notebookStatsService.ts
  apps/web/src/config/routes.ts
  apps/web/src/features/monitor/components/KeywordRanking.tsx
  apps/web/src/features/notebook/components/LastAddedSection.tsx
  apps/web/src/features/notebook/components/NotebookGallery.tsx
  apps/web/src/features/notebook/components/NotebookGlobalChatLauncher.tsx
  apps/web/src/features/notebook/components/NotebookManualSearch.tsx
  apps/web/src/features/notebook/components/NotebookPage.tsx
  apps/web/src/features/notebook/components/NotebookResolver.tsx
  apps/web/src/features/notebook/components/NotebookRoot.tsx
  apps/web/src/features/notebook/components/NotebookStartpage.tsx
  apps/web/src/features/notebook/components/StatisticsSection.tsx
  apps/web/src/features/notebook/config/notebookPagesConfig.ts
  apps/web/src/features/notebook/config/notebooksConfig.ts
  apps/web/src/features/notebook/hooks/useLastAddedDocuments.ts
  apps/web/src/features/notebook/hooks/useNotebookStats.ts
  apps/web/src/features/research/useResearchFilters.ts
  apps/web/src/features/search/components/SearchBar.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(notebook): drop unused CategoryBars and MonthlySparkline
  apps/web/src/features/notebook/components/StatisticsSection.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(auth): migrate /api/auth/status to ts-rest contract
  apps/api/middleware/authMiddleware.ts
  apps/api/routes.ts
  apps/api/routes/auth/authCore.ts
  apps/api/routes/auth/authStatusContractRouter.ts
  packages/contracts/src/contracts/authStatusContract.ts
  packages/contracts/src/contracts/index.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/authStatus.ts
  packages/shared/src/api/contractsClient.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(admin): gate admin queries on is_admin and log denials
  apps/api/routes/auth/templates/adminTemplates.ts
  apps/api/routes/auth/templates/adminVorlagenContractRouter.ts
  apps/web/src/features/admin/AdminDashboardPage.tsx
  apps/web/src/features/admin/hooks/useAdminVorlagen.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

ci(build-images): serialize per-branch builds to fix `:latest` tag race
  .github/workflows/build-images.yml
Due: prettier --write

chore(deps): pnpm update + pin axios/postcss/uuid for security
  apps/api/package.json
  apps/docs/package.json
  apps/gruen-o-mat/package.json
  apps/mobile/package.json
  apps/sites/package.json
  apps/web/package.json
  package.json
  packages/chat/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(web): rename /desk to /workplace and update sidebar labels
  apps/api/routes/auth/appLogin.ts
  apps/web/src/App.tsx
  apps/web/src/components/layout/Header/menuData.tsx
  apps/web/src/components/routing/GuestRoute.tsx
  apps/web/src/config/routes.ts
  apps/web/src/config/sidebarFavouritesConfig.ts
  apps/web/src/features/admin/AdminDashboardPage.tsx
  apps/web/src/features/boards/BoardPage.tsx
  apps/web/src/features/boards/components/BoardDropdown.tsx
  apps/web/src/features/boards/components/BoardHeader.tsx
  apps/web/src/features/boards/components/BoardInlineHeader.tsx
  apps/web/src/utils/authRedirect.ts
  packages/shared/src/auth/LoginProviderButtons.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(notebook): drop Kategorien and Quellen stat cards from startpage
  apps/web/src/features/notebook/components/StatisticsSection.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write
