Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(docs): use VirtualKeyboard API for instant toolbar positioning
  packages/docs/src/components/editor/BlockNoteEditor.css
  packages/docs/src/components/editor/BlockNoteEditor.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): add interactive-widget=resizes-content for native keyboard handling
  apps/docs/index.html
Due: none

fix(docs): add transition and touch-action to mobile toolbar
  packages/docs/src/components/editor/BlockNoteEditor.css
Due: none

fix(docs): allow horizontal scroll on mobile toolbar (touch-action: pan-x)
  packages/docs/src/components/editor/BlockNoteEditor.css
Due: none

feat(docs): auto-scroll selection into view when keyboard opens
  packages/docs/src/components/editor/BlockNoteEditor.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): compound mention pipeline for notebook + skill queries
  apps/api/agents/langgraph/ChatGraph/ChatGraph.ts
  apps/api/agents/langgraph/ChatGraph/compoundPipeline.vitest.ts
  apps/api/agents/langgraph/ChatGraph/index.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.ts
  apps/api/agents/langgraph/ChatGraph/nodes/ragImprovements.test.ts
  apps/api/agents/langgraph/ChatGraph/nodes/ragQualityEval.test.ts
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/routes/chat/chatGraphController.ts
  apps/api/routes/chat/services/compoundTopicExtractor.ts
  apps/api/routes/chat/services/compoundTopicExtractor.vitest.ts
  apps/api/routes/chat/services/sseHelpers.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(api): replace AI worker pool with direct AI service
  apps/api/server.ts
  apps/api/services/ai/__tests__/aiService.vitest.ts
  apps/api/services/ai/aiService.ts
  apps/api/services/ai/index.ts
  apps/api/utils/shutdown/types.ts
  apps/api/workers/types.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): model-aware context window budgets for compaction and pruning
  apps/api/routes/chat/agents/providers.ts
  apps/api/routes/chat/agents/providers.vitest.ts
  apps/api/routes/chat/services/compactionService.ts
  apps/api/routes/chat/services/compactionService.vitest.ts
  apps/api/routes/chat/services/contextPruningService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): support text-decodable file types in uploads
  apps/api/services/OcrService/OcrService.ts
  packages/chat/src/lib/fileUtils.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(canvas-editor): add Iconify icon browsing via self-hosted API
  apps/mobile/components/dom/CanvasEditorDOM.tsx
  apps/web/src/features/image-studio/webCanvasEditorServices.ts
  packages/canvas-editor/package.json
  packages/canvas-editor/src/CanvasEditorProvider.tsx
  packages/canvas-editor/src/components/CanvasRenderLayer.tsx
  packages/canvas-editor/src/hooks/usePaginatedIcons.ts
  packages/canvas-editor/src/primitives/CanvasIcons.tsx
  packages/canvas-editor/src/primitives/IconPrimitive.tsx
  packages/canvas-editor/src/sidebar/sections/IconsSection.tsx
  packages/canvas-editor/src/sidebar/sections/assets/SearchResultsGrid.tsx
  packages/canvas-editor/src/utils/canvasIcons.ts
  pnpm-lock.yaml
  services/iconify/Dockerfile
  services/iconify/docker-compose.yml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): update test expectations for rede prompt and provider changes
  apps/api/agents/langgraph/PromptProcessor.vitest.ts
  apps/api/agents/langgraph/SlidesGraph/slidesGraph.vitest.ts
  apps/api/services/subtitler/__tests__/transcriptionProviders.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): use dynamic toolbar height for keyboard scroll offset
  packages/docs/src/components/editor/BlockNoteEditor.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): add grass and sheep illustration to workplace page
  apps/web/src/features/workplace/WorkplacePage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(ci): add Iconify API Docker image build to CI/CD pipeline
  .github/workflows/build-images.yml
  services/iconify/Dockerfile
  services/iconify/docker-compose.yml
Due: prettier --write

refactor(sidebar): extract dropdown to prevent full sidebar re-renders on hover
  apps/web/src/components/layout/Sidebar/NewItemDropdown.tsx
  apps/web/src/components/layout/Sidebar/Sidebar.tsx
  apps/web/src/components/layout/Sidebar/sidebarStyles.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

perf(web): fix unnecessary re-renders on WorkplacePage
  apps/web/src/features/texte/components/ModePillRow.tsx
  apps/web/src/features/workplace/components/BoardsInner.tsx
  apps/web/src/hooks/useFirstName.ts
  apps/web/src/providers/GlobalChatProvider.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(build): enable React Compiler across all Vite apps
  apps/docs/vite.config.ts
  apps/gruen-o-mat/vite.config.ts
  apps/sites/vite.config.ts
  apps/web/vite.config.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): move mode state from WorkplacePage into CreatorSection
  apps/web/src/features/workplace/WorkplacePage.tsx
  apps/web/src/features/workplace/components/CreatorSection.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): darken grey-800/900 values for better dark mode contrast
  apps/web/src/assets/styles/common/variables.css
Due: none

refactor(chat): clean up thread list and composer UI
  packages/chat/src/components/ChatThreadList.tsx
  packages/chat/src/components/thread/GrueneratorComposer.tsx
  packages/chat/src/components/thread/ThreadListItem.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(chat): extract citation markdown into dedicated modules
  packages/chat/package.json
  packages/chat/src/components/MarkdownContent.tsx
  packages/chat/src/components/message-parts/CitationMarkdownText.tsx
  packages/chat/src/components/thread/AssistantMessage.tsx
  packages/chat/src/index.ts
  packages/chat/src/lib/citationMarkdownComponents.tsx
  packages/chat/src/lib/citationProcessing.ts
  packages/ui/package.json
  packages/ui/src/components/assistant-ui/markdown-text.tsx
  packages/ui/src/components/assistant-ui/tooltip-icon-button.tsx
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
