Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore: update type-safety ratchet thresholds post-Phase 4
  scripts/type-safety-ratchet.sh
Due: none

docs: update roadmap with Phase 4.1/4.2/4.3 expansion results
  docs/typescript-safety-roadmap.md
Due: prettier --write

refactor(api): unify Express.Request.user with UserProfile, remove 13 auth casts
  apps/api/middleware/authMiddleware.ts
  apps/api/routes/auth/userProfileContractRouter.ts
  apps/api/routes/boards/boardsContractRouter.ts
  apps/api/routes/chat/chatGraphContractRouter.ts
  apps/api/routes/chat/threadsContractRouter.ts
  apps/api/routes/share/shareContractRouter.ts
  apps/api/routes/user/recentValuesContractRouter.ts
  apps/api/types/express.d.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(db): add 6 Drizzle schemas — documents, notebooks, collaborative, templates, media, chat
  apps/api/database/schema/chat.ts
  apps/api/database/schema/collaborative.ts
  apps/api/database/schema/documents.ts
  apps/api/database/schema/index.ts
  apps/api/database/schema/media.ts
  apps/api/database/schema/notebooks.ts
  apps/api/database/schema/templates.ts
  apps/api/database/services/PostgresService/config.ts
  apps/api/routes/auth/groups/groupContent.ts
  apps/api/services/chat/threadTitleService.ts
  apps/api/services/document-services/PostgresDocumentService/metadataOperations.ts
  apps/api/services/document-services/PostgresDocumentService/textOperations.ts
  apps/api/services/document-services/PostgresDocumentService/wolkeOperations.ts
  apps/api/services/sync/WolkeSyncService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): add typed environment variables with Zod validation (t3-env pattern)
  apps/api/config/betterAuth.ts
  apps/api/config/domains.ts
  apps/api/config/env.ts
  apps/api/config/nango.ts
  apps/api/config/rateLimits.ts
  apps/api/config/serverConfig.ts
  apps/api/instrument.ts
  apps/api/middleware/adminTokenMiddleware.ts
  apps/api/services/ai/providers.ts
  apps/api/services/email/emailService.ts
  apps/api/utils/logger.ts
  apps/api/utils/redis/client.ts
  apps/api/utils/validation/encryption.ts
  apps/api/workers/worker.config.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(api): replace AuthenticatedRequest casts with explicit UserProfile casts
  apps/api/agents/chat/InformationRequestHandler.ts
  apps/api/database/types.ts
  apps/api/routes/docs/ogController.ts
  apps/api/routes/docs/publicDocController.ts
  apps/api/routes/docs/shareController.ts
  apps/api/services/chat/IntentService.ts
  apps/api/services/document-services/DocumentQnAService/DocumentQnAService.ts
  apps/api/services/document-services/DocumentQnAService/contextManagement.ts
  apps/api/services/document-services/DocumentQnAService/redisOperations.ts
  apps/api/services/pushNotificationService.ts
  apps/api/types/express.d.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore: ratchet type-safety thresholds down post-Phase 4 finishing
  scripts/type-safety-ratchet.sh
Due: none

docs: mark Phase 2.1 schemas, 3.4 unification, 4.3 t3-env as done
  docs/typescript-safety-roadmap.md
Due: prettier --write

refactor(db): add Drizzle schema for ba_* Better Auth tables
  apps/api/database/schema/auth.ts
  apps/api/database/schema/index.ts
  apps/api/database/types.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(auth): switch Better Auth from pg.Pool to drizzleAdapter
  apps/api/config/betterAuth.ts
  apps/api/routes/auth/authCore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): mount exportsContract via ts-rest router
  apps/api/routes.ts
  apps/api/routes/exports/docxController.ts
  apps/api/routes/exports/exportsContractRouter.ts
  apps/api/routes/exports/pdfController.ts
  apps/api/routes/search/searchContractRouter.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(api): migrate 37 files to typed env config (Phase 4.3)
  apps/api/agents/langgraph/ChatGraph/llmConfig.ts
  apps/api/config/vectorConfig.ts
  apps/api/database/services/PostgresService/migrations.ts
  apps/api/database/services/PostgresService/schema.ts
  apps/api/database/services/QdrantService/QdrantService.ts
  apps/api/routes/antraege/interactiveGeneration.ts
  apps/api/routes/chat/agents/mcpClient.ts
  apps/api/routes/chat/agents/providers.ts
  apps/api/routes/chat/services/intentExecutionService.ts
  apps/api/routes/crawl/urlController.ts
  apps/api/routes/docs/ogController.ts
  apps/api/routes/internal/grueneApiTestController.ts
  apps/api/routes/internal/offboardingController.ts
  apps/api/routes/internal/rateLimitController.ts
  apps/api/routes/notebook/collectionsController.ts
  apps/api/routes/search/searchController.ts
  apps/api/routes/search/webSearchController.ts
  apps/api/routes/vision/visionController.ts
  apps/api/routes/voice/realtimeHandler.ts
  apps/api/routes/voice/voiceController.ts
  apps/api/services/ai/modelDiscovery.ts
  apps/api/services/flux/FluxImageService.ts
  apps/api/services/flux/IonosImageService.ts
  apps/api/services/flux/RegoloImageService.ts
  apps/api/services/mem0/config.ts
  apps/api/services/mistral/MistralEmbeddingService/MistralEmbeddingClient.ts
  apps/api/services/providers/providerFallback.ts
  apps/api/services/search/RegoloRerankService.ts
  apps/api/services/subtitler/transcriptionService.ts
  apps/api/services/vision/VisionService.ts
  apps/api/services/voice/selfHostedVoiceService.ts
  apps/api/services/voice/ttsService.ts
  apps/api/utils/redis/DesktopOAuthStateManager.ts
  apps/api/utils/redis/RateLimiter.ts
  apps/api/utils/redis/cache.ts
  apps/api/workers/mistralClient.ts
  apps/api/workers/providers/regoloAdapter.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: record Phase 2.1 Better Auth ship + Phase 4.3 env batch + Phase 4.1 exports mount
  docs/typescript-safety-roadmap.md
Due: prettier --write

fix(docker): build packages/contracts and rewrite exports for production
  apps/api/Dockerfile
  packages/contracts/package.json
Due: prettier --write

docs: add Phase 6.1 — migrate workspace packages to conditional exports
  docs/typescript-safety-roadmap.md
Due: prettier --write

fix(api): declare @better-auth/drizzle-adapter as explicit dependency
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(auth): trust Keycloak providers + protect contract routers + add Drizzle relations
  apps/api/config/betterAuth.ts
  apps/api/database/schema/auth.ts
  apps/api/routes.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(auth): add strategic debug logging to trace OAuth + middleware issues
  apps/api/config/betterAuth.ts
  apps/api/middleware/authMiddleware.ts
  apps/api/plugins/mobileTokenExchange.ts
  apps/api/routes/auth/appLogin.ts
  apps/api/routes/auth/authCore.ts
  apps/api/routes/chat/threadsContractRouter.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(db): replace ba_accounts (user_id, provider_id) UNIQUE with (account_id, provider_id)
  apps/api/database/postgres/migrations/fix_ba_accounts_unique_constraint.sql
Due: none

fix(db): self-discovering profile-deletion FK migration (v2)
  apps/api/database/postgres/migrations/fix_profile_fk_constraints_v2.sql
Due: none

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
