Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(mobile): bump version to 1.2.0 for SDK 56 release
  apps/mobile/app.json
Due: prettier --write

chore(mobile): add iOS submit config for TestFlight
  apps/mobile/eas.json
Due: prettier --write

fix(mobile): upgrade expo-speech-recognition to SDK 56 compat (56.0.0)
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(api): persist notebook binding and skill quick-starts on user agents
  apps/api/database/postgres/migrations/add_user_agent_notebook_and_skills.sql
  apps/api/database/schema/userAgents.ts
  apps/api/services/userAgents/userAgentsRepository.ts
  packages/shared/src/agents/index.ts
  packages/shared/src/agents/types.ts
  packages/shared/src/agents/userTools.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): contract user-agents endpoints via ts-rest
  apps/api/routes.ts
  apps/api/routes/userAgents/index.ts
  apps/api/routes/userAgents/userAgents.ts
  apps/api/routes/userAgents/userAgentsContractRouter.ts
  apps/web/src/features/agents/api.ts
  packages/contracts/src/contracts/index.ts
  packages/contracts/src/contracts/userAgentsContract.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/userAgents.ts
  packages/shared/src/api/contractsClient.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(mobile): declare export compliance exemption for iOS
  apps/mobile/app.json
Due: prettier --write

feat(api): conversational agent creator (creator agent + Mistral draft endpoint)
  apps/api/routes/userAgents/userAgentsContractRouter.ts
  apps/api/services/userAgents/agentDraftService.ts
  packages/chat/src/lib/resolveAutoModel.ts
  packages/contracts/src/contracts/userAgentsContract.ts
  packages/contracts/src/schemas/userAgents.ts
  packages/shared/src/agents/coreAgents.ts
  packages/shared/src/agents/types.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): agent creator page + sidebar entry
  apps/web/src/components/layout/Sidebar/Sidebar.tsx
  apps/web/src/config/routes.ts
  apps/web/src/features/agents/AgentCreatorPage.tsx
  apps/web/src/features/agents/api.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): guided multi-step agent builder wizard
  apps/web/src/config/routes.ts
  apps/web/src/features/agents/AgentBuilderPage.tsx
  apps/web/src/features/agents/AgentCreatorPage.tsx
  apps/web/src/features/chat/ChatPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(mobile): repair Dateien/Einstellungen profile-menu navigation
  apps/mobile/components/navigation/ProfileMenu.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat: bind user-owned notebooks to agents (chat-time document scoping)
  apps/api/agents/langgraph/ChatGraph/ChatGraph.ts
  apps/api/agents/langgraph/ChatGraph/nodes/ragImprovements.test.ts
  apps/api/agents/langgraph/ChatGraph/nodes/ragQualityEval.test.ts
  apps/api/agents/langgraph/ChatGraph/nodes/searchNode.ts
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/routes/chat/chatGraphContractRouter.ts
  apps/web/src/features/agents/AgentBuilderPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(mobile): widen recent/docs/notebook grids on tablets
  apps/mobile/app/(tabs)/(docs)/index.tsx
  apps/mobile/app/(tabs)/(recherche)/index.tsx
  apps/mobile/components/notebook/CommunityNotebooksSection.tsx
  apps/mobile/components/notebook/NotebookCard.tsx
  apps/mobile/components/notebook/NotebookSection.tsx
  apps/mobile/components/start/RecentlyCreatedSection.tsx
  apps/mobile/hooks/useIsTablet.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(mobile): remove dead duplicate doc-editor screen
  apps/mobile/app/(tabs)/(docs)/document/[id].tsx
  apps/mobile/app/(tabs)/(docs)/index.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(mobile): docs editor version history, templates, presence & loading skeleton
  apps/mobile/app/(fullscreen)/doc-editor.tsx
  apps/mobile/components/docs/DocEditorDOM.tsx
  apps/mobile/components/docs/DocEditorSkeleton.tsx
  apps/mobile/components/docs/NativeDocTopBar.tsx
  apps/mobile/components/docs/NativeShareModal.tsx
  apps/mobile/components/docs/NativeVersionHistorySheet.tsx
  apps/mobile/services/docs/docsShareApi.ts
  apps/mobile/services/docs/docsVersionsApi.ts
  apps/mobile/stores/docsEditorBridgeStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): gate the agent creator behind dev / VITE flag
  apps/web/src/components/layout/Sidebar/Sidebar.tsx
  apps/web/src/config/featureFlags.ts
  apps/web/src/config/routes.ts
  apps/web/src/vite-env.d.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix: address agent-creator code-review findings
  apps/api/services/userAgents/agentDraftService.ts
  apps/web/src/features/agents/AgentBuilderPage.tsx
  apps/web/src/features/agents/AgentCreatorPage.tsx
  apps/web/src/features/chat/ChatPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(mobile): persist login across restarts; harden session restore
  apps/mobile/hooks/useAppInitialization.ts
  apps/mobile/services/api.ts
  apps/mobile/services/auth.ts
  apps/mobile/services/storage.ts
  packages/shared/src/api/client.ts
  packages/shared/src/types/auth.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(deps): close transitive security alerts via pnpm overrides
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(desktop): bump rand to patched 0.8.6 / 0.9.3
  apps/desktop/src-tauri/Cargo.lock
Due: none

chore(deps): refresh in-range minor/patch updates across workspaces
  apps/api/package.json
  apps/desktop/package.json
  apps/gruen-o-mat/package.json
  apps/web/package.json
  apps/wordpress/package.json
  package.json
  packages/canvas-editor/package.json
  packages/chat/package.json
  packages/collab/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/shared/package.json
  packages/sites-design/package.json
  packages/sites/package.json
  packages/ui/package.json
  packages/wolke/package.json
  pnpm-lock.yaml
  services/hocuspocus/package.json
  services/mcp/package.json
Due: prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
