Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore: update lockfile after adding yjs to collab package
  pnpm-lock.yaml
Due: prettier --write

fix(ci): add Docker Hub login to prevent rate limiting in builds
  .github/workflows/build-images.yml
Due: prettier --write

fix(web): guard ChatInner render until runtime is available
  apps/web/src/features/workplace/components/ChatInner.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(collab): add extra ignore check before provider.connect()
  packages/collab/src/hooks/useCollaboration.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(collab,chat): fix HocuspocusProvider type errors for connect/maxAttempts
  packages/chat/src/hooks/useChatCollaboration.ts
  packages/collab/src/hooks/useCollaboration.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(boards): use actual user avatar instead of default robot 1
  apps/web/src/features/boards/components/CardContent.tsx
  apps/web/src/features/boards/components/MemberPicker.tsx
  apps/web/src/features/boards/components/PresenceAvatars.tsx
  apps/web/src/features/boards/hooks/useBoardAwareness.ts
  apps/web/src/features/boards/hooks/useBoardCollaboration.ts
  packages/collab/src/types.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(collab,chat,docs): fix ConstructorParameters type and add collab dependency to docs
  apps/docs/package.json
  packages/chat/src/hooks/useChatCollaboration.ts
  packages/collab/src/hooks/useCollaboration.ts
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web,ui): improve workplace mobile UX — 2-col grid, visible actions, tools card
  apps/web/src/features/workplace/components/RecentlyCreatedSection.tsx
  apps/web/src/features/workplace/components/ReelsSection.tsx
  apps/web/src/features/workplace/components/TextCard.tsx
  apps/web/src/features/workplace/components/ToolsSection.tsx
  packages/ui/src/components/card-grid.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(ui): consolidate shadcn components from apps/web to packages/ui
  apps/web/src/components/kibo-ui/gantt/index.tsx
  apps/web/src/components/kibo-ui/table/index.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/collapsible.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/components/ui/toggle-group.tsx
  apps/web/src/components/ui/toggle.tsx
  apps/web/src/features/auth/components/profile/tabs/ContentManagement/components/DocumentsSection.tsx
  apps/web/src/features/boards/components/CardDetailPanel.tsx
  apps/web/src/features/groups/pages/JoinGroupPage.tsx
  apps/web/src/features/recherche/RecherchePage.tsx
  apps/web/src/features/wolke/components/WolkeConnectionCard.tsx
  packages/ui/package.json
  packages/ui/src/components/calendar.tsx
  packages/ui/src/components/collapsible.tsx
  packages/ui/src/components/context-menu.tsx
  packages/ui/src/components/table.tsx
  packages/ui/src/components/toggle-group.tsx
  packages/ui/src/components/toggle.tsx
  packages/ui/src/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore: update lockfile after adding react-day-picker to packages/ui
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update all dependencies within semver ranges + safe major bumps
  apps/api/package.json
  apps/docs/package.json
  apps/gruen-o-mat/package.json
  apps/mobile/package.json
  apps/sites/package.json
  apps/web/package.json
  package.json
  packages/chat/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  services/mcp/package.json
  services/remotion/package.json
Due: prettier --write

chore(mobile): update .easignore for smaller EAS builds
  .easignore
Due: none

fix(security): gitignore google-services.json and remove from tracking
  .gitignore
  apps/mobile/google-services.json
Due: prettier --write

fix(security): resolve 20 dependabot alerts via overrides and cargo update
  apps/desktop/src-tauri/Cargo.lock
  apps/docs-desktop/src-tauri/Cargo.lock
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(security): bump torch 2.5.1 → 2.8.0 to resolve 3 CVEs
  services/voxtral/requirements.txt
Due: none

fix(security,web,api): harden inputs, fix types, and minor cleanups
  apps/api/agents/langgraph/PromptProcessor.ts
  apps/api/routes.ts
  apps/api/routes/auth/initController.ts
  apps/api/routes/transfer/transferController.ts
  apps/api/routes/workplace/recentActivityController.ts
  apps/api/services/api-clients/nextcloudApiClient.ts
  apps/api/services/monitor/PolitProService.ts
  apps/api/services/scrapers/implementations/UrlCrawler/validators/UrlValidator.ts
  apps/docs/server.ts
  apps/web/src/components/common/TemplatePreviewModal/TemplatePreviewModal.tsx
  apps/web/src/features/boards/hooks/useBoardCollaboration.ts
  apps/web/src/features/subtitler-beta/components/SubtitleList.tsx
  apps/web/src/features/subtitler-beta/components/SubtitlerBetaPage.tsx
  apps/web/src/features/transfer/TransferPage.tsx
  apps/web/src/features/workplace/components/TextCard.tsx
  packages/docs/src/context/DocsContext.tsx
  packages/slides/src/components/RemoteSvgIcon.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): add index signature to VorlageItem for Template compatibility
  apps/web/src/components/common/Gallery/VorlagenGallery.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(security): resolve remaining CodeQL alerts across all severity levels
  apps/api/routes.ts
  apps/api/routes/chat/chatGraphController.ts
  apps/api/routes/share/shareController.ts
  apps/api/services/briefing/BriefingArchiveService.ts
  apps/api/services/monitor/PollScraper.ts
  apps/api/services/search/SearxngService.ts
  apps/api/services/subtitler/ProjectService.ts
  apps/api/services/subtitler/videoUploadService.ts
  apps/docs/server.ts
  packages/slides/src/components/RemoteSvgIcon.tsx
  packages/slides/src/stores/presentationStore.ts
  services/voxtral/app.py
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): add vision/image analysis support to chat pipeline
  .gitignore
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.ts
  apps/api/agents/langgraph/ChatGraph/nodes/respondNode.ts
  apps/api/agents/langgraph/ChatGraph/tools/analyzeImage.ts
  apps/api/agents/langgraph/ChatGraph/tools/registry.ts
  apps/api/routes/chat/agents/providers.ts
  apps/api/routes/chat/services/attachmentProcessingService.ts
  apps/api/routes/chat/services/responseStreamingService.ts
  apps/api/services/OcrService/OcrService.ts
  apps/api/services/OcrService/mistralIntegration.ts
  apps/api/services/vision/VisionService.ts
  apps/api/services/vision/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): use Docling as primary document extractor for chat attachments
  apps/api/services/OcrService/OcrService.ts
  apps/api/services/OcrService/doclingIntegration.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
