Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

refactor(web): migrate mobile sidebar to Sheet component with tooltips
  apps/web/src/assets/styles/components/layout/sidebar.css
  apps/web/src/components/layout/Sidebar/Sidebar.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): add ImageGallery fade-in and shimmer animation keyframes
  apps/web/src/assets/styles/index.css
Due: none

feat(web): gate notification settings behind Desk beta feature
  apps/web/src/features/auth/components/profile/ProfileMenu.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(chat): replace emoji icons with Lucide icons in PlusMenu
  packages/chat/src/components/thread/PlusMenu.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): replace MCP connect cards with accordion setup guides
  apps/web/src/features/apps/AppsPage.tsx
  packages/ui/src/components/accordion.tsx
  packages/ui/src/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(ci): pass Qdrant basic auth credentials in content-sync workflow
  .github/workflows/content-sync.yml
Due: prettier --write

feat(chat): add skill badge to assistant messages
  packages/chat/src/components/message-parts/SkillBadge.tsx
  packages/chat/src/components/thread/AssistantMessage.tsx
  packages/chat/src/lib/mentionParser.ts
  packages/chat/src/runtime/GrueneratorModelAdapter.ts
  packages/chat/src/types/messageMetadata.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

perf(ci): filter content-sync install to api workspace only
  .github/workflows/content-sync.yml
Due: prettier --write

perf(ci): filter pnpm install to required workspaces only
  .github/workflows/ci.yml
  .github/workflows/desktop-release.yml
  .github/workflows/docs-desktop-release.yml
Due: prettier --write

feat(ci): parallelize content sync pipeline for ~5x speedup
  .github/workflows/content-sync.yml
  apps/api/aggregate-sync-summaries.ts
  apps/api/config/landesverbaendeConfig.ts
  apps/api/services/email/emailService.ts
  apps/api/services/email/templates.ts
  apps/api/services/mistral/MistralEmbeddingService/MistralEmbeddingClient.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/LandesverbandScraper.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/types.ts
  apps/api/update-all-content.ts
  apps/api/utils/parallelLimit.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor: simplify content sync code after review
  apps/api/aggregate-sync-summaries.ts
  apps/api/services/email/templates.ts
  apps/api/services/mistral/MistralEmbeddingService/MistralEmbeddingClient.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/LandesverbandScraper.ts
  apps/api/types/syncTypes.ts
  apps/api/update-all-content.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor: optimize CLAUDE.md size by extracting reference docs to companion files
  CLAUDE-expo.md
  CLAUDE-landesverband.md
  CLAUDE-mcp.md
  CLAUDE-newsletter.md
  CLAUDE.md
Due: prettier --write

feat(ci): split content sync into hourly LV and daily full schedules
  .github/workflows/content-sync.yml
Due: prettier --write

chore: remove satzungen from content sync (static dataset)
  .github/workflows/content-sync.yml
  apps/api/update-all-content.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(scraper): canonicalize URLs to prevent duplicate indexing
  apps/api/services/scrapers/implementations/LandesverbandScraper/LandesverbandScraper.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/extractors/LinkExtractor.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(scraper): preserve query params in URL canonicalization
  apps/api/services/scrapers/implementations/LandesverbandScraper/LandesverbandScraper.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat: add briefing agents — autonomous scheduled data collection with email delivery
  .github/workflows/briefing-agents.yml
  apps/api/database/postgres/migrations/add_briefing_agents.sql
  apps/api/database/postgres/schema.sql
  apps/api/package.json
  apps/api/routes.ts
  apps/api/routes/briefing/briefingController.ts
  apps/api/routes/briefing/index.ts
  apps/api/routes/briefing/internalController.ts
  apps/api/services/briefing/BriefingAgentService.ts
  apps/api/services/briefing/BriefingConfigParser.ts
  apps/api/services/briefing/BriefingDeliveryService.ts
  apps/api/services/briefing/BriefingExecutionService.ts
  apps/api/services/briefing/BriefingSchedulerService.ts
  apps/api/services/briefing/DataCollectorService.ts
  apps/api/services/briefing/RSSService.ts
  apps/api/services/briefing/types.ts
  apps/api/services/email/templates.ts
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(scraper): preserve trailing slashes to match existing Qdrant URLs
  apps/api/services/scrapers/implementations/LandesverbandScraper/LandesverbandScraper.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/extractors/LinkExtractor.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(scraper): add basic auth to Qdrant preflight health check
  apps/api/update-all-content.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(briefing): add Apify integration for social media scraping
  .env.example
  apps/api/package.json
  apps/api/services/briefing/ApifyService.ts
  apps/api/services/briefing/DataCollectorService.ts
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write
