Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(chat): accept null in chatGraph schemas + log all contract validation errors
  apps/api/routes/auth/userProfileContractRouter.ts
  apps/api/routes/boards/boardsContractRouter.ts
  apps/api/routes/chat/chatGraphContractRouter.ts
  apps/api/routes/chat/chatGraphController.ts
  apps/api/routes/chat/threadsContractRouter.ts
  apps/api/routes/exports/exportsContractRouter.ts
  apps/api/routes/search/searchContractRouter.ts
  apps/api/routes/share/shareContractRouter.ts
  apps/api/routes/user/recentValuesContractRouter.ts
  apps/api/utils/contractValidationLogger.ts
  packages/contracts/src/schemas/chatGraph.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): install 50mb body parser for /api/chat-graph + winston splat + dedup logger
  apps/api/routes.ts
  apps/api/utils/contractValidationLogger.ts
  apps/api/utils/logger.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: mark Phase 2.1 fully DONE + capture Phase 4.1 contract router rules
  docs/typescript-safety-roadmap.md
Due: prettier --write

refactor(db): add Drizzle schemas for yjs_document_snapshots and user_sites
  apps/api/database/schema/index.ts
  apps/api/database/schema/sites.ts
  apps/api/database/schema/yjs.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(db): close Phase 2.1 — switch yjs/sites consumers to Drizzle types
  apps/api/database/types.ts
  apps/api/routes/docs/ogController.ts
  apps/api/routes/docs/publicDocController.ts
  apps/api/routes/sites/sitesController.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): add useBoardsTyped + migrate AIBoardCreator to typed contract
  apps/web/src/features/boards/components/AIBoardCreator.tsx
  apps/web/src/hooks/useBoardsTyped.ts
  packages/contracts/src/schemas/boards.ts
  packages/shared/src/api/contractsClient.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): migrate exportStore internals to typed exports contract
  apps/web/src/stores/core/exportStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(api): migrate 32 files to typed env config
  apps/api/aggregate-sync-summaries.ts
  apps/api/backfill-full-text.ts
  apps/api/generate-content-stats.ts
  apps/api/routes/search/searchContractRouter.ts
  apps/api/scripts/backfillFullText.ts
  apps/api/scripts/debug-lv-counts.ts
  apps/api/scripts/dedup-lv-vectors.ts
  apps/api/scripts/exportFineTuningData.ts
  apps/api/scripts/exportNotebookData.ts
  apps/api/scripts/reprocess-pdfs.ts
  apps/api/server.ts
  apps/api/services/OcrService/OcrService.ts
  apps/api/services/OcrService/doclingIntegration.ts
  apps/api/services/admin/OffboardingService.ts
  apps/api/services/bundestag/BundestagMCPClient.ts
  apps/api/services/etherpad/EtherpadService.ts
  apps/api/services/image/UnsplashAttributionService.ts
  apps/api/services/monitor/ApifyService.ts
  apps/api/services/monitor/EventRegistryService.ts
  apps/api/services/monitor/NlpClientService.ts
  apps/api/services/notifications/notificationPubSub.ts
  apps/api/services/scrapers/implementations/SocialMediaExamplesScraper.ts
  apps/api/services/scrapers/implementations/UrlCrawler/UrlCrawler.ts
  apps/api/services/scrapers/implementations/UrlCrawler/validators/UrlValidator.ts
  apps/api/services/search/SearxngService.ts
  apps/api/services/subtitler/regoloTranscriptionService.ts
  apps/api/services/unsplash/UnsplashApiService.ts
  apps/api/update-all-content.ts
  apps/api/utils/errors/classes.ts
  apps/api/utils/errors/handlers.ts
  apps/api/utils/keycloak/apiClient.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: mark Phase 2.1 raw types fully eliminated + Phase 4.3 at floor
  docs/typescript-safety-roadmap.md
Due: prettier --write

feat(build): migrate workspace packages to development conditional exports
  apps/api/package.json
  apps/mobile/metro.config.js
  packages/contracts/package.json
  packages/shared/package.json
  services/hocuspocus/package.json
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(docker): remove sed rewrite now that packages use conditional exports
  apps/api/Dockerfile
Due: none

docs: mark Phase 6.1 DONE — workspace packages use conditional exports
  docs/typescript-safety-roadmap.md
Due: prettier --write

feat(contracts): add notebookContract for interaction routes
  packages/contracts/src/contracts/index.ts
  packages/contracts/src/contracts/notebookContract.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/notebook.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): mount notebookContract router for interaction routes
  apps/api/routes.ts
  apps/api/routes/notebook/notebookContractRouter.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: notebookContract mounted + capture mixed-auth contract pattern
  docs/typescript-safety-roadmap.md
Due: prettier --write

refactor(types): unify UserProfile across contracts, backend, frontend
  apps/api/middleware/authMiddleware.ts
  apps/api/services/user/types.ts
  apps/api/types/express.d.ts
  apps/web/src/hooks/useAuth.ts
  apps/web/src/stores/authStore.ts
  packages/contracts/src/schemas/userProfile.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(contracts): add notebookCollectionsContract — 10 CRUD routes
  apps/api/routes.ts
  apps/api/routes/notebook/notebookCollectionsContractRouter.ts
  packages/contracts/src/contracts/index.ts
  packages/contracts/src/contracts/notebookCollectionsContract.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/notebookCollections.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): add useNotebookTyped + migrate notebookStore.fetchFilterValues
  apps/web/src/features/notebook/stores/notebookStore.ts
  apps/web/src/hooks/useNotebookTyped.ts
  packages/shared/src/api/contractsClient.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(types): type-safety ratchet + eliminate 7 'as unknown as' casts at source
  .type-safety-baseline
  apps/api/routes/research/researchController.ts
  apps/api/routes/search/searchContractRouter.ts
  apps/api/routes/search/searchController.ts
  apps/api/routes/search/searchStreamController.ts
  apps/api/routes/subtitler/socialController.ts
  apps/api/routes/texte/website.ts
  apps/api/services/BaseSearchService/types.ts
  apps/api/services/localization/types.ts
  scripts/type-safety-ratchet.sh
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(api): adopt branded ID types in chat + group routes (25 sites)
  apps/api/routes/auth/groups/groupAvatar.ts
  apps/api/routes/auth/groups/groupContent.ts
  apps/api/routes/auth/groups/groupCore.ts
  apps/api/routes/chat/threadSharingController.ts
  apps/api/routes/chat/threadsController.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write
