Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

chore(docs): disambiguate the in-document table template icon
  packages/docs/src/lib/templates.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(presentations): send an empty body for the PPTX export
  apps/web/src/features/presentations/PresentationsEditorPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(presentations): overview thumbnails, ESC exit and PDF print gating
  packages/presentations/src/components/PresentMode.tsx
  packages/presentations/src/components/theme/gruene-deck.css
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): route mid-turn session expiry through onUnauthorized
  apps/web/src/features/sheets/SheetsChatProvider.tsx
  packages/chat/src/runtime/GrueneratorModelAdapter/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(security): patch Dependabot npm advisories (nodemailer, multer, js-yaml)
  apps/api/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(sheets): surface import errors instead of hanging the dialog
  apps/web/src/features/sheets/SheetImportDialog.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(apps): hide stable desktop channel, beta only
  apps/web/src/features/apps/AppsPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(desktop): bump version to 1.3.0-beta.1
  apps/desktop/package.json
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier --write

fix(chat): tolerate local (non-UUID) thread ids without a 500
  apps/api/routes/chat/services/streamContext.ts
  apps/api/routes/chat/services/threadAccessService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(mcp): hide answer-synthesis tools from tools/list
  services/mcp/scripts/mcp-smoke-test.mjs
  services/mcp/src/index.ts
  services/mcp/src/resources/system-prompt.ts
  services/mcp/src/tools/notebooks-get-filters.ts
  services/mcp/src/tools/notebooks-list.ts
  services/mcp/src/tools/notebooks-search.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(desktop): guard macOS-only RunEvent::Reopen for Linux/Windows builds
  apps/desktop/src-tauri/src/lib.rs
Due: none

chore(desktop): bump version to 1.3.0-beta.2
  apps/desktop/package.json
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier --write

fix(desktop): Linux packaging best practices (tray dep, category, description)
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier --write

fix(mcp): restore tool visibility in claude.ai + harden the server
  services/mcp/.env.example
  services/mcp/src/index.ts
  services/mcp/src/tools/examples-search.ts
  services/mcp/src/tools/search.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(desktop): bump version to 1.3.0-beta.3
  apps/desktop/package.json
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier --write

ci(desktop): add aarch64 Linux build target
  .github/workflows/desktop-release.yml
Due: prettier --write

refactor(mcp): adopt registerTool/registerResource + required tool annotations
  services/mcp/src/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(desktop): bump version to 1.3.0-beta.4
  apps/desktop/package.json
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier --write

feat(mcp): add server-level instructions for tool-use guidance
  services/mcp/src/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

ci(desktop): install xdg-utils + file for AppImage bundling on arm64 runner
  .github/workflows/desktop-release.yml
Due: prettier --write

fix(chat): ignore local-runtime thread sentinel so editor edits work
  packages/chat/src/runtime/GrueneratorModelAdapter/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write
