Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

docs(mcp): document runtime collection catalog + Salt env
  CLAUDE-mcp.md
Due: prettier --write

refactor(shared): drop static COLLECTIONS registry (moved to api)
  packages/shared/src/search/collections/config.ts
  packages/shared/src/search/collections/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(mcp): fetch collection catalog at runtime, relax collection enums
  services/mcp/.env.example
  services/mcp/docker-compose.yaml
  services/mcp/package.json
  services/mcp/src/catalog.ts
  services/mcp/src/catalog.vitest.ts
  services/mcp/src/config.ts
  services/mcp/src/index.ts
  services/mcp/src/tools/ask.ts
  services/mcp/src/tools/compare.ts
  services/mcp/src/tools/examples-search.ts
  services/mcp/src/tools/filters.ts
  services/mcp/src/tools/search.ts
  services/mcp/vitest.config.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(presentations): wire deck into AI editing and chat creation
  apps/api/agents/langgraph/ChatGraph/ChatGraph.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierHeuristics.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierPrompt.ts
  apps/api/routes.ts
  apps/api/routes/chat/chatGraphContractRouter.ts
  apps/api/routes/chat/services/intentExecutionService.ts
  apps/api/routes/chat/services/sseHelpers.ts
  apps/api/routes/presentations/presentationAiService.ts
  apps/api/routes/presentations/presentationsContractRouter.ts
  apps/api/services/presentations/PresentationGenerationService.ts
  apps/web/src/features/presentations/PresentationsAssistantChat.tsx
  apps/web/src/features/presentations/PresentationsChatPanel.tsx
  apps/web/src/features/presentations/PresentationsChatProvider.tsx
  apps/web/src/features/presentations/PresentationsEditorPage.tsx
  packages/chat/src/lib/mentionParser.ts
  packages/chat/src/lib/mentionables.ts
  packages/contracts/src/contracts/index.ts
  packages/contracts/src/contracts/presentationsContract.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/chatStreamEvents.ts
  packages/shared/src/agents/definitions/gruenerator-presentations-editor.md
  packages/shared/src/agents/definitions/index.generated.ts
  packages/shared/src/api/contractsClient.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(presentations): full reveal.js feature surface
  apps/api/routes/presentations/presentationAiService.ts
  apps/api/services/presentations/PresentationGenerationService.ts
  apps/web/src/features/presentations/PresentationsEditorPage.tsx
  packages/contracts/src/presentationsYdoc.ts
  packages/contracts/src/schemas/presentations.ts
  packages/presentations/package.json
  packages/presentations/src/ai/applyPresentationOperations.ts
  packages/presentations/src/collab/useSlides.ts
  packages/presentations/src/components/PresentMode.tsx
  packages/presentations/src/components/PresentationEditor.tsx
  packages/presentations/src/components/SlideSurface.tsx
  packages/presentations/src/components/theme/gruene-deck.css
  packages/presentations/src/lib/ydocSchema.ts
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Potential fix for pull request finding 'Unused variable, import, function or class'
  services/mcp/src/catalog.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(presentations): export decks to PowerPoint via pandoc
  apps/api/Dockerfile
  apps/api/routes.ts
  apps/api/routes/presentations/presentationExportController.ts
  apps/api/routes/presentations/presentationPptxExport.ts
  apps/api/routes/presentations/presentationPptxExport.vitest.ts
  apps/web/src/features/presentations/PresentationsEditorPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(presentations): add AI-assistant testing runbook
  packages/presentations/TESTING.md
Due: prettier --write

chore(mcp): sync pnpm-lock.yaml with vitest devDependency
  pnpm-lock.yaml
Due: prettier --write

feat(agentura): redesign as single-category market browser
  apps/web/src/features/agentura/AgenturaPage.tsx
  apps/web/src/features/agentura/components/CategoryNav.tsx
  apps/web/src/features/agentura/components/FeaturedRail.tsx
  apps/web/src/features/agentura/components/MarketCard.tsx
  apps/web/src/features/agentura/components/Section.tsx
  apps/web/src/features/agentura/components/SortFilterBar.tsx
  apps/web/src/features/agentura/lib/categories.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(agentura): redesign single-agent detail view
  apps/web/src/features/agentura/AgentDetailPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(mcp): let eslint lint vitest.config.ts (allowDefaultProject)
  services/mcp/eslint.config.js
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(presentations): register create tool in all mentionable sources
  packages/chat/src/lib/mentionables.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(presentations): strip image embeds before pandoc pptx conversion
  apps/api/routes/presentations/presentationPptxExport.ts
  apps/api/routes/presentations/presentationPptxExport.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(agents): redesign agent editor (Agent Bearbeiten)
  apps/web/src/components/common/UnderlineTabs.tsx
  apps/web/src/features/agents/AgentEditor.tsx
  apps/web/src/features/agents/OptionToggle.tsx
  apps/web/src/features/agentura/AgentDetailPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(presentations): redesign the deck editor to the Grüne design kit
  apps/web/src/features/presentations/PresentationsEditorPage.tsx
  packages/presentations/src/components/PresentationEditor.tsx
  packages/presentations/src/components/SlideDesignPanel.tsx
  packages/presentations/src/components/SlideSurface.tsx
  packages/presentations/src/components/SlideThumbnailList.tsx
  packages/presentations/src/components/ToggleSwitch.tsx
  packages/presentations/src/components/labels.ts
  packages/presentations/src/components/theme/gruene-deck.css
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(presentations): address code-review findings
  apps/api/agents/langgraph/ChatGraph/intentPipeline.vitest.ts
  apps/api/database/postgres/migrations/remove_legacy_presentation_tables.sql
  apps/api/routes/presentations/presentationExportController.ts
  apps/api/routes/presentations/presentationPptxExport.ts
  apps/api/routes/presentations/presentationPptxExport.vitest.ts
  packages/contracts/src/presentationsYdoc.ts
  packages/presentations/src/ai/applyPresentationOperations.ts
  packages/presentations/src/components/PresentMode.tsx
  packages/presentations/src/components/SlideSurface.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(mcp): tighten smoke-test filter + notebook checks
  services/mcp/scripts/mcp-smoke-test.mjs
Due: none

fix(mcp): normalize RRF scores before the quality gate (hybrid returned 0)
  services/mcp/scripts/mcp-smoke-test.mjs
  services/mcp/src/qdrant/client.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(presentations): slide design variants, deck accent colour, WYSIWYG preview
  apps/api/routes/presentations/presentationAiService.ts
  apps/api/services/presentations/PresentationGenerationService.ts
  packages/contracts/src/presentationsYdoc.ts
  packages/contracts/src/schemas/presentations.ts
  packages/presentations/src/ai/applyPresentationOperations.test.ts
  packages/presentations/src/ai/applyPresentationOperations.ts
  packages/presentations/src/collab/useSlides.ts
  packages/presentations/src/components/PresentMode.tsx
  packages/presentations/src/components/PresentationEditor.tsx
  packages/presentations/src/components/SlideDesignPanel.tsx
  packages/presentations/src/components/SlideSurface.tsx
  packages/presentations/src/components/SlideThumbnailList.tsx
  packages/presentations/src/components/VariantThumb.tsx
  packages/presentations/src/components/labels.ts
  packages/presentations/src/components/theme/gruene-deck.css
  packages/presentations/src/lib/ydocSchema.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write
