Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(notebook): add source-level service for listing, reading and searching notebook sources
  apps/api/routes/notebook/notebookCollectionsContractRouter.ts
  apps/api/services/notebook/notebookSources.ts
  apps/api/services/notebook/notebookSources.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): carry page and char locators into citations
  apps/api/agents/langgraph/ChatGraph/nodes/citationUtils.ts
  apps/api/agents/langgraph/ChatGraph/nodes/citations.vitest.ts
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/routes/chat/services/agenticLoop/sourceRegistry.ts
  apps/api/routes/chat/services/agenticLoop/sourceRegistry.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): add notebook_quellen tool to list, outline, read and search notebook sources
  apps/api/routes/chat/agents/agentToolWhitelist.ts
  apps/api/routes/chat/agents/notebookSourceTools.ts
  apps/api/routes/chat/agents/notebookSourceTools.vitest.ts
  apps/api/routes/chat/agents/notebookTools.ts
  apps/api/routes/chat/agents/toolCatalog.ts
  apps/api/routes/chat/services/agenticLoop/types.ts
  apps/api/services/chat/productKnowledge.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): render notebook_quellen results in the tool card
  packages/chat/src/lib/toolMappings.ts
  packages/chat/src/lib/toolRegistry.ts
  packages/chat/src/lib/toolRegistry.vitest.ts
  packages/chat/src/lib/toolResults.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(mcp): expose notebook_quellen and describe the find-read-cite workflow
  apps/api/routes/mcp-server/methodPrompts.ts
  apps/api/routes/mcp-server/methodPrompts.vitest.ts
  apps/api/routes/mcp-server/serverFactory.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: correct provider roles on the pro-eu page
  documentation/docs/basics/gruenerator-pro-eu.md
Due: prettier --write

docs: stop pairing claude with the gruenerator
  documentation/docs/basics/welches-ki-tool-wofuer.md
Due: prettier --write

docs: note the missing chat sidebar in the native docs editor
  documentation/docs/features/office.mdx
Due: none

docs: point the readme at sections.ts instead of a copied tree
  README.md
Due: prettier --write

docs: render the ki-modelle host list from the routing manifest
  apps/api/services/docs/docsIndex.generated.ts
  documentation/docs/chat/ki-modelle.md
  documentation/scripts/generate-docs-index.mjs
  documentation/src/components/modelsManifest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): report notebook_quellen search and read failures instead of empty results
  apps/api/routes/chat/agents/notebookSourceTools.ts
  apps/api/routes/chat/agents/notebookSourceTools.vitest.ts
  apps/api/services/notebook/notebookSources.ts
  apps/api/services/notebook/notebookSources.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(projekte): stop Enter from creating a Projekt when nothing matched
  apps/web/src/features/groups/components/ProjekteComposer.tsx
  apps/web/src/features/groups/components/ProjekteComposer.vitest.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): dispatch content sync from the api instead of github cron
  .env.example
  apps/api/config/env.ts
  apps/api/server.ts
  apps/api/services/scrapers/contentSyncDispatcher.ts
  apps/api/services/scrapers/contentSyncDispatcher.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

ci: accept a dispatch mode in content sync
  .github/workflows/content-sync-watchdog.yml
  .github/workflows/content-sync.yml
Due: prettier --write

fix(legal): name cortecs as sub-processor and correct stale provider roles
  apps/web/src/components/pages/Impressum_Datenschutz_Terms/Datenschutz.tsx
  apps/web/src/components/pages/Impressum_Datenschutz_Terms/Nutzungsbedingungen.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

ci: fail when a model host is missing from the privacy notice
  .github/workflows/ci.yml
  scripts/check-privacy-subprocessors.mjs
Due: prettier --write

refactor(legal): generate the docx exports from the react pages
  apps/api/scripts/generate-legal-docx.mjs
Due: none

feat(nlp): add text-stats endpoint with lemma and form counts
  services/nlp/README.md
  services/nlp/src/topic_classifier/api.py
  services/nlp/src/topic_classifier/text_stats.py
  services/nlp/tests/test_text_stats.py
Due: prettier --write

feat(chat): detect tool-shaped asks in notebook-scoped turns
  apps/api/routes/chat/services/notebookToolAsk.ts
  apps/api/routes/chat/services/notebookToolAsk.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): add nlp client for text statistics
  apps/api/services/nlp/nlpClient.ts
  apps/api/services/nlp/nlpClient.vitest.ts
  apps/api/services/nlp/types.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): route notebook tool asks into the loop with notebook_quellen pinned
  apps/api/agents/langgraph/ChatGraph/nodes/classifierForcedIntent.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.ts
  apps/api/routes/chat/services/agenticLoop/turnPlan.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
