Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docker): add packages/slides to API Dockerfile for SlidesGraph types
  .github/workflows/build-images.yml
  apps/api/Dockerfile
Due: prettier --write

feat(boards): add threaded comments with reactions, @mentions, and notifications
  apps/api/database/postgres/migrations/add_board_comments.sql
  apps/api/database/postgres/schema.sql
  apps/api/routes.ts
  apps/api/routes/boards/boardCommentsController.ts
  apps/api/services/notifications/notificationPreferences.ts
  apps/api/services/notifications/types.ts
  apps/web/src/features/boards/components/CardComments.tsx
  apps/web/src/features/boards/components/CardDetailPanel.tsx
  apps/web/src/features/boards/components/UserMentionPopover.tsx
  apps/web/src/features/notifications/types/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(slides): add .js extensions to schema imports for NodeNext compat
  packages/slides/src/schemas/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(docs): group documents by shared groups with section headers
  apps/api/routes/docs/documentController.ts
  documentation/docs/briefings/2026-03-29-friedrich-merz-tages-briefing.md
  packages/docs/src/components/document/DocumentCard.tsx
  packages/docs/src/components/document/DocumentList.tsx
  packages/docs/src/stores/documentStore.ts
  webinar-einladung-kompakt.md
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docker): add packages/slides to web Dockerfile and fix SPA caching
  apps/web/Dockerfile
Due: none

fix(collab): add connection lifecycle logging for WebSocket debugging
  packages/collab/src/hooks/useCollaboration.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(collab): stop user object from triggering WebSocket reconnection
  packages/collab/src/hooks/useCollaboration.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(layout): hide header and sidebar in immersive layout mode
  apps/web/src/components/common/Layout/PageLayout.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): add shadcn CSS variable bridge, fix share modal layout
  apps/web/src/components/common/Layout/PageLayout.tsx
  packages/docs/src/components/permissions/GroupShareSection.tsx
  packages/docs/src/components/permissions/ShareModal.tsx
  packages/docs/src/styles/variables.css
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): only show red connection dot after 5s disconnect
  apps/web/src/features/docs/DocsEditorPage.tsx
  packages/shared/src/components/EditorTopBar/EditorTopBar.css
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): convert markdown to HTML when exporting content to docs
  apps/api/routes/docs/exportToDocsController.ts
  apps/web/src/hooks/useContentActions.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(workplace): remove double data-URL prefix on generated images
  apps/web/src/features/workplace/components/ImagineInner.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docker): compile slides schemas in API Docker build
  apps/api/Dockerfile
  apps/web/src/features/boards/components/CardDetailPanel.tsx
  nginx.conf
  packages/slides/tsconfig.build.json
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): include stack trace and route in global error handler
  apps/api/server.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(auth): resolve zod v4 for @better-auth/core
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependencies within semver ranges
  package.json
  pnpm-lock.yaml
Due: prettier --write

style(docs): modernize documentation site with Mintlify-inspired design
  documentation/docusaurus.config.ts
  documentation/src/css/custom.css
  documentation/src/pages/index.module.css
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore: extract services/remotion as standalone gitignored service
  .github/dependabot.yml
  .gitignore
  package.json
  pnpm-workspace.yaml
  services/remotion/Dockerfile
  services/remotion/package.json
  services/remotion/src/Root.tsx
  services/remotion/src/composition/RenderComposition.tsx
  services/remotion/src/index.ts
  services/remotion/src/types.ts
  services/remotion/src/worker.ts
  services/remotion/tsconfig.json
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(db): run migrations on startup and fix nested transactions
  apps/api/database/postgres/migrations/add_better_auth_tables.sql
  apps/api/database/postgres/migrations/migrate_anweisungen_to_custom_prompt.sql
  apps/api/database/postgres/migrations/run_all_pending.sql
  apps/api/database/services/PostgresService/PostgresService.ts
  apps/api/database/services/PostgresService/migrations.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(deps): update dependencies within semver ranges
  apps/api/package.json
  apps/docs/package.json
  apps/mobile/package.json
  apps/sites/package.json
  apps/web/package.json
  packages/eslint-config/package.json
  packages/shared/package.json
  services/mcp/package.json
Due: prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
