Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor: use query<T>() generics for remaining DB query casts
  apps/api/database/services/PostgresService/PostgresService.ts
  apps/api/routes/custom_generators/custom_generator.ts
  apps/api/routes/custom_prompts/custom_prompt.ts
  apps/api/routes/notebook/interactionController.ts
  apps/api/routes/notifications/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: comprehensive roadmap update with audit findings
  docs/typescript-safety-roadmap.md
Due: prettier --write

fix(docs): remove StableFloatingComposer to fix checkbox multi-click bug
  packages/docs/src/components/editor/BlockNoteEditor.tsx
  services/hocuspocus/src/server.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): fix checkbox multi-click and comment composer regression
  packages/docs/src/components/editor/BlockNoteEditor.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor: add missing type imports in DocumentSearchService
  apps/api/services/document-services/DocumentSearchService/DocumentSearchService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): use stopPropagation for checkbox fix + style floating comments
  packages/docs/src/components/editor/BlockNoteEditor.css
  packages/docs/src/components/editor/BlockNoteEditor.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix: resolve all typecheck regressions from exactOptionalPropertyTypes work
  apps/api/agents/langgraph/ChatGraph/tools/analyzeImage.ts
  apps/api/agents/langgraph/ChatGraph/tools/draftStructured.ts
  apps/api/agents/langgraph/ChatGraph/tools/editImage.ts
  apps/api/agents/langgraph/ChatGraph/tools/generateImage.ts
  apps/api/agents/langgraph/ChatGraph/tools/lookupMeinungsbild.ts
  apps/api/agents/langgraph/ChatGraph/tools/recallMemory.ts
  apps/api/agents/langgraph/ChatGraph/tools/research.ts
  apps/api/agents/langgraph/ChatGraph/tools/saveMemory.ts
  apps/api/agents/langgraph/ChatGraph/tools/scrapeUrl.ts
  apps/api/agents/langgraph/ChatGraph/tools/searchDocuments.ts
  apps/api/agents/langgraph/ChatGraph/tools/searchExamples.ts
  apps/api/agents/langgraph/ChatGraph/tools/searchUserContent.ts
  apps/api/agents/langgraph/ChatGraph/tools/selfReview.ts
  apps/api/agents/langgraph/ChatGraph/tools/webSearch.ts
  apps/api/agents/langgraph/PromptProcessor.ts
  apps/api/agents/langgraph/streamingProcessor.ts
  apps/api/database/services/QdrantService/random.ts
  apps/api/database/services/QdrantService/search.ts
  apps/api/routes/auth/initController.ts
  apps/api/routes/auth/templates/templateGallery.ts
  apps/api/routes/auth/userProfile.ts
  apps/api/routes/chat/agents/directSearchExecutors.ts
  apps/api/routes/chat/chatGraphController.ts
  apps/api/routes/chat/chatStreamController.ts
  apps/api/routes/chat/grueneratorChat.ts
  apps/api/routes/chat/services/intentExecutionService.ts
  apps/api/services/document-services/TextChunker/structureAwareChunking.ts
  apps/api/services/mistral/MistralEmbeddingService/types.ts
  apps/api/services/search/SearxngService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

perf(docs): disable SideMenu and TableHandles to fix editor lag
  packages/docs/src/components/editor/BlockNoteEditor.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): remove custom comment CSS that clashes with shadcn defaults
  packages/docs/src/components/editor/BlockNoteEditor.css
Due: none

fix(docs): override comment card background color
  packages/docs/src/components/editor/BlockNoteEditor.css
Due: none

refactor: fix exactOptionalPropertyTypes patterns in packages/shared
  packages/shared/src/canvas-editor/hooks/useCanvasLayers.ts
  packages/shared/src/image-studio/hooks/useImageStudio.ts
  packages/shared/src/image-studio/modification-validation.ts
  packages/shared/src/media-library/api/mediaApi.ts
  packages/shared/src/media-library/hooks/useMediaUpload.ts
  packages/shared/src/search/vector/EmbeddingService.ts
  packages/shared/src/sharepic/hooks/useSharepicGeneration.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): fix checkbox toggle with direct block update on click
  packages/docs/src/components/editor/BlockNoteEditor.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: update roadmap with exactOptionalPropertyTypes atomic strategy
  docs/typescript-safety-roadmap.md
Due: prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
