Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(sidebar): modal iterates SYSTEM_AGENTS, decouple from skill registry
  apps/web/src/components/layout/Sidebar/Sidebar.tsx
  apps/web/src/stores/agentFavoritesStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(sidebar+ui): modal z-index above sidebar + ghost-icon design for all agents
  apps/web/src/components/layout/Sidebar/Sidebar.tsx
  packages/ui/src/components/dialog.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(notebook): popup fits long filenames and improves responsiveness
  apps/web/src/features/notebook/components/NotebookEditor.tsx
  apps/web/src/features/recherche/RecherchePage.tsx
  apps/web/src/features/workplace/components/NotebooksSection.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(sidebar): /simplify pass — DRY, types, dead defense
  apps/web/src/components/layout/Sidebar/Sidebar.tsx
  apps/web/src/stores/agentFavoritesStore.ts
  packages/ui/src/components/dialog.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): make Yjs canonical at doc creation, recover stranded docs
  apps/api/routes/auth/content/textConversion.ts
  apps/api/routes/chat/confirmController.ts
  apps/api/routes/docs/documentController.ts
  apps/api/routes/docs/exportToDocsController.ts
  apps/api/routes/docs/importController.ts
  apps/api/scripts/recoverStrandedDocs.ts
  apps/api/services/docs/DocGenerationService.ts
  apps/api/services/docs/contentNormalization.ts
  apps/api/services/docs/seedYjsState.ts
  apps/api/services/email/templates.ts
  packages/chat/package.json
  packages/chat/src/components/message-parts/MessageActions.tsx
  packages/contracts/src/schemas/docs.ts
  packages/shared/package.json
  packages/shared/src/utils/escapeHtml.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/yjs/htmlToYjsXml.ts
  packages/shared/src/yjs/index.ts
  pnpm-lock.yaml
  services/hocuspocus/Dockerfile
  services/hocuspocus/package.json
  services/hocuspocus/src/persistence.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docker): copy tsconfig.base.json into hocuspocus builder
  services/hocuspocus/Dockerfile
Due: none

fix(docs): force docs-editor agent in document AI panel header
  apps/web/src/features/docs/DocsAssistantChat.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(styles): restore Tailwind v4 --container-* scale in @theme
  apps/web/src/assets/styles/index.css
Due: none

fix(agents): drop technical "embedded" framing from docs-editor description
  packages/shared/src/agents/system.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(landesverbaende): per-LV Öffentlichkeitsarbeit agents and skills
  apps/api/agents/langgraph/ChatGraph/nodes/searchNode.ts
  apps/api/agents/langgraph/ChatGraph/tools/searchDocuments.ts
  apps/api/routes/chat/agents/directSearchExecutors.ts
  apps/api/routes/chat/agents/types.ts
  apps/api/scripts/extract-lv-pms.ts
  apps/api/services/examples/exampleSearchService.ts
  apps/web/src/components/layout/Sidebar/Sidebar.tsx
  apps/web/src/features/notebook/components/NotebookPage.tsx
  apps/web/src/features/notebook/config/notebooksConfig.ts
  documentation/docs/landesverbaende/_raw/berlin-fraktion.json
  documentation/docs/landesverbaende/_raw/berlin-landesverband.json
  documentation/docs/landesverbaende/_raw/brandenburg-landesverband.json
  documentation/docs/landesverbaende/_raw/hamburg-landesverband.json
  documentation/docs/landesverbaende/_raw/mecklenburg-vorpommern-fraktion.json
  documentation/docs/landesverbaende/_raw/mecklenburg-vorpommern-landesverband.json
  documentation/docs/landesverbaende/_raw/thueringen-fraktion.json
  documentation/docs/landesverbaende/_raw/thueringen-landesverband.json
  documentation/docs/landesverbaende/analysis-methodology.md
  documentation/docs/landesverbaende/berlin-fraktion.md
  documentation/docs/landesverbaende/berlin-landesverband.md
  documentation/docs/landesverbaende/brandenburg-landesverband.md
  documentation/docs/landesverbaende/hamburg-landesverband.md
  documentation/docs/landesverbaende/mecklenburg-vorpommern-fraktion.md
  documentation/docs/landesverbaende/mecklenburg-vorpommern-landesverband.md
  documentation/docs/landesverbaende/thueringen-fraktion.md
  documentation/docs/landesverbaende/thueringen-landesverband.md
  packages/shared/src/agents/skills.ts
  packages/shared/src/agents/system.ts
  packages/shared/src/agents/types.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(docs): multi-user chat panel with unmount-safe runtime
  apps/web/src/features/docs/DocsAssistantChat.tsx
  apps/web/src/features/docs/DocsChatPanel.tsx
  apps/web/src/features/docs/DocsChatProvider.tsx
  apps/web/src/features/docs/DocsEditorPage.tsx
  apps/web/src/features/docs/DocsQuickActions.tsx
  apps/web/src/features/docs/SelectionChip.tsx
  apps/web/src/features/docs/usePeerMessageSync.ts
  packages/chat/src/components/thread/GrueneratorComposer.tsx
  packages/chat/src/components/thread/GrueneratorThread.tsx
  packages/collab/src/index.ts
  packages/collab/src/lib/roomTypes.ts
  packages/shared/package.json
  packages/shared/src/chat/chatMessage.ts
  packages/shared/src/chat/index.ts
  services/hocuspocus/src/auth.ts
  services/hocuspocus/src/server.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): stream reasoning live for Regolo Qwen3/GPT-OSS
  apps/api/routes/chat/chatGraphContractRouter.ts
  packages/chat/src/components/assistant-ui/reasoning.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(voice): realtime voice agent in chat via RealtimeVoiceAdapter
  packages/chat/src/components/assistant-ui/voice.tsx
  packages/chat/src/components/thread/GrueneratorComposer.tsx
  packages/chat/src/runtime/GrueneratorChatProvider.tsx
  packages/voice/src/adapters/GrueneratorRealtimeVoiceAdapter.ts
  packages/voice/src/adapters/VoxtralDictationAdapter.ts
  packages/voice/src/index.ts
  packages/voice/src/lib/audioBufferQueue.ts
  packages/voice/src/lib/pcmDownsampleWorklet.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(docs): consolidate loaded-message schema, fix peer-sync ref
  apps/web/src/features/docs/DocsAssistantChat.tsx
  apps/web/src/features/docs/DocsChatProvider.tsx
  apps/web/src/features/docs/usePeerMessageSync.ts
  packages/shared/src/chat/chatMessage.ts
  packages/shared/src/chat/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): wrap MDX-unsafe placeholder in backticks (Thüringen analysis)
  documentation/docs/landesverbaende/thueringen-landesverband.md
Due: prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
