Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(docker): add missing shared packages to Dockerfiles and unblock builds
  .github/workflows/build-images.yml
  .gitignore
  apps/api/services/docs/DocGenerationService.ts
  apps/api/services/docs/DocGenerationService.vitest.ts
  apps/docs/Dockerfile
  apps/gruen-o-mat/Dockerfile
  apps/web/Dockerfile
  services/mcp/Dockerfile
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): use fetchWithRetry in KommunalwikiScraper for resilient requests
  apps/api/services/scrapers/implementations/KommunalwikiScraper.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): add preflight check for Mistral and Qdrant in content sync
  apps/api/update-all-content.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(docs): migrate HomePage from CSS to Tailwind utilities
  apps/docs/src/pages/HomePage.css
  apps/docs/src/pages/HomePage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): migrate TexteGenerator loading fallback to Tailwind
  apps/web/src/features/texte/TexteGenerator.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docker): add missing wolke package to docs, remove stale CSS import, fix type import
  .github/workflows/build-images.yml
  apps/docs/Dockerfile
  apps/web/src/features/image-studio/components/StepFlow.tsx
  packages/chat/src/runtime/GrueneratorModelAdapter.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docker): add missing voice package to docs Dockerfile
  apps/docs/Dockerfile
Due: none

docs: add Docker checklist for new shared packages to CLAUDE.md
  CLAUDE.md
Due: prettier --write

fix(security): address CodeQL critical and high vulnerabilities
  apps/api/agents/langgraph/simpleInteractiveGenerator.ts
  apps/api/routes/auth/authCore.ts
  apps/api/routes/releases/releasesController.ts
  apps/api/routes/sharepic/editSession.ts
  apps/api/services/chat/ChatMemoryService.ts
  apps/api/services/scrapers/implementations/WebsiteCrawler.ts
  apps/api/workers/mistralClient.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(security): targeted rate limiting, path hardening, and workflow permissions
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  .github/workflows/winget-publish.yml
  apps/api/routes.ts
  apps/api/routes/sharepic/sharepic_canvas/veranstaltung_canvas.ts
  apps/api/routes/sharepic/sharepic_canvas/zitat_canvas.ts
  apps/api/services/subtitler/ProjectService.ts
  apps/api/services/subtitler/assSubtitleService.ts
  apps/api/services/user/ProfileService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(deps): fix dependabot config — remove stale entry, add 7 missing workspaces
  .github/dependabot.yml
Due: prettier --write

chore(deps): update all patch and minor dependencies
  apps/api/package.json
  apps/docs-expo/package.json
  apps/mobile/package.json
  package.json
  packages/canvas-editor/package.json
  packages/chat/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/wolke/package.json
  pnpm-lock.yaml
  services/hocuspocus/package.json
  services/mcp/package.json
  services/remotion/package.json
Due: prettier --write

feat(web): migrate to Vite 8 with Rolldown bundler
  apps/docs/package.json
  apps/docs/vite.config.ts
  apps/gruen-o-mat/package.json
  apps/sites/package.json
  apps/sites/vite.config.ts
  apps/web/package.json
  apps/web/vite.config.ts
  packages/voice/package.json
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(voice): resolve strict TypeScript errors
  packages/voice/src/hooks/useVoiceAgent.ts
  packages/voice/src/lib/pcmUtils.ts
  packages/voice/src/lib/sentenceSplitter.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): remove dead profileStore sync layer
  apps/web/src/features/auth/hooks/useProfileData.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): unify generator types — replace duplicate GeneratorListItem
  apps/web/src/features/auth/services/profileApiService.ts
  apps/web/src/features/generators/CreateCustomGeneratorPage.tsx
  apps/web/src/features/generators/components/GeneratorDetailPanel.tsx
  apps/web/src/features/generators/components/GeneratorStartScreen.tsx
  apps/web/src/features/texte/tabs/EigeneTab.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): remove dead code — pages feature, useFileUpload, stale export
  apps/web/src/components/hooks/useFileUpload.ts
  apps/web/src/config/routes.ts
  apps/web/src/features/pages/ExamplePage.tsx
  apps/web/src/features/pages/components/DynamicPageView.tsx
  apps/web/src/features/pages/components/PageContent.tsx
  apps/web/src/features/pages/components/PageHeader.tsx
  apps/web/src/features/pages/components/PageView.tsx
  apps/web/src/features/pages/components/blocks/CalloutBlock.tsx
  apps/web/src/features/pages/components/blocks/FactBox.tsx
  apps/web/src/features/pages/components/blocks/InfoBox.tsx
  apps/web/src/features/pages/components/blocks/QuoteBlock.tsx
  apps/web/src/features/pages/components/blocks/TimelineBlock.tsx
  apps/web/src/features/pages/components/blocks/index.ts
  apps/web/src/features/pages/content/index.ts
  apps/web/src/features/pages/data/examplePages.ts
  apps/web/src/features/pages/index.ts
  apps/web/src/features/texte/presse/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): resolve all remaining TypeScript errors
  apps/web/src/components/common/AddTemplateModal/AddTemplateModal.tsx
  apps/web/src/components/common/DocumentOverview.tsx
  apps/web/src/components/common/DownloadExport.tsx
  apps/web/src/components/common/Form/hooks/useBaseFormAccessibility.ts
  apps/web/src/components/common/Form/hooks/useFormFields.ts
  apps/web/src/components/common/ItemActionBuilder.ts
  apps/web/src/components/hooks/useError.ts
  apps/web/src/components/hooks/useRouteCache.ts
  apps/web/src/components/hooks/useRoutePreloader.ts
  apps/web/src/components/routing/RouteComponent.tsx
  apps/web/src/components/utils/OptimizedImage.tsx
  apps/web/src/components/utils/templateService.ts
  apps/web/src/features/auth/components/profile/tabs/ContentManagement/components/TextsSection.tsx
  apps/web/src/features/auth/components/profile/tabs/shared/useEditableDetail.ts
  apps/web/src/features/oparl/hooks/useOparlSearch.ts
  apps/web/src/features/subtitler/components/SubtitlerPage.tsx
  apps/web/src/features/subtitler/hooks/useSubtitlerProjects.ts
  apps/web/src/features/texte/kampagnen/KampagnenGenerator.tsx
  apps/web/src/hooks/useUrlCrawler.ts
  apps/web/src/utils/sharepicDataPreparation.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(security): apply auth rate limiter to login/callback routes only
  apps/api/routes.ts
  apps/api/routes/auth/authCore.ts
  apps/api/routes/auth/mobileAuth.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(offboarding): add daily GitHub Actions cron with anonymized protocol
  .github/workflows/offboarding-daily.yml
  apps/api/routes/internal/offboardingController.ts
  apps/api/services/admin/OffboardingService.ts
  apps/api/services/admin/RetryManager.ts
  apps/api/services/admin/types.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write
