Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(chat): render mermaid via beautiful-mermaid instead of full mermaid.js
  packages/chat/package.json
  packages/chat/src/components/message-parts/MermaidDiagram.tsx
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): add Bundestag enrichment service
  apps/api/services/bundestag/BundestagEnrichedService.ts
  apps/api/services/bundestag/BundestagEnrichedService.vitest.ts
  apps/api/services/bundestag/index.ts
  apps/api/services/bundestag/types.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): add trimmed Bundestag MCP chat wrappers
  apps/api/services/bundestag/BundestagMCPClient.ts
  apps/api/services/bundestag/BundestagMCPClient.vitest.ts
  apps/api/services/bundestag/schemas.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): wire Bundestag connector into ChatGraph (DE-only)
  apps/api/agents/langgraph/ChatGraph/ChatGraph.ts
  apps/api/agents/langgraph/ChatGraph/intentPipeline.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierHeuristics.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierParsing.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierPrompt.ts
  apps/api/agents/langgraph/ChatGraph/nodes/searchNode.ts
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/routes/chat/chatGraphContractRouter.ts
  apps/api/routes/chat/services/sseHelpers.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(agents): add Bundestag DIP research agent (de-DE)
  apps/web/src/components/layout/Sidebar/sidebarAgentConfig.ts
  packages/shared/src/agents/definitions/gruenerator-bundestag.md
  packages/shared/src/agents/definitions/index.generated.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): add @bundestag composer mention (de-DE only)
  packages/chat/src/lib/mentionables.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): harden run_python gate, resume persistence and add real-runtime tests
  apps/api/agents/langgraph/ChatGraph/nodes/classifierHeuristics.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/pandasComputeNode.ts
  apps/api/agents/langgraph/ChatGraph/nodes/pandasComputeNode.vitest.ts
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/routes/chat/chatGraphContractRouter.ts
  apps/api/routes/chat/services/postResponseService.ts
  apps/api/routes/chat/services/resumePipeline.ts
  apps/web/src/services/pythonInterpreter.worker.ts
  packages/chat/package.json
  packages/chat/src/lib/computeResult.vitest.ts
  packages/chat/src/lib/pythonCodeSanitizer.ts
  packages/chat/src/lib/pythonCodeSanitizer.vitest.ts
  packages/chat/src/pyodide/index.ts
  packages/chat/src/pyodide/runCore.integration.vitest.ts
  packages/chat/src/pyodide/runCore.ts
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): rework Abgeordnetenwatch enrichment, facets and dates
  apps/api/config/systemCollectionsConfig.ts
  apps/api/services/scrapers/implementations/AbgeordnetenwatchScraper/builders.ts
  apps/api/services/scrapers/implementations/AbgeordnetenwatchScraper/builders.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(ci): speed up build jobs — remove unused fastembed, skip native postinstall
  .github/workflows/ci.yml
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(image-studio): seed all slider pages when Hocuspocus seeding failed at mint time
  apps/web/src/features/image-studio/CollabCanvasStudioPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(ci): wire TURBO_TOKEN + TURBO_TEAM secrets for remote cache
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): regenerate lockfile from master overrides
  pnpm-lock.yaml
Due: prettier --write

feat(chat): german csv support and extended real-runtime tests
  packages/chat/src/lib/spreadsheetSetup.ts
  packages/chat/src/lib/spreadsheetSetup.vitest.ts
  packages/chat/src/pyodide/runCore.integration.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): skip native postinstall in Dockerfile builder stage
  apps/api/Dockerfile
Due: none

refactor(canvas-editor): strip pages from formState Y.Map seed
  packages/canvas-editor/src/CanvasEditorRouter.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docker): skip native postinstall in hocuspocus + mcp builder stages
  services/hocuspocus/Dockerfile
  services/mcp/Dockerfile
Due: none

fix(api): add blurhash to api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(subtitler): replace system ffmpeg with ffmpeg-static, remove VAAPI
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/services/subtitler/ProjectService.ts
  apps/api/services/subtitler/autoProcessingService.ts
  apps/api/services/subtitler/backgroundCompressionService.ts
  apps/api/services/subtitler/backgroundExportService.ts
  apps/api/services/subtitler/downloadUtils.ts
  apps/api/services/subtitler/exportService.ts
  apps/api/services/subtitler/ffmpegExportUtils.ts
  apps/api/services/subtitler/ffmpegWrapper.ts
  apps/api/services/subtitler/hwaccelUtils.ts
  apps/api/services/subtitler/multiClipExportService.ts
  apps/api/services/subtitler/segmentExportService.ts
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): add @anthropic-ai/sdk peer dep for mem0ai
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
