Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): lange eingefuegte texte als anhang behandeln
  apps/api/database/postgres/migrations/chat_thread_attachments_message_id_index.sql
  apps/api/database/postgres/schema.sql
  apps/api/database/schema/chat.ts
  apps/api/routes/chat/chatGraphContractRouter.ts
  apps/api/routes/chat/messagesController.ts
  apps/api/routes/chat/services/pipelineStateStore.ts
  apps/api/routes/chat/services/postResponseService.ts
  apps/api/routes/chat/services/resumePipeline.ts
  apps/api/routes/chat/services/streamContext.ts
  apps/api/routes/chat/services/threadPersistenceService.ts
  apps/api/routes/chat/services/threadPersistenceService.vitest.ts
  apps/web/src/features/chat/ChatPage.tsx
  apps/web/src/features/workplace/components/ChatInner.tsx
  packages/chat/src/components/assistant-ui/attachment.tsx
  packages/chat/src/components/thread/GrueneratorComposer.tsx
  packages/chat/src/components/thread/GrueneratorThread.tsx
  packages/chat/src/lib/pastedText.ts
  packages/chat/src/lib/pastedText.vitest.ts
  packages/chat/src/runtime/threadMessageConversion.ts
  packages/chat/src/runtime/threadMessageConversion.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix: avoid backtracking when stripping legacy role blocks
  packages/shared/src/roles/rolePromptGeneration.ts
  packages/shared/src/roles/rolePromptGeneration.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: update content stats [skip ci]
  documentation/docs/wissen/inhaltsdatenbank.md
Due: prettier --write

fix(web): dedupe radix-ui against @blocknote/shadcn's direct @radix-ui/react-* imports
  apps/web/vite.config.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(agents): dedupe splitThemes und wahlpruefsteinAgentId-Guard nachziehen
  packages/chat/src/lib/landesverbandAgents.vitest.ts
  packages/shared/src/agents/landesverbaende.ts
  packages/shared/src/agents/lvBuergerAgents.ts
  packages/shared/src/agents/lvPrAgents.ts
  packages/shared/src/agents/lvWahlpruefsteinAgents.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(a11y): entferne den "Zum Inhalt springen"-Sprung-Link
  apps/web/src/App.tsx
  apps/web/src/assets/styles/components/form/form-inputs.css
  apps/web/src/features/settings/tabs/AccessibilityTab.tsx
  documentation/docs/ueber-den-gruenerator/barrierefreiheit.md
  documentation/src/components/SettingsOverview/tabNotes.ts
  documentation/src/generated/settings.json
  packages/shared/src/settings/catalog.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): keep AI-generated prompt for freely typed roles in roleRef resolution
  apps/api/routes/chat/services/streamContext.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(roles): cover roleRef precedence for freely typed roles
  apps/api/routes/chat/services/streamContext.ts
  apps/api/services/roles/roleSystemPrompt.ts
  apps/api/services/roles/roleSystemPrompt.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(a11y): regenerate docs index and clean up remaining skip-link references
  apps/api/services/docs/docsIndex.generated.ts
  apps/web/src/assets/styles/common/variables.css
  apps/web/src/components/utils/accessibilityHelpers.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): darken dark-mode elevation hierarchy to match near-black chrome
  apps/web/src/assets/styles/common/variables.css
Due: none

fix(settings): junas avatar-badge nicht mehr deckend weiss
  apps/web/public/images/profileimages/12.webp
Due: none

fix(web): restore monotonic elevation order for background-pure/alt
  apps/web/src/assets/styles/common/variables.css
Due: none

fix(web): give --background-color-alt its own elevation tier
  apps/web/src/assets/styles/common/variables.css
Due: none

fix(chat): match ChatGPT-style spacing, only show loading icon while streaming
  packages/chat/src/components/thread/AssistantMessage.tsx
  packages/chat/src/components/thread/GrueneratorComposer.tsx
  packages/chat/src/components/thread/GrueneratorThread.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(mem0): reduce unbounded memory growth via gatekeeper dedup and throttling
  apps/api/routes/chat/services/postResponseService.ts
  apps/api/services/mem0/config.ts
  apps/api/services/mem0/extractionThrottle.ts
  apps/api/services/mem0/gatekeeperService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(canvas-editor): sync dark-mode elevation tokens with apps/web
  packages/canvas-editor/src/styles/variables.css
Due: none

fix(chat): fade loading icon out instead of unmounting it
  packages/chat/src/components/thread/AssistantMessage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(mem0): address PR review — verify existing-memories claim, add throttle tests
  apps/api/services/mem0/config.ts
  apps/api/services/mem0/extractionThrottle.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(security): schliesse offene codeql- und dependabot-befunde
  package.json
  packages/contracts/src/richtext/slideBody.ts
  packages/presentations/src/lib/slideBody.test.ts
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(mem0): add unit tests for gatekeeperService
  apps/api/services/mem0/gatekeeperService.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(security): escape quotes in slide image markdown title
  packages/contracts/src/richtext/slideBody.ts
  packages/presentations/src/lib/slideBody.test.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
