Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): source tier switch for parliament notebooks
  apps/web/src/features/notebook/components/NotebookPage.tsx
  apps/web/src/features/notebook/components/NotebookStartpage.tsx
  packages/chat/src/components/notebook/NotebookComposer.tsx
  packages/chat/src/components/notebook/NotebookComposer.vitest.tsx
  packages/chat/src/components/notebook/NotebookSettingsPopover.tsx
  packages/chat/src/components/thread/AssistantMessage.tsx
  packages/chat/src/index.ts
  packages/chat/src/lib/notebookSourceTier.ts
  packages/chat/src/runtime/NotebookModelAdapter.ts
  packages/chat/src/runtime/NotebookModelAdapter.vitest.ts
  packages/chat/src/runtime/useNotebookChatAdapter.ts
  packages/chat/src/stores/chatStore.ts
  packages/chat/src/stores/chatStore.vitest.ts
  packages/chat/src/types/messageMetadata.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(studio): retire /bild-editor, move the editor to /studio/bild and redirect old routes
  apps/web/src/components/layout/Sidebar/NewItemDropdown.tsx
  apps/web/src/config/routeRedirects.vitest.tsx
  apps/web/src/config/routes.ts
  apps/web/src/config/toolRegistry.ts
  apps/web/src/config/workplaceToolsConfig.ts
  apps/web/src/features/global-search/toolCatalog.ts
  apps/web/src/features/image-studio/CanvasLandingPage.tsx
  apps/web/src/features/image-studio/components/StudioGallerySections.tsx
  apps/web/src/features/image-studio/freitext/FreitextSharepicPage.tsx
  apps/web/src/features/image-studio/freitext/FreitextSharepicPage.vitest.tsx
  apps/web/src/features/image-studio/gallery/ImageGallery.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(mobile): let the server pick style and format of new AI images
  apps/mobile/components/image-studio/bild-editor/BevComposer.tsx
  apps/mobile/components/image-studio/bild-editor/types.ts
  apps/mobile/hooks/image-studio/useBildEditorMobile.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(guides): update sharepic and AI image guides for the studio composer
  apps/api/services/docs/docsIndex.generated.ts
  documentation/docs/guides/einsteigerinnen/ki-bilder-erstellen.mdx
  documentation/docs/guides/einsteigerinnen/sharepic-erstellen.mdx
  documentation/static/img/guides/ki-bilder-einstellungen.webp
  documentation/static/img/guides/ki-bilder-start.webp
  documentation/static/img/guides/sharepic-start.webp
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(sharepic): short AI label per slide, long closing label on the last slide
  apps/api/services/docs/docsIndex.generated.ts
  documentation/docs/guides/einsteigerinnen/sharepic-erstellen.mdx
  packages/canvas-editor/src/composer/composeSharepic.ts
  packages/canvas-editor/src/composer/composeSharepic.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(chat): list notebookSourceTier as a web-only lib module
  packages/chat/src/barrelParity.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(studio): drop orphaned tour anchor, raise mode picker contrast, sync ui labels
  apps/web/src/features/image-studio/CanvasLandingPage.tsx
  documentation/src/generated/ui-labels.json
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(studio): one render per keystroke in the composer, show progress at once on handoff
  apps/web/src/features/docs/DocsComposer.tsx
  apps/web/src/features/image-studio/bild-editor-v2/useBildEditorV2.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): type the parsed vorschau photos in the vorlagen render harness
  apps/web/tests/e2e/harness/render-sharepic-vorlagen.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): keep the source tier note across reloads
  apps/api/routes/chat/messagesController.ts
  apps/api/routes/chat/messagesController.vitest.ts
  apps/api/routes/chat/notebookStreamController.ts
  apps/api/routes/chat/notebookStreamController.vitest.ts
  packages/chat/src/runtime/threadMessageConversion.ts
  packages/chat/src/runtime/threadMessageConversion.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): type the Vorlagen preview-photo map in the render script
  apps/web/tests/e2e/harness/render-sharepic-vorlagen.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(docs): sync generated tool catalog
  documentation/src/generated/tools.json
Due: prettier --write

fix(sharepic): name the closing label in the source note, test it per locale
  packages/canvas-editor/src/composer/composeSharepic.vitest.ts
  packages/shared/src/image-studio/sharepicSourceNote.ts
  packages/shared/src/image-studio/sharepicSourceNote.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(studio): share the sharepic editor shell and add a download
  apps/web/src/features/image-studio/editor-shell/StudioEditorActions.tsx
  apps/web/src/features/image-studio/editor-shell/StudioEditorShell.tsx
  apps/web/src/features/image-studio/editor-shell/StudioPreviewStage.tsx
  apps/web/src/features/image-studio/editor-shell/StudioPreviewStage.vitest.tsx
  apps/web/src/features/image-studio/editor-shell/editor-shell.css
  apps/web/src/features/image-studio/editor-shell/useCyclingStatus.ts
  apps/web/src/features/image-studio/freitext/FreitextSharepicPage.tsx
  apps/web/src/features/image-studio/freitext/FreitextSharepicPage.vitest.tsx
  apps/web/src/features/image-studio/freitext/creatorRender.ts
  apps/web/src/features/image-studio/services/downloadSharepicZip.ts
  apps/web/src/providers/GlobalChatProvider.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(studio): edit ki images in the sidebar layout of the sharepic creator
  apps/web/src/config/routes.ts
  apps/web/src/features/image-studio/CanvasLandingPage.tsx
  apps/web/src/features/image-studio/bild-editor-v2/BevBoxes.tsx
  apps/web/src/features/image-studio/bild-editor-v2/BevBoxes.vitest.tsx
  apps/web/src/features/image-studio/bild-editor-v2/BevChat.tsx
  apps/web/src/features/image-studio/bild-editor-v2/BevComposer.tsx
  apps/web/src/features/image-studio/bild-editor-v2/BevComposer.vitest.tsx
  apps/web/src/features/image-studio/bild-editor-v2/BevVersionStrip.tsx
  apps/web/src/features/image-studio/bild-editor-v2/BildEditorV2Page.tsx
  apps/web/src/features/image-studio/bild-editor-v2/BildEditorV2Page.vitest.tsx
  apps/web/src/features/image-studio/bild-editor-v2/BildEditorV2Profilbild.vitest.tsx
  apps/web/src/features/image-studio/bild-editor-v2/BildEditorV2Sharepic.vitest.tsx
  apps/web/src/features/image-studio/bild-editor-v2/bild-editor-v2.css
  apps/web/src/features/image-studio/bild-editor-v2/boxEdit.ts
  apps/web/src/features/image-studio/bild-editor-v2/boxEdit.vitest.ts
  apps/web/src/features/image-studio/bild-editor-v2/sharepicExamples.ts
  apps/web/src/features/image-studio/bild-editor-v2/types.ts
  apps/web/src/features/image-studio/bild-editor-v2/useBildEditorV2.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(studio): describe the unified editor, downloads and the removed box mode
  apps/api/services/docs/docsIndex.generated.ts
  documentation/docs/guides/einsteigerinnen/ki-bilder-erstellen.mdx
  documentation/docs/guides/einsteigerinnen/sharepic-erstellen.mdx
  documentation/docs/guides/einsteigerinnen/sharepics-ki-bilder-studio.mdx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(studio): show the handed-over prompt while the first image runs and wrap the mode chips
  apps/web/src/features/image-studio/bild-editor-v2/BevChat.tsx
  apps/web/src/features/image-studio/bild-editor-v2/useBildEditorV2.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(studio): drop the status text from the loading stage, the chat already says it
  apps/web/src/features/image-studio/bild-editor-v2/BildEditorV2Page.tsx
  apps/web/src/features/image-studio/editor-shell/StudioPreviewStage.tsx
  apps/web/src/features/image-studio/editor-shell/StudioPreviewStage.vitest.tsx
  apps/web/src/features/image-studio/editor-shell/editor-shell.css
  apps/web/src/features/image-studio/freitext/FreitextSharepicPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(bild-editor): persist versions in IndexedDB instead of localStorage
  apps/web/src/features/image-studio/bild-editor-v2/BildEditorV2Page.tsx
  apps/web/src/features/image-studio/bild-editor-v2/BildEditorV2Persistence.vitest.tsx
  apps/web/src/features/image-studio/bild-editor-v2/BildEditorV2Profilbild.vitest.tsx
  apps/web/src/features/image-studio/bild-editor-v2/BildEditorV2Sharepic.vitest.tsx
  apps/web/src/features/image-studio/bild-editor-v2/bevPersistence.ts
  apps/web/src/features/image-studio/bild-editor-v2/useBildEditorV2.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): never deny graphics, offer only concrete Grünerator features
  apps/api/agents/langgraph/ChatGraph/nodes/__snapshots__/respondNodePrompt.vitest.ts.snap
  apps/api/agents/langgraph/ChatGraph/nodes/artifactInventory.ts
  apps/api/agents/langgraph/ChatGraph/nodes/respondNode.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Revert "feat(api): count procedure siblings as similar in MMR"
  apps/api/services/BaseSearchService/BaseSearchService.ts
  apps/api/services/BaseSearchService/mmrVorgang.vitest.ts
  apps/api/services/BaseSearchService/scoring.ts
  apps/api/services/BaseSearchService/types.ts
  apps/api/services/document-services/DocumentSearchService/searchOperations.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(studio): edit ki images by chat only, without modes or message actions
  apps/api/services/docs/docsIndex.generated.ts
  apps/web/src/features/image-studio/bild-editor-v2/BevChat.tsx
  apps/web/src/features/image-studio/bild-editor-v2/BildEditorV2Page.vitest.tsx
  apps/web/src/features/image-studio/bild-editor-v2/BildEditorV2Profilbild.vitest.tsx
  apps/web/src/features/image-studio/bild-editor-v2/canvasHandoff.ts
  apps/web/src/features/image-studio/bild-editor-v2/types.ts
  apps/web/src/features/image-studio/bild-editor-v2/useBildEditorV2.ts
  apps/web/src/features/image-studio/freitext/SharepicCreatorChat.tsx
  documentation/docs/guides/einsteigerinnen/ki-bilder-erstellen.mdx
  packages/chat/src/components/thread/AssistantMessage.tsx
  packages/chat/src/components/thread/AssistantMessage.vitest.tsx
  packages/chat/src/components/thread/GrueneratorThread.tsx
  packages/chat/src/components/thread/chatDensityContext.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(studio): keep the chat role out of the sharepic and image chats
  apps/web/src/features/image-studio/bild-editor-v2/BevChat.tsx
  apps/web/src/features/image-studio/freitext/SharepicCreatorChat.tsx
  packages/chat/src/components/thread/GrueneratorThread.tsx
  packages/chat/src/components/thread/UserMessage.tsx
  packages/chat/src/components/thread/UserMessage.vitest.tsx
  packages/chat/src/components/thread/chatDensityContext.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(tools): describe the studio-voice tile
  documentation/src/components/ToolOverview/toolNotes.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): let agent builders scope Sharepic-Vorlagen
  apps/api/routes/chat/agents/agentToolWhitelist.vitest.ts
  apps/api/routes/chat/agents/vorlagenTools.ts
  apps/api/routes/chat/agents/vorlagenTools.vitest.ts
  packages/shared/src/agents/userTools.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(studio): drop the box-only mode flags and size the image placeholder 4:5
  apps/web/src/features/image-studio/CanvasLandingPage.tsx
  apps/web/src/features/image-studio/bild-editor-v2/BildEditorV2Page.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): offer one fitting artifact and build it on a short "ja"
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.ts
  apps/api/agents/langgraph/ChatGraph/nodes/respondNode.ts
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/evals/assertions.ts
  apps/api/evals/assertions.vitest.ts
  apps/api/evals/classifierCensus.baseline.txt
  apps/api/evals/corpus/offers.jsonl
  apps/api/routes/chat/__integration__/harness/fakeThreadStore.ts
  apps/api/routes/chat/__integration__/offerAccept.vitest.ts
  apps/api/routes/chat/services/agenticLoop/agenticRespondService.ts
  apps/api/routes/chat/services/agenticLoop/agenticRespondService.vitest.ts
  apps/api/routes/chat/services/agenticLoop/catalogAssembly.vitest.ts
  apps/api/routes/chat/services/agenticLoop/synthPrompt.ts
  apps/api/routes/chat/services/agenticLoop/synthPrompt.vitest.ts
  apps/api/routes/chat/services/agenticLoop/toolUsageBlock.ts
  apps/api/routes/chat/services/artifactOffer.ts
  apps/api/routes/chat/services/artifactOffer.vitest.ts
  apps/api/routes/chat/services/postResponseService.ts
  apps/api/routes/chat/services/streamContext.ts
  apps/api/routes/chat/services/threadPersistenceService.ts
  apps/api/routes/chat/streamStages/actionGateStage.ts
  apps/api/routes/chat/streamStages/createIntentStage.ts
  apps/api/services/chat/productKnowledge.ts
  apps/api/services/chat/productKnowledge.vitest.ts
  apps/api/utils/decisionJournal.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): finish resumed clarification turns through the normal persist and emit path
  apps/api/routes/chat/services/agenticLoop/approvalResume.ts
  apps/api/routes/chat/services/agenticLoop/approvalResume.vitest.ts
  apps/api/routes/chat/services/agenticLoop/clarificationResume.ts
  apps/api/routes/chat/services/agenticLoop/clarificationResume.vitest.ts
  apps/api/routes/chat/services/postResponseService.ts
  apps/api/routes/chat/streamStages/loopResumeEnd.ts
  apps/api/routes/chat/streamStages/persistStage.ts
  apps/api/routes/chat/streamStages/responseAgentic.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(vorlagen): no AI label on a plain Vorlage copy
  apps/web/src/features/image-studio/freitext/composeForRender.ts
  apps/web/src/features/image-studio/freitext/composeForRender.vitest.ts
  apps/web/src/features/vorlagen/SharepicVorlageInstantiatePage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(docs): regenerate agent-tools and chat-capabilities manifests
  documentation/src/generated/agent-tools.json
  documentation/src/generated/chat-capabilities.json
Due: prettier --write

chore(docs): sync generated chat capabilities and agent tools for vorlagen
  documentation/src/generated/agent-tools.json
  documentation/src/generated/chat-capabilities.json
Due: prettier --write

chore(docs): regenerate chat capabilities for the vorlagen tool
  documentation/src/generated/chat-capabilities.json
Due: prettier --write

docs(chat): add example questions for create_explainable
  documentation/src/components/ChatCapabilities/examples.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(mobile): bump app version to 1.5.9
  apps/mobile/app.json
Due: prettier --write

fix(mobile): keep workspace package.json files in eas uploads
  .easignore
  apps/mobile/.easignore
Due: none

fix(mobile): re-include services/hocuspocus in eas uploads
  .easignore
  apps/mobile/.easignore
Due: none

fix(mobile): keep .env files out of eas uploads
  .easignore
Due: none

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
