Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix: prune kommunalwiki articles deleted upstream
  apps/api/services/scrapers/implementations/KommunalwikiScraper.ts
  apps/api/services/scrapers/implementations/KommunalwikiScraper.vitest.ts
  apps/api/update-all-content.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): teach the sharepic edit lane the word for a bullet list
  apps/api/routes/chat/services/sharepicEditHeuristics.ts
  apps/api/routes/chat/services/sharepicEditHeuristics.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix: surface the kommunalwiki prune outcome in the sync report
  apps/api/routes/internal/contentSyncContractRouter.ts
  apps/api/services/email/contentSyncTemplate.vitest.ts
  apps/api/services/email/templates.ts
  apps/api/services/scrapers/implementations/KommunalwikiScraper.vitest.ts
  apps/api/types/syncTypes.ts
  apps/api/update-all-content.ts
  apps/api/wrap-sync-result.ts
  packages/contracts/src/schemas/contentSync.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(ui): pair the accent foreground with the accent surface
  apps/web/src/assets/styles/common/variables.css
Due: none

fix(ui): give the select popover an explicit border colour
  packages/ui/src/components/select.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(voice): open on plain vertonen with the settings behind a disclosure
  apps/web/src/features/voice/VoicePage.tsx
  apps/web/src/features/voice/VoicePage.vitest.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(chat): drop the sidebar's own chat search, fold it into global search
  apps/api/routes/search/globalSearchChats.vitest.ts
  apps/api/routes/search/globalSearchContractRouter.ts
  apps/api/routes/search/globalSearchThreadSearch.vitest.ts
  apps/web/src/features/global-search/GlobalSearchDialog.tsx
  packages/chat/src/components/ChatThreadList.tsx
  packages/chat/src/components/assistant-ui/elements/thread-search.tsx
  packages/chat/src/components/assistant-ui/elements/thread-search.vitest.tsx
  packages/chat/src/components/thread/ChatThreadSearch.tsx
  packages/chat/src/hooks/useDebounce.ts
  packages/chat/src/hooks/useThreadSearch.ts
  packages/chat/src/hooks/useThreadSearch.vitest.ts
  packages/contracts/src/contracts/globalSearchContract.ts
  packages/contracts/src/schemas/globalSearch.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix: add --font-color-green to the dark theme block
  apps/web/src/assets/styles/common/variables.css
Due: none

fix: give toasts the page theme instead of always light
  apps/web/src/App.tsx
  apps/web/src/test/toaster-theme.vitest.tsx
  packages/ui/src/components/sonner.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix: close export drift between the two @gruenerator/chat barrels
  packages/chat/src/index.native.ts
  packages/chat/src/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test: guard that a chat export reaches both platform barrels
  packages/chat/src/barrelParity.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(deps): bump patch and minor versions across the workspace
  apps/api/package.json
  apps/desktop/package.json
  apps/gruen-o-mat/package.json
  apps/mobile/package.json
  apps/web/package.json
  apps/wordpress/package.json
  documentation/package.json
  package.json
  packages/canvas-editor/package.json
  packages/chat/package.json
  packages/collab/package.json
  packages/contracts/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/presentations/package.json
  packages/query/package.json
  packages/shared/package.json
  packages/sites-design/package.json
  packages/sites/package.json
  packages/ui/package.json
  packages/voice/package.json
  packages/wolke/package.json
  pnpm-lock.yaml
  services/hocuspocus/package.json
Due: prettier --write

feat(chat): let the notebooks tool list system and community notebooks
  apps/api/routes/chat/agents/notebookTools.ts
  apps/api/routes/chat/agents/notebookTools.vitest.ts
  apps/api/routes/mcp-server/serverFactory.ts
  apps/api/routes/notebook/notebookCollectionsContractRouter.ts
  apps/api/services/notebook/publicNotebookListing.ts
  apps/api/services/notebook/publicNotebookListing.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(chat): correct the stale reason behind the notebook single-pass lock
  apps/api/routes/chat/services/agenticLoop/routing.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): resolve the embedding model name across files
  documentation/scripts/generate-models.mjs
Due: none

fix(eslint-config): widen the typescript peer range to cover 6.x
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(canvas): request the bold and italic faces the canvas paints
  packages/canvas-editor/src/components/GenericCanvas.tsx
  packages/canvas-editor/src/hooks/__tests__/fontSpecs.vitest.ts
  packages/canvas-editor/src/hooks/index.ts
  packages/canvas-editor/src/hooks/useFontGeneration.ts
  packages/canvas-editor/src/hooks/useFontLoader.ts
  packages/canvas-editor/src/primitives/CanvasRichText.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix: stop find_content advertising notebooks it cannot reach
  apps/api/routes/chat/agents/personalDataTools.ts
  apps/api/routes/chat/agents/personalDataTools.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(mobile): bump app version to 1.5.0
  apps/mobile/app.json
Due: prettier --write
