Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): honour a custom agent's enabledTools as a whitelist on every gate
  apps/api/agents/langgraph/ChatGraph/ChatGraph.ts
  apps/api/agents/langgraph/ChatGraph/agentToolWhitelistSeam.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.ts
  apps/api/routes/chat/agents/agentToolWhitelist.ts
  apps/api/routes/chat/agents/agentToolWhitelist.vitest.ts
  apps/api/routes/chat/agents/searchTools.ts
  apps/api/routes/chat/chatGraphContractRouter.ts
  packages/shared/src/agents/agentToolKeys.ts
  packages/shared/src/agents/userTools.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(deps): unblock lockfile regeneration with trustPolicyIgnoreAfter
  pnpm-workspace.yaml
Due: prettier --write

fix(chat): render a recording once, with its own download
  packages/chat/src/components/message-parts/ComputeCard.tsx
  packages/chat/src/components/message-parts/ComputeCard.vitest.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(deps): ignore impossible pip bumps in the uv-compiled nlp closure
  .github/dependabot.yml
Due: prettier --write

fix(chat): keep a recording playing when its download fails
  packages/chat/src/components/message-parts/ComputeCard.tsx
  packages/chat/src/components/message-parts/ComputeCard.vitest.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(deps): point B6 at trustPolicyIgnoreAfter, not trustPolicyExclude
  docs/CLAUDE-deps.md
Due: prettier --write

fix(chat): gate the picker keys that reached no runtime gate
  apps/api/agents/langgraph/ChatGraph/nodes/respondNode.ts
  apps/api/agents/langgraph/ChatGraph/nodes/respondNode.vitest.ts
  apps/api/routes/chat/agents/searchTools.ts
  apps/api/routes/chat/agents/searchTools.vitest.ts
  apps/api/routes/chat/agents/toolCatalog.ts
  apps/api/routes/chat/agents/toolCatalog.vitest.ts
  apps/api/routes/chat/streamStages/responseSinglePass.ts
  packages/shared/src/agents/agentToolKeys.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): honour the composer's pressemitteilung_examples key on the loop
  apps/api/routes/chat/agents/toolCatalog.ts
  apps/api/routes/chat/agents/toolCatalog.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(recurring-tasks): surface run history, verdict and failure link
  apps/api/routes/chat/agents/recurringTaskTools.vitest.ts
  apps/api/services/recurringTasks/recurringTaskRunner.ts
  apps/api/services/recurringTasks/recurringTasksRepository.ts
  apps/api/services/recurringTasks/recurringTasksRepository.vitest.ts
  apps/web/src/features/agentura/components/RecurringTaskCard.tsx
  apps/web/src/features/recurring-tasks/RecurringTasksPage.tsx
  apps/web/src/features/recurring-tasks/RunHistory.tsx
  apps/web/src/features/recurring-tasks/RunHistory.vitest.tsx
  packages/contracts/src/schemas/recurringTasks.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(recurring-tasks): make "Jetzt ausführen" report what happened
  apps/web/src/features/agentura/components/RecurringTaskCard.tsx
  apps/web/src/features/recurring-tasks/RecurringTasksPage.tsx
  apps/web/src/features/recurring-tasks/api.ts
  apps/web/src/features/recurring-tasks/useRecurringRunNow.ts
  apps/web/src/features/recurring-tasks/useRecurringRunNow.vitest.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(chat): hoist the shared lead-in of the image-context block
  apps/api/agents/langgraph/ChatGraph/nodes/respondNode.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(nlp): copy a fixed-path venv instead of a version-named site-packages
  services/nlp/Dockerfile
Due: none

ci(nlp): build the image on PRs and read its Python version from the Dockerfile
  .github/workflows/ci.yml
  .github/workflows/nlp-image.yml
Due: prettier --write

feat(recurring-tasks): make automations findable and name their results
  apps/web/src/components/layout/Sidebar/GrueneratorenSidebarSection.tsx
  apps/web/src/features/agents/AgentEditor.tsx
  apps/web/src/features/agentura/AgenturaPage.tsx
  apps/web/src/features/notifications/notificationPreferenceMeta.ts
  apps/web/src/features/notifications/types/index.ts
  apps/web/src/features/recurring-tasks/RecurringTasksPage.tsx
  documentation/src/components/ChatCapabilities/examples.ts
  documentation/src/generated/chat-capabilities.json
  documentation/src/generated/settings.json
  packages/shared/src/chat-intents/chatIntents.vitest.ts
  packages/shared/src/chat-intents/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix: carry the 401 code through the chat and docs stacks
  apps/web/src/components/utils/apiClient.ts
  apps/web/src/components/utils/apiClient.vitest.ts
  apps/web/src/features/docs/docsAdapter.ts
  apps/web/src/providers/GlobalChatProvider.tsx
  packages/chat/src/context/ChatContext.tsx
  packages/chat/src/context/ChatContext.vitest.ts
  packages/chat/src/runtime/GrueneratorModelAdapter/index.ts
  packages/chat/src/stores/chatConfigStore.ts
  packages/docs/src/context/DocsContext.tsx
  packages/shared/src/api/index.ts
  packages/shared/src/api/unauthorizedInfo.ts
  packages/shared/src/api/unauthorizedInfo.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(recurring-tasks): say when a background run wanted to ask something
  apps/api/routes/chat/services/agenticLoop/runHeadlessAgenticTurn.ts
  apps/api/routes/chat/services/agenticLoop/runHeadlessAgenticTurn.vitest.ts
  apps/api/services/recurringTasks/recurringTaskRunner.ts
  apps/api/services/recurringTasks/recurringTaskRunner.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix: keep HTTP status on failed group requests
  apps/web/src/components/utils/toastError.vitest.ts
  apps/web/src/features/groups/components/GroupDetailSection.tsx
  apps/web/src/features/groups/components/GroupDetailSection.vitest.tsx
  apps/web/src/features/groups/components/GroupInfoSection.tsx
  apps/web/src/features/groups/hooks/useGroupRequests.ts
  apps/web/src/features/groups/hooks/useGroups.ts
  apps/web/src/features/groups/pages/JoinGroupPage.tsx
  packages/shared/src/api/errors.ts
  packages/shared/src/api/errors.vitest.ts
  packages/shared/src/groups/useGroups.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(recurring-tasks): give background runs a durable record and a watchdog
  apps/api/database/postgres/migrations/zz_20260915_recurring_task_runs_lease.sql
  apps/api/database/schema/recurringTasks.ts
  apps/api/routes/chat/agents/recurringTaskTools.ts
  apps/api/routes/chat/agents/recurringTaskTools.vitest.ts
  apps/api/routes/recurringTasks/recurringTasksContractRouter.ts
  apps/api/services/recurringTasks/recurringTaskRunner.ts
  apps/api/services/recurringTasks/recurringTaskRunner.vitest.ts
  apps/api/services/recurringTasks/recurringTaskWorker.ts
  apps/api/services/recurringTasks/recurringTasksRepository.ts
  apps/web/src/features/recurring-tasks/RunHistory.tsx
  apps/web/src/features/recurring-tasks/RunHistory.vitest.tsx
  apps/web/src/features/recurring-tasks/useRecurringRunNow.vitest.tsx
  packages/contracts/src/contracts/recurringTasksContract.ts
  packages/contracts/src/schemas/recurringTasks.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(boards): stop a crashing agent task from retrying forever
  apps/api/services/boards/agentTaskService.ts
  apps/api/services/boards/boardAgentWorker.ts
  apps/api/services/boards/boardScheduleService.ts
  apps/web/src/features/boards/aiColumns/CardAutomationSection.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(recurring-tasks): add guardrails and make background runs traceable
  apps/api/database/postgres/migrations/zz_20260915_recurring_tasks_guardrails.sql
  apps/api/database/schema/recurringTasks.ts
  apps/api/routes/chat/services/agenticLoop/runHeadlessAgenticTurn.ts
  apps/api/services/boards/boardAgentWorker.ts
  apps/api/services/recurringTasks/recurringTaskRunner.ts
  apps/api/services/recurringTasks/recurringTaskRunner.vitest.ts
  apps/api/services/recurringTasks/recurringTaskWorker.ts
  apps/api/services/recurringTasks/recurringTasksRepository.ts
  apps/web/src/features/agentura/components/RecurringTaskCard.tsx
  apps/web/src/features/recurring-tasks/RecurringTasksPage.tsx
  packages/contracts/src/schemas/recurringTasks.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
