Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

docs: update roadmap for 4-stream parallel session
  docs/typescript-safety-roadmap.md
Due: prettier --write

docs: add 5-session fast-forward plan to full type safety
  docs/typescript-safety-roadmap.md
Due: prettier --write

feat(scripts): codegen now infers response schemas from res.json calls
  scripts/generate-contracts-from-validate-body.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(auth): close Priority 4 — replace toBetterAuthUser cast pile with Zod parse
  apps/api/config/betterAuth.ts
  apps/api/middleware/authMiddleware.ts
  apps/web/src/features/auth/hooks/useProfileData.ts
  apps/web/src/features/image-studio/components/ImageStudioCategorySelector.tsx
  apps/web/src/features/image-studio/components/StepFlow.tsx
  apps/web/src/features/notebook/hooks/useNotebookChatBridge.ts
  apps/web/src/hooks/useFirstName.ts
  apps/web/src/providers/GlobalChatProvider.tsx
  packages/contracts/src/schemas/userProfile.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(contracts): add docsContract + documentsContract (8 endpoints, Session N+1 Stream A)
  apps/api/routes/docs/docsContractRouter.ts
  apps/api/routes/documents/documentsContractRouter.ts
  packages/contracts/src/contracts/docsContract.ts
  packages/contracts/src/contracts/documentsContract.ts
  packages/contracts/src/schemas/docs.ts
  packages/contracts/src/schemas/documents.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(contracts): subtitler + voice + imagePicker + video contracts (24 endpoints)
  apps/api/routes/image/imagePickerContractRouter.ts
  apps/api/routes/subtitler/subtitlerContractRouter.ts
  apps/api/routes/video/videoContractRouter.ts
  apps/api/routes/voice/voiceContractRouter.ts
  packages/contracts/src/contracts/imagePickerContract.ts
  packages/contracts/src/contracts/subtitlerContract.ts
  packages/contracts/src/contracts/videoContract.ts
  packages/contracts/src/contracts/voiceContract.ts
  packages/contracts/src/schemas/imagePicker.ts
  packages/contracts/src/schemas/subtitler.ts
  packages/contracts/src/schemas/video.ts
  packages/contracts/src/schemas/voice.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(contracts): sharepic + wordpress + transfer + unsplash contracts (10 endpoints)
  apps/api/routes/sharepic/sharepic_canvas/campaignCanvasContractRouter.ts
  apps/api/routes/transfer/transferContractRouter.ts
  apps/api/routes/unsplash/unsplashContractRouter.ts
  apps/api/routes/wordpress/wordpressContractRouter.ts
  packages/contracts/src/contracts/sharepicContract.ts
  packages/contracts/src/contracts/textGenerationContract.ts
  packages/contracts/src/contracts/transferContract.ts
  packages/contracts/src/contracts/unsplashContract.ts
  packages/contracts/src/contracts/wordpressContract.ts
  packages/contracts/src/schemas/sharepic.ts
  packages/contracts/src/schemas/textGeneration.ts
  packages/contracts/src/schemas/transfer.ts
  packages/contracts/src/schemas/unsplash.ts
  packages/contracts/src/schemas/wordpress.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(contracts): wire all Session N+1 contracts into barrels + routes
  apps/api/routes.ts
  packages/contracts/src/contracts/index.ts
  packages/contracts/src/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(ratchet): drop cast baseline 209 → 208
  .type-safety-baseline
Due: none

docs: mark Session N+1 DONE — 22 contracts / 92 endpoints / 73% coverage
  docs/typescript-safety-roadmap.md
Due: prettier --write

fix(web): alias @gruenerator/contracts in Vite config to fix CI build
  apps/web/vite.config.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): migrate wordpress + transfer to typed contract clients
  apps/web/src/features/transfer/hooks/useTransfer.ts
  apps/web/src/features/wordpress/lib/wordpressApi.ts
  packages/shared/src/api/contractsClient.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): complete boards contract migration, delete legacy useBoards
  apps/api/routes/boards/boardsContractRouter.ts
  apps/web/src/features/boards/BoardsListPage.tsx
  apps/web/src/features/boards/hooks/useBoards.ts
  apps/web/src/features/boards/types.ts
  apps/web/src/features/docs/DocsPage.tsx
  apps/web/src/features/workplace/components/BoardsInner.tsx
  apps/web/src/features/workplace/components/RecentlyCreatedSection.tsx
  apps/web/src/hooks/useBoardsTyped.ts
  packages/contracts/src/contracts/boardsContract.ts
  packages/contracts/src/schemas/boards.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(contracts): notifications + adminVorlagen contracts + typed hooks
  apps/api/routes/auth/templates/adminVorlagenContractRouter.ts
  apps/api/routes/notifications/notificationsContractRouter.ts
  apps/web/src/features/admin/hooks/useAdminVorlagen.ts
  apps/web/src/features/notifications/hooks/useNotificationPreferences.ts
  apps/web/src/features/notifications/hooks/useNotifications.ts
  apps/web/src/hooks/useAdminVorlagenTyped.ts
  apps/web/src/hooks/useNotificationsTyped.ts
  packages/contracts/src/contracts/adminVorlagenContract.ts
  packages/contracts/src/contracts/notificationsContract.ts
  packages/contracts/src/schemas/adminVorlagen.ts
  packages/contracts/src/schemas/notifications.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(chat): brand threadAccessService with ThreadId + UserId
  apps/api/routes/chat/chatGraphContractRouter.ts
  apps/api/routes/chat/chatGraphController.ts
  apps/api/routes/chat/messagesController.ts
  apps/api/routes/chat/services/threadAccessService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): add getUserId helper + regression tests for auth boundary
  apps/api/config/authRegressions.vitest.ts
  apps/api/middleware/authBoundary.vitest.ts
  apps/api/middleware/authMiddleware.ts
  apps/api/middleware/authMiddleware.vitest.ts
  apps/api/routes/chat/services/threadAccessService.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(contracts): wire notifications + adminVorlagen into barrels + routes
  apps/api/routes.ts
  packages/contracts/src/contracts/index.ts
  packages/contracts/src/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: mark Session N+2 DONE — 24 contracts / 106 endpoints / 6 typed hooks
  docs/typescript-safety-roadmap.md
Due: prettier --write

test(auth): hoist Better Auth import to module top-level in authRegressions
  apps/api/config/authRegressions.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(build): add @gruenerator/contracts alias to sites + docs Vite configs
  apps/docs/vite.config.ts
  apps/sites/vite.config.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write
