Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(deps): hold @base-ui/react and react-native-webview below the breaking minors
  apps/mobile/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(pnpm): move config to pnpm-workspace.yaml and bump pnpm to 12.4.2
  .npmrc
  apps/api/Dockerfile
  apps/gruen-o-mat/Dockerfile
  apps/web/Dockerfile
  documentation/Dockerfile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-override-ranges.mjs
  scripts/check-singleton-versions.mjs
  scripts/sync-pnpm-overrides.mjs
  services/hocuspocus/Dockerfile
Due: prettier --write

fix(deps): restore master's @base-ui/react split and pin react-native-webview exactly
  apps/mobile/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(pnpm): record the ignored build scripts in allowBuilds
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix(scripts): keep rootPkg in check-override-ranges
  scripts/check-override-ranges.mjs
Due: none

fix(chat): give the sharepic edit noun `bullet` a trailing boundary
  apps/api/routes/chat/services/sharepicEditHeuristics.ts
  apps/api/routes/chat/services/sharepicEditHeuristics.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(mobile): draw user notebooks as cover tiles and clear the tab capsule
  apps/mobile/app/(tabs)/(recherche)/index.tsx
  apps/mobile/components/notebook/CommunityNotebooksSection.tsx
  apps/mobile/components/notebook/NotebookCard.tsx
  apps/mobile/components/notebook/NotebookCoverArt.tsx
  apps/mobile/components/notebook/NotebookSection.tsx
  apps/mobile/components/notebook/NotebookTile.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(mobile): show every Landesverband notebook in the Wissen gallery
  apps/mobile/app/(tabs)/(recherche)/index.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(canvas): request the bold and italic faces the canvas paints
  packages/canvas-editor/src/components/GenericCanvas.tsx
  packages/canvas-editor/src/hooks/__tests__/fontSpecs.vitest.ts
  packages/canvas-editor/src/hooks/index.ts
  packages/canvas-editor/src/hooks/useFontGeneration.ts
  packages/canvas-editor/src/hooks/useFontLoader.ts
  packages/canvas-editor/src/primitives/CanvasRichText.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(mobile): keep the cover title clear of the reserved corner
  apps/mobile/app/(tabs)/(recherche)/index.tsx
  apps/mobile/components/notebook/NotebookCoverArt.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(mobile): clear the tab bar through one hook, not nine copies
  apps/mobile/app/(tabs)/(recherche)/index.tsx
  apps/mobile/app/(tabs)/(studio)/index.tsx
  apps/mobile/app/(tabs)/start.tsx
  apps/mobile/components/common/BottomComposerBar.tsx
  apps/mobile/components/docs/DocumentsView.tsx
  apps/mobile/hooks/useTabBarClearance.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(mobile): open a created PDF in a viewer instead of the share sheet
  apps/mobile/components/chat/DocumentCreatedCard.tsx
  apps/mobile/package.json
  apps/mobile/services/openFile.ts
  apps/mobile/services/openFile.vitest.ts
  apps/mobile/services/share.ts
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(mobile): dock the start composer onto the keyboard
  apps/mobile/app/(tabs)/start.tsx
  apps/mobile/theme/layout.ts
  apps/mobile/theme/layout.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(deps): patch decode-uri-component DoS reachable from deep links
  CLAUDE.md
  apps/mobile/test/queryStringDos.vitest.ts
  patches/decode-uri-component@0.2.2.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docker): stop pnpm 12 re-installing over the filtered image install
  pnpm-workspace.yaml
Due: prettier --write

chore(docker): drop the stale pnpm@10 corepack pin from the images
  apps/api/Dockerfile
  apps/gruen-o-mat/Dockerfile
  apps/web/Dockerfile
  documentation/Dockerfile
  services/hocuspocus/Dockerfile
Due: none

fix(chat): offer every Landesverband notebook in the @-mention picker
  apps/mobile/app/(tabs)/(recherche)/index.tsx
  packages/chat/src/lib/mentionables.ts
  packages/shared/src/agents/index.ts
  packages/shared/src/agents/landesverbandForRoles.ts
  packages/shared/src/agents/landesverbandForRoles.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docker): copy patches/ into the images pnpm installs in
  apps/api/Dockerfile
  apps/gruen-o-mat/Dockerfile
  apps/web/Dockerfile
  documentation/Dockerfile
  services/hocuspocus/Dockerfile
Due: none

fix(repo): ignore dist and build symlinks, not just directories
  .gitignore
Due: none

fix(mobile): clamp the fold's progress like the spacer's
  apps/mobile/theme/layout.ts
  apps/mobile/theme/layout.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
