Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

feat: find in conversation with Cmd+F
  apps/web/src/features/chat/ChatPage.tsx
  packages/chat/src/components/assistant-ui/elements/conversation-search.tsx
  packages/chat/src/components/thread/GrueneratorThread.tsx
  packages/chat/src/components/thread/ThreadSearchBar.tsx
  packages/chat/src/components/thread/ThreadSearchBar.vitest.tsx
  packages/chat/src/hooks/useConversationSearch.ts
  packages/chat/src/lib/conversationSearch.ts
  packages/chat/src/lib/conversationSearch.vitest.ts
  packages/chat/src/lib/conversationSearchDom.vitest.tsx
  packages/chat/src/styles/chat.css
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(ci): let CI, a11y and review run on stacked pull requests
  .github/workflows/a11y.yml
  .github/workflows/ci.yml
  .github/workflows/mobile-bundle-check.yml
  .github/workflows/pr-review.yml
Due: prettier --write

feat(chat): notebooks tool can create, fill from a wolke folder, search, share and set visibility
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/routes/auth/groups/groupsContract/content.ts
  apps/api/routes/auth/groups/groupsContract/shared.ts
  apps/api/routes/chat/agents/notebookTools.ts
  apps/api/routes/chat/agents/notebookTools.vitest.ts
  apps/api/routes/chat/agents/personalDataTools.ts
  apps/api/routes/chat/agents/personalDataTools.vitest.ts
  apps/api/routes/chat/agents/toolCatalog.ts
  apps/api/routes/chat/confirmController.ts
  apps/api/routes/chat/services/agenticLoop/wrapTools.ts
  apps/api/routes/chat/services/confirmActionService.ts
  apps/api/routes/mcp-server/mcpMutations.ts
  apps/api/routes/mcp-server/serverFactory.ts
  apps/api/routes/notebook/notebookSharingContractRouter.ts
  apps/api/services/chat/productKnowledge.ts
  apps/api/services/groups/groupContent.ts
  apps/api/services/groups/groupContent.vitest.ts
  apps/api/services/notebook/notebookToolSearch.ts
  apps/api/services/notebook/notebookVisibility.ts
  apps/api/services/notebook/notebookVisibility.vitest.ts
  apps/api/services/notebook/notebookWolkeAttach.ts
  apps/api/services/notebook/notebookWolkeAttach.vitest.ts
  apps/api/services/sync/WolkeWatchService.ts
  apps/api/services/sync/wolkePendingFiles.ts
  apps/mobile/components/chat/ConfirmActionCard.tsx
  packages/chat/src/components/tool-ui/ConfirmActionCard.tsx
  packages/chat/src/lib/toolMappings.ts
  packages/chat/src/lib/toolRegistry.ts
  packages/chat/src/lib/toolRegistry.vitest.ts
  packages/contracts/src/schemas/chatStreamEvents.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(agentura): note sidebar name refresh for shared favourites
  apps/api/services/docs/docsIndex.generated.ts
  documentation/docs/features/agentura.mdx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): groups tool reads project details and content, edits info and visibility
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/routes/auth/groups/groupCore.ts
  apps/api/routes/auth/groups/groupsContract/content.ts
  apps/api/routes/auth/groups/groupsContract/core.ts
  apps/api/routes/auth/groups/groupsContract/discovery.ts
  apps/api/routes/auth/groups/groupsContract/shared.ts
  apps/api/routes/chat/agents/groupTools.ts
  apps/api/routes/chat/agents/groupTools.vitest.ts
  apps/api/routes/chat/agents/personalDataTools.ts
  apps/api/routes/chat/agents/personalDataTools.vitest.ts
  apps/api/routes/chat/agents/toolCatalog.ts
  apps/api/routes/chat/confirmController.ts
  apps/api/routes/chat/services/agenticLoop/routing.ts
  apps/api/routes/chat/services/agenticLoop/routing.vitest.ts
  apps/api/routes/chat/services/agenticLoop/types.ts
  apps/api/routes/chat/services/agenticLoop/wrapTools.ts
  apps/api/routes/chat/services/confirmActionService.ts
  apps/api/routes/mcp-server/mcpMutations.ts
  apps/api/routes/mcp-server/serverFactory.ts
  apps/api/services/chat/productKnowledge.ts
  apps/api/services/groups/groupContent.ts
  apps/api/services/groups/groupContent.vitest.ts
  apps/api/services/groups/groupMembership.ts
  apps/api/services/groups/groupMutations.ts
  apps/api/services/groups/groupQueries.ts
  apps/mobile/components/chat/ConfirmActionCard.tsx
  packages/chat/src/components/tool-ui/ConfirmActionCard.tsx
  packages/chat/src/lib/toolMappings.ts
  packages/chat/src/lib/toolRegistry.ts
  packages/chat/src/lib/toolRegistry.vitest.ts
  packages/chat/src/lib/toolResults.ts
  packages/contracts/src/schemas/chatStreamEvents.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: sync README provider list and architecture with the cortecs rename
  README.md
Due: prettier --write

chore(docs): regenerate chat-capabilities.json after retiring create_recurring_task
  documentation/src/generated/chat-capabilities.json
Due: prettier --write

feat(chat): user agents tool lists, drafts, edits and shares Grünerator-Agenten
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/routes/chat/agents/agentLoader.ts
  apps/api/routes/chat/agents/toolCatalog.ts
  apps/api/routes/chat/agents/toolCatalog.vitest.ts
  apps/api/routes/chat/agents/types.ts
  apps/api/routes/chat/agents/userAgentTools.ts
  apps/api/routes/chat/agents/userAgentTools.vitest.ts
  apps/api/routes/chat/confirmController.ts
  apps/api/routes/chat/services/agenticLoop/approvalPolicy.ts
  apps/api/routes/chat/services/agenticLoop/routing.ts
  apps/api/routes/chat/services/agenticLoop/routing.vitest.ts
  apps/api/routes/chat/services/agenticLoop/types.ts
  apps/api/routes/chat/services/agenticLoop/wrapTools.ts
  apps/api/routes/chat/services/agenturaContext.ts
  apps/api/routes/chat/services/agenturaContext.vitest.ts
  apps/api/routes/chat/services/confirmActionService.ts
  apps/api/routes/mcp-server/mcpMutations.ts
  apps/api/routes/mcp-server/serverFactory.ts
  apps/api/services/chat/productKnowledge.ts
  apps/mobile/components/chat/ConfirmActionCard.tsx
  packages/chat/src/components/tool-ui/ConfirmActionCard.tsx
  packages/chat/src/lib/toolMappings.ts
  packages/chat/src/lib/toolRegistry.ts
  packages/chat/src/lib/toolRegistry.vitest.ts
  packages/chat/src/lib/toolResults.ts
  packages/contracts/src/schemas/chatStreamEvents.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(memory): enforce the total budget on update, merge the duplicate import, refresh decision goldens
  apps/api/routes/chat/__integration__/decisions/anhang-zusammenfassung-loop.txt
  apps/api/routes/chat/__integration__/decisions/loop-guard-aehnliche-suche.txt
  apps/api/routes/chat/__integration__/decisions/loop-guard-duplikat.txt
  apps/api/routes/chat/__integration__/decisions/loop-guard-fehlerbudget.txt
  apps/api/routes/chat/__integration__/decisions/loop-guard-fehlerdeckel.txt
  apps/api/routes/chat/__integration__/decisions/loop-guard-nebenlaeufig.txt
  apps/api/routes/chat/__integration__/decisions/loop-guard-suchbudget.txt
  apps/api/routes/chat/__integration__/decisions/loop-synth-ablehnung-getauscht.txt
  apps/api/routes/chat/__integration__/decisions/loop-synth-akzeptiert.txt
  apps/api/routes/chat/__integration__/decisions/loop-synth-werkzeugplan-wiederholt.txt
  apps/api/routes/chat/__integration__/decisions/loop-synth-zweimal-werkzeugplan.txt
  apps/api/routes/chat/__integration__/decisions/mention-bundestag-degradiert.txt
  apps/api/routes/chat/__integration__/decisions/mention-bundestag-loop.txt
  apps/api/routes/chat/__integration__/decisions/mention-doku-loop.txt
  apps/api/routes/chat/__integration__/decisions/mention-dokumente-einzeln.txt
  apps/api/routes/chat/__integration__/decisions/mention-pressemitteilungen-loop.txt
  apps/api/routes/chat/__integration__/decisions/mention-umfragen-loop.txt
  apps/api/routes/chat/agents/memoryTools.ts
  apps/api/routes/mem0/mem0Controller.ts
  apps/api/services/memory/memoryService.ts
  apps/api/services/memory/memoryService.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): restore the interim /api/mem0 router that the fix commit dropped by accident
  apps/api/routes/mem0/mem0Controller.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): recipes tool lists recipes and manages the person's own Textformen
  apps/api/routes/chat/agents/textFormTools.ts
  apps/api/routes/chat/agents/textFormTools.vitest.ts
  apps/api/routes/chat/agents/toolCatalog.ts
  apps/api/routes/chat/agents/toolCatalog.vitest.ts
  apps/api/routes/chat/services/agenticLoop/approvalPolicy.ts
  apps/api/routes/chat/services/agenticLoop/routing.ts
  apps/api/routes/chat/services/agenticLoop/routing.vitest.ts
  apps/api/routes/chat/services/agenticLoop/types.ts
  apps/api/routes/chat/services/agenticLoop/wrapTools.ts
  apps/api/routes/chat/services/agenturaContext.ts
  apps/api/routes/chat/services/agenturaContext.vitest.ts
  apps/api/routes/mcp-server/serverFactory.ts
  apps/api/services/chat/productKnowledge.ts
  packages/chat/src/lib/toolMappings.ts
  packages/chat/src/lib/toolRegistry.ts
  packages/chat/src/lib/toolRegistry.vitest.ts
  packages/chat/src/lib/toolResults.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(chat): refresh the simulatedRun decision goldens for the memoryRequest journal input
  apps/api/routes/chat/__integration__/decisions/dokument-erlaubt.txt
  apps/api/routes/chat/__integration__/decisions/gruss-bleibt-direct.txt
  apps/api/routes/chat/__integration__/decisions/kein-dokument.txt
  apps/api/routes/chat/__integration__/decisions/loop-demotion.txt
  apps/api/routes/chat/__integration__/decisions/sharepic-lizenziert.txt
Due: none

feat(settings): memory contract, switch and tab on /api/memory, retire /api/mem0
  apps/api/routes.ts
  apps/api/routes/mem0/mem0Controller.ts
  apps/api/routes/memory/memoryContractRouter.ts
  apps/api/services/memory/memoryPrompt.ts
  apps/api/services/memory/memoryStore.ts
  apps/api/utils/usageContext.ts
  apps/mobile/components/chat/MemoryIndicator.tsx
  apps/web/src/features/auth/hooks/useProfileData.ts
  apps/web/src/features/auth/services/profileApiService.ts
  apps/web/src/features/settings/tabs/MemoriesSection.tsx
  apps/web/src/features/settings/tabs/MemoriesSection.vitest.tsx
  apps/web/src/stores/profileStore.ts
  documentation/src/generated/settings.json
  packages/chat/src/components/message-parts/MemoryIndicator.tsx
  packages/contracts/src/contracts/index.ts
  packages/contracts/src/contracts/memoryContract.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/memory.ts
  packages/shared/src/api/contractsClient.ts
  packages/shared/src/settings/catalog.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(settings): forward memory_enabled through the profile update on all three layers
  apps/api/routes/auth/userProfileContractRouter.ts
  apps/web/src/features/auth/services/profileApiService.ts
  apps/web/src/features/settings/tabs/MemoriesSection.vitest.tsx
  packages/contracts/src/schemas/userProfile.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(chat): indicator label fixture uses a memory kind, not a mem0 category
  packages/chat/src/components/message-parts/MemoryIndicator.vitest.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): rebuild the message queue on the vendored assistant-ui element
  packages/chat/src/components/assistant-ui/elements/message-queue.tsx
  packages/chat/src/components/thread/ComposerQueueList.tsx
  packages/chat/src/components/thread/ComposerQueueList.vitest.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): keep the queue selector stable and the remove names distinct
  packages/chat/src/components/assistant-ui/elements/message-queue.tsx
  packages/chat/src/components/thread/ComposerQueueList.tsx
  packages/chat/src/components/thread/ComposerQueueList.vitest.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(notebook): remove unreachable citation modal mount and dead request fields
  apps/api/routes/chat/notebookStreamController.ts
  apps/api/routes/chat/notebookStreamCore.ts
  apps/web/src/features/notebook/components/NotebookPage.tsx
  packages/chat/src/runtime/NotebookModelAdapter.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write
