Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(deps): update dependencies within semver ranges
  apps/api/package.json
  apps/docs/package.json
  apps/mobile/package.json
  apps/sites/package.json
  apps/web/package.json
  packages/eslint-config/package.json
  packages/shared/package.json
  services/mcp/package.json
Due: prettier --write

fix(deps): regenerate lockfile for packages/collab dependency update
  pnpm-lock.yaml
Due: prettier --write

fix(ci): trigger builds on pnpm-lock.yaml changes
  .github/workflows/build-images.yml
Due: prettier --write

fix(deps): downgrade axios to ^1.14.0 (1.14.1 yanked from npm)
  apps/api/package.json
  apps/docs/package.json
  apps/mobile/package.json
  apps/sites/package.json
  apps/web/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(db): point migration runner to correct directory
  apps/api/database/migrations/001_fix_table_ordering.sql
  apps/api/database/services/PostgresService/migrations.ts
  apps/api/database/services/PostgresService/schema.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(db): advisory lock for migrations, fix stale migration scripts
  CLAUDE.md
  apps/api/database/postgres/migrations/migrate_anweisungen_to_custom_prompt.sql
  apps/api/database/postgres/migrations/migrate_auto_save_to_beta_features.sql
  apps/api/database/postgres/migrations/run_all_pending.sql
  apps/api/database/services/PostgresService/migrations.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(db): use BEGIN/COMMIT per migration, pg_try_advisory_lock to skip duplicates
  apps/api/database/services/PostgresService/migrations.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(auth): catch Better Auth handler errors, redirect instead of 502
  apps/api/server.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(nginx): increase proxy buffer size for OAuth callback headers
  nginx.conf
Due: none

fix(db): change collaborative_presentations.user_id from TEXT to UUID
  apps/api/database/postgres/migrations/add_presentations.sql
  apps/api/database/postgres/migrations/fix_presentations_user_id_type.sql
  apps/api/database/postgres/schema.sql
Due: none

feat(imagine): add model selector, save to recent activity, lightbox & close button
  apps/api/routes/flux/imaginePure.ts
  apps/web/src/features/texte/modes/imagine.ts
  apps/web/src/features/workplace/components/ImagineInner.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(hocuspocus): log cookie names for WebSocket auth debugging
  services/hocuspocus/src/auth.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(hocuspocus): read __Secure- prefixed Better Auth session cookie
  services/hocuspocus/src/auth.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(hocuspocus): verify sessions via API instead of direct DB lookup
  services/hocuspocus/src/auth.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(docs): use litellm → regolo → mistral provider chain for docs AI
  apps/api/routes/chat/agents/providers.ts
  apps/api/routes/docs/aiController.ts
  apps/api/routes/docs/aiController.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): add missing Tailwind @source directives for shared packages
  apps/web/src/assets/styles/index.css
Due: none

feat(chat): include sources section when exporting notebook responses to docs
  packages/chat/src/components/message-parts/MessageActions.tsx
  packages/chat/src/lib/formatSourcesMarkdown.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(voice): ensure TTS stream response closes after all sentences
  apps/api/routes/voice/ttsController.ts
  apps/api/services/voice/__tests__/tts-multisentence.vitest.ts
  apps/api/services/voice/ttsService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): reduce top padding, center search, hide Präsentation menu item
  apps/web/src/components/common/PageContainer.tsx
  apps/web/src/features/docs/DocsPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): restore sidebar and top spacing for scanner and transfer pages
  apps/web/src/assets/styles/pages/scanner.css
  apps/web/src/config/routes.ts
  apps/web/src/features/scanner/tabs/ScannerTab.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): cast JSONB ? operator params to text and add missing 'docs' subtype
  apps/api/routes/boards/boardsController.ts
  apps/api/routes/chat/threadsController.ts
  apps/api/routes/docs/constants.ts
  apps/api/routes/docs/documentController.ts
  apps/api/routes/presentations/presentationController.ts
  apps/api/routes/workplace/recentActivityController.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
