Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

feat(canvas-editor): add mobile sidebar with responsive tab bar and panel
  apps/web/src/features/image-studio/components/CanvasMobilePanel.tsx
  apps/web/src/features/image-studio/components/CanvasMobileSubsectionBar.tsx
  apps/web/src/features/image-studio/components/CanvasMobileTabBar.tsx
  apps/web/src/features/image-studio/steps/CanvasEditStep.tsx
  packages/canvas-editor/src/CanvasEditorRouter.tsx
  packages/canvas-editor/src/components/CanvasEditor.tsx
  packages/canvas-editor/src/hooks/index.ts
  packages/canvas-editor/src/index.ts
  packages/canvas-editor/src/layouts/CanvasEditorLayout.tsx
  packages/canvas-editor/src/layouts/index.ts
  packages/canvas-editor/src/sidebar/SidebarPanel.tsx
  packages/canvas-editor/src/sidebar/SidebarTabBar.tsx
  packages/canvas-editor/src/sidebar/SubsectionTabBar.tsx
  packages/canvas-editor/src/sidebar/WebSubsectionBar.tsx
  packages/canvas-editor/src/sidebar/index.ts
  packages/canvas-editor/src/stores/canvasSidebarStore.ts
  packages/canvas-editor/src/styles/tailwind-input.css
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): redesign research page with inline filters and Tailwind
  apps/web/src/features/research/ResearchPage.tsx
  apps/web/src/features/research/components/ResearchFilterPanel.tsx
  apps/web/src/features/research/components/ResearchSettingsPanel.tsx
  apps/web/src/features/research/useResearchFilters.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

style(web): migrate Sidebar, SearchBar, and collection pages to Tailwind
  apps/web/src/assets/styles/features/notebook/notebook-collections.css
  apps/web/src/assets/styles/features/qa/qa-collections.css
  apps/web/src/components/layout/Sidebar/Sidebar.tsx
  apps/web/src/features/search/components/SearchBar.tsx
  apps/web/src/features/texte/tabs/EigeneTab.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): improve thread list rendering and file utils
  packages/chat/src/components/ChatThreadList.tsx
  packages/chat/src/components/thread/GrueneratorThread.tsx
  packages/chat/src/components/thread/ThreadListItem.tsx
  packages/chat/src/lib/fileUtils.ts
  packages/chat/src/stores/chatStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(mobile): add ODT file support to document picker
  apps/mobile/services/documentPicker.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore: update pnpm-lock.yaml with ws and voice package dependencies
  pnpm-lock.yaml
Due: prettier --write

style(chat): increase spacing around example suggestion pills in overview
  packages/chat/src/components/ChatOverview.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(api): add fine-tuning and notebook data export scripts
  apps/api/scripts/FINETUNING-GUIDE.md
  apps/api/scripts/backfillFullText.ts
  apps/api/scripts/exportFineTuningData.ts
  apps/api/scripts/exportNotebookData.ts
  apps/api/scripts/testMem0.ts
  apps/api/scripts/transformTrainingData.ts
  eslint.config.js
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docker): add voice package to gruen-o-mat Dockerfile
  apps/gruen-o-mat/Dockerfile
Due: none

fix(ui): rename sidebar chat label from "Neuer Chat" to "Chat"
  apps/web/src/components/layout/Header/menuData.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(api): add federated identity link diagnostic script
  apps/api/scripts/diagnose-federated-links.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(deps): bump hono override to >=4.12.7 for prototype pollution fix
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(ui): prevent chat page crash for unauthenticated users
  apps/web/public/sw-illustration-cache.js
  apps/web/src/components/common/LoginRequired/withAuthRequired.tsx
  apps/web/src/features/chat/ChatPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(chat): unify notebook assistant message with shared AssistantMessage
  apps/gruen-o-mat/src/components/GruenOMatAssistantMessage.tsx
  apps/mobile/components/chat/MessageBubble.tsx
  apps/web/src/features/notebook/components/NotebookAssistantMessage.tsx
  apps/web/src/features/notebook/components/NotebookPage.tsx
  apps/web/src/features/notebook/hooks/useNotebookChatBridge.ts
  packages/chat/src/components/gruen-o-mat/ModalThread.tsx
  packages/chat/src/components/message-parts/MessageActions.tsx
  packages/chat/src/components/thread/AssistantMessage.tsx
  packages/chat/src/context/ExtraActionsContext.tsx
  packages/chat/src/index.ts
  packages/chat/src/lib/citationUtils.ts
  packages/chat/src/runtime/NotebookModelAdapter.ts
  packages/chat/src/types/messageMetadata.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: update notebook pricing and rename KI-Chat integration page
  documentation/docs/integrationen/ki-chat-einrichten.md
  documentation/docs/ueber-den-gruenerator/notebook.md
Due: prettier --write

refactor(wolke): migrate from Zustand store to TanStack Query + add profile tab
  apps/web/src/assets/styles/components/common/wolke-selector.css
  apps/web/src/assets/styles/features/wolke/wolke.css
  apps/web/src/components/common/DocumentUpload.tsx
  apps/web/src/components/common/ExportDropdown.tsx
  apps/web/src/components/common/WolkeFilePicker/WolkeFilePicker.css
  apps/web/src/components/common/WolkeFilePicker/WolkeFilePicker.tsx
  apps/web/src/components/common/WolkeSelector/WolkeSelector.tsx
  apps/web/src/features/auth/components/profile/ProfileMenu.tsx
  apps/web/src/features/auth/components/profile/tabs/ContentManagement/components/DocumentsSection.tsx
  apps/web/src/features/auth/components/profile/tabs/ContentManagement/components/WolkeSection.tsx
  apps/web/src/features/auth/components/profile/tabs/WolkeManagement/WolkeManagementView.tsx
  apps/web/src/features/auth/components/profile/tabs/WolkeManagement/index.tsx
  apps/web/src/features/auth/pages/ProfilePage.tsx
  apps/web/src/features/documents/components/WolkeFolderBrowser.css
  apps/web/src/features/documents/components/WolkeFolderBrowser.tsx
  apps/web/src/features/documents/components/WolkeSyncManager.css
  apps/web/src/features/documents/components/WolkeSyncManager.tsx
  apps/web/src/features/documents/hooks/useWolkeSync.js
  apps/web/src/features/wolke/components/CloudCard.tsx
  apps/web/src/features/wolke/components/WolkeAddForm.tsx
  apps/web/src/features/wolke/components/WolkeConnectionCard.tsx
  apps/web/src/features/wolke/components/WolkeSetupModal.tsx
  apps/web/src/features/wolke/components/WolkeShareLinkManager.tsx
  apps/web/src/features/wolke/hooks/useWolke.ts
  apps/web/src/features/wolke/lib/wolkeApi.ts
  apps/web/src/stores/wolkeStore.ts
  apps/web/src/utils/nextcloudShareManager.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix: remove unused variables flagged by code quality review
  apps/web/src/components/common/DocumentUpload.tsx
  apps/web/src/components/common/ExportDropdown.tsx
  apps/web/src/features/auth/components/profile/tabs/ContentManagement/components/DocumentsSection.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(docs): replace ExperimentalMobileFormattingToolbar with static toolbar
  apps/docs-expo/components/dom/DocEditorDOM.tsx
  packages/docs/src/components/editor/BlockNoteEditor.css
  packages/docs/src/components/editor/BlockNoteEditor.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore: update patch/minor dependencies across monorepo
  apps/api/package.json
  apps/docs-expo/package.json
  apps/docs/package.json
  apps/gruen-o-mat/package.json
  apps/mobile/package.json
  apps/sites/package.json
  apps/web/package.json
  apps/wordpress/package.json
  package.json
  packages/canvas-editor/package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
  services/hocuspocus/package.json
  services/mcp/package.json
  services/remotion/package.json
Due: prettier --write

feat(docs): add toolbar mode setting for desktop users
  apps/docs/src/components/settings/EditorSettingsSection.tsx
  apps/docs/src/pages/SettingsPage.tsx
  packages/docs/src/components/editor/BlockNoteEditor.tsx
  packages/docs/src/index.ts
  packages/docs/src/stores/editorPreferencesStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write
