Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): delete migrated CSS files, add keyframes to index.css
  apps/web/src/assets/styles/components/common/sharepic-share-modal.css
  apps/web/src/assets/styles/index.css
  apps/web/src/features/media-library/MediaLibraryPage.css
Due: none

refactor(web): remove redundant CSS imports already loaded globally
  apps/web/src/components/common/Citation/CitationModal.tsx
  apps/web/src/components/common/DocumentOverview.tsx
  apps/web/src/components/common/DocumentPreviewModal.tsx
  apps/web/src/components/common/DocumentUpload.tsx
  apps/web/src/components/common/Form/BaseForm/BaseForm.tsx
  apps/web/src/components/common/Form/Input/FormTextarea.tsx
  apps/web/src/components/common/Form/Input/TextareaWithAutocomplete.tsx
  apps/web/src/components/common/Gallery/GalleryControls.tsx
  apps/web/src/features/image-studio/ImageStudioPage.tsx
  apps/web/src/features/image-studio/components/ImageStudioFormSection.tsx
  apps/web/src/features/oparl/pages/OparlPage.tsx
  apps/web/src/features/prompts/CreatePromptForm.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(mcp): enable strict TypeScript mode
  services/mcp/src/clients/config.ts
  services/mcp/src/index.ts
  services/mcp/src/qdrant/client.ts
  services/mcp/src/resources/collections.ts
  services/mcp/src/services/enriched-person-search.ts
  services/mcp/src/services/person-detection.ts
  services/mcp/src/tools/examples-search.ts
  services/mcp/src/tools/filters.ts
  services/mcp/src/tools/person-search.ts
  services/mcp/src/tools/search.ts
  services/mcp/src/utils/cache.ts
  services/mcp/src/utils/logger.ts
  services/mcp/tsconfig.json
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): migrate remaining component and feature CSS to Tailwind
  apps/web/src/assets/styles/index.css
  apps/web/src/components/ErrorBoundary.tsx
  apps/web/src/components/Popups/popup_austria_launch.tsx
  apps/web/src/components/Popups/popup_nutzungsbedingungen.tsx
  apps/web/src/components/Popups/popup_wartung.tsx
  apps/web/src/components/common/ActionButtons.tsx
  apps/web/src/components/common/AddTemplateModal/AddTemplateModal.tsx
  apps/web/src/components/common/AutoSaveIndicator.tsx
  apps/web/src/components/common/CanvaTemplateModal.tsx
  apps/web/src/components/common/DocsEditorModal.tsx
  apps/web/src/components/common/EditTemplateModal/EditTemplateModal.tsx
  apps/web/src/components/common/FeatureToggle.tsx
  apps/web/src/components/common/Form/TypeformWizard/TypeformWizard.tsx
  apps/web/src/components/common/HelpDisplay.tsx
  apps/web/src/components/common/KebabMenu.tsx
  apps/web/src/components/common/MenuDropdown.tsx
  apps/web/src/components/common/RequiredFieldToggle.tsx
  apps/web/src/components/common/SuccessScreen.tsx
  apps/web/src/components/common/UI/SegmentedControl.tsx
  apps/web/src/components/common/VerifyFeature.tsx
  apps/web/src/components/layout/SidebarToggle/SidebarToggle.tsx
  apps/web/src/components/utils/ImageModificationForm.tsx
  apps/web/src/features/desktop/components/FirstRunWizard.tsx
  apps/web/src/features/documents/DocumentViewPage.tsx
  apps/web/src/features/media-library/components/MediaPickerModal.tsx
  apps/web/src/features/pages/components/DynamicPageView.tsx
  apps/web/src/features/pages/components/PageContent.tsx
  apps/web/src/features/pages/components/PageHeader.tsx
  apps/web/src/features/pages/components/PageView.tsx
  apps/web/src/features/pages/components/blocks/CalloutBlock.tsx
  apps/web/src/features/pages/components/blocks/FactBox.tsx
  apps/web/src/features/pages/components/blocks/InfoBox.tsx
  apps/web/src/features/pages/components/blocks/QuoteBlock.tsx
  apps/web/src/features/pages/components/blocks/TimelineBlock.tsx
  apps/web/src/features/templates/antraege/AntragDetailPage.tsx
  apps/web/src/features/templates/antraege/AntragDetailView.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(ui): add brand button variants for app-specific CTA style
  packages/ui/src/components/button.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): replace buttonStyles utility with shadcn Button component
  apps/web/src/components/common/BackButton.tsx
  apps/web/src/components/common/CopyButton.tsx
  apps/web/src/components/common/DocumentUpload.tsx
  apps/web/src/components/common/Form/BaseForm/CorrectionSection.tsx
  apps/web/src/components/common/Form/BaseForm/FormExtrasSection.tsx
  apps/web/src/components/common/Form/BaseForm/QuestionAnswerSection.tsx
  apps/web/src/components/common/ShareMediaModal/ShareMediaModal.tsx
  apps/web/src/components/common/SharepicShareModal.tsx
  apps/web/src/components/common/SubmitButton.tsx
  apps/web/src/components/common/VerifyFeature.tsx
  apps/web/src/components/pages/NotFound.tsx
  apps/web/src/components/utils/FileUpload.tsx
  apps/web/src/features/generators/CustomGeneratorPage.tsx
  apps/web/src/features/image-studio/components/EditPanel.tsx
  apps/web/src/features/image-studio/components/ImageStudioCategorySelector.tsx
  apps/web/src/features/image-studio/components/TemplateResultActionButtons.tsx
  apps/web/src/features/image-studio/gallery/ImageGallery.tsx
  apps/web/src/features/image-studio/steps/ImageUploadStep.tsx
  apps/web/src/features/image-studio/steps/InputStep.tsx
  apps/web/src/features/image-studio/steps/StockImagesGrid.tsx
  apps/web/src/features/image-studio/steps/TemplateResultStep.tsx
  apps/web/src/features/media-library/MediaLibraryPage.tsx
  apps/web/src/features/media-library/components/MediaPickerModal.tsx
  apps/web/src/features/prompts/CreatePromptForm.tsx
  apps/web/src/features/prompts/PromptPage.tsx
  apps/web/src/features/prompts/PromptsTab.tsx
  apps/web/src/features/shared-media/SharedMediaPage.tsx
  apps/web/src/features/texte/tabs/EigeneTab.tsx
  apps/web/src/utils/buttonStyles.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(ui): restyle Input and Textarea to match brand design
  packages/ui/src/components/input.tsx
  packages/ui/src/components/textarea.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): remove 5 orphaned CSS imports from BaseForm
  apps/web/src/assets/styles/components/ui/AttachedFilesList.css
  apps/web/src/assets/styles/components/ui/SegmentedControl.css
  apps/web/src/assets/styles/components/ui/animatedcheckbox.css
  apps/web/src/assets/styles/components/ui/knowledge-selector.css
  apps/web/src/assets/styles/components/ui/spinner.css
  apps/web/src/components/common/Form/BaseForm/BaseForm.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): replace .form-input CSS class with shadcn Input component
  apps/web/src/components/common/DocumentOverview.tsx
  apps/web/src/components/common/DocumentUpload.tsx
  apps/web/src/features/auth/components/profile/tabs/shared/EditableDetailForm.tsx
  apps/web/src/features/image-studio/components/ImageStudioFormSection.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): migrate 4 modals to shadcn Dialog component
  apps/web/src/components/common/AddTemplateModal/AddTemplateModal.tsx
  apps/web/src/components/common/CanvaTemplateModal.tsx
  apps/web/src/components/common/EditTemplateModal/EditTemplateModal.tsx
  apps/web/src/components/common/ShareMediaModal/ShareMediaModal.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(ui): replace undefined bg-popover token with bg-background-pure
  apps/web/src/components/ui/context-menu.tsx
  packages/ui/src/components/command.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/popover.tsx
  packages/ui/src/components/select.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): restore BlockNote slash menu spacing after Tailwind migration
  apps/docs/src/styles/index.css
  packages/docs/src/components/editor/BlockNoteEditor.css
Due: none

fix(ui): replace bg-accent hover with bg-hover-alt for dark mode
  apps/web/src/components/ui/context-menu.tsx
  packages/ui/src/components/badge.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/command.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/select.tsx
  packages/ui/src/components/skeleton.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(ui,chat): fix undefined and mismatched Tailwind theme tokens
  apps/web/src/assets/styles/index.css
  apps/web/src/components/ui/sheet.tsx
  packages/chat/src/components/ChatOverview.tsx
  packages/chat/src/components/ToolCallUI.tsx
  packages/chat/src/components/assistant-ui/attachment.tsx
  packages/chat/src/components/message-parts/CitationPopover.tsx
  packages/chat/src/components/message-parts/SourceCard.tsx
  packages/chat/src/components/thread/ThreadListItem.tsx
  packages/chat/src/components/tool-ui/citation/citation.tsx
  packages/chat/src/components/tool-ui/link-preview/link-preview.tsx
  packages/chat/src/components/ui/Dropdown.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/select.tsx
  packages/ui/src/components/switch.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

ci(voxtral): add Docker image build and Dependabot config
  .easignore
  .github/dependabot.yml
  .github/workflows/build-images.yml
  .gitignore
Due: prettier --write

feat(db): add chat thread sharing and boards beta feature schema
  apps/api/database/postgres/migrations/add_boards_beta_feature.sql
  apps/api/database/postgres/migrations/add_collaborative_chat.sql
  apps/api/database/postgres/migrations/add_thread_type.sql
  apps/api/database/postgres/schema.sql
Due: none

feat(collab): add shared collaboration package
  packages/collab/package.json
  packages/collab/src/components/PresenceAvatars.tsx
  packages/collab/src/components/TypingIndicator.tsx
  packages/collab/src/hooks/useCollaborators.ts
  packages/collab/src/index.ts
  packages/collab/src/types.ts
  packages/collab/src/utils.ts
  packages/collab/tsconfig.json
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(ui): add component registries and new exports
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/src/components/ai-elements/prompt-input.tsx
  packages/ui/src/components/ai-prompt-input.tsx
  packages/ui/src/components/border-beam.tsx
  packages/ui/src/components/feature-toggle.tsx
  packages/ui/src/components/highlighter.tsx
  packages/ui/src/components/hover-card.tsx
  packages/ui/src/components/input-group.tsx
  packages/ui/src/components/particles.tsx
  packages/ui/src/components/ripple.tsx
  packages/ui/src/components/spinner.tsx
  packages/ui/src/components/typing-animation.tsx
  packages/ui/src/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
