Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix: use gender-neutral language (Genderstern) across UI and email templates
  CLAUDE.md
  apps/api/routes/auth/groups/groupContent.ts
  apps/api/routes/docs/index.ts
  apps/api/routes/share/shareController.ts
  apps/api/services/email/email.vitest.ts
  apps/api/services/email/templates.ts
  apps/web/src/components/common/AddTemplateModal/AddTemplateModal.tsx
  packages/docs/src/components/permissions/GroupShareSection.tsx
  packages/docs/src/components/permissions/ShareModal.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api,web,docs): fix route ordering, schema column, and gendering
  apps/api/database/postgres/schema.sql
Due: none

chore: remove deprecated apps/video workspace and next.js dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(desktop): update CI to pnpm 10 and Node 22
  .github/workflows/desktop-release.yml
Due: prettier --write

fix(shared): rename LoginProviders.tsx to avoid case collision on Windows
  packages/shared/src/auth/LoginProviderButtons.tsx
  packages/shared/src/auth/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): accept attachments in Rede validation and improve query expansion prompt
  apps/api/agents/langgraph/PromptProcessor.ts
  apps/api/services/search/QueryExpansionService.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(sites): integrate sites app into CI/CD pipeline and Docker stack
  .github/workflows/build-images.yml
  apps/sites/Dockerfile
  docker-compose.prod.yml
  docker-compose.test.yml
  nginx.conf
Due: prettier --write

fix(docs): use mobile formatting toolbar on touch devices to avoid native menu overlap
  packages/docs/src/components/editor/BlockNoteEditor.css
  packages/docs/src/components/editor/BlockNoteEditor.tsx
  packages/docs/src/hooks/useIsTouchDevice.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(docs): add @mention support in BlockNote editor
  packages/docs/src/components/editor/BlockNoteEditor.css
  packages/docs/src/components/editor/BlockNoteEditor.tsx
  packages/docs/src/components/editor/Mention.tsx
  packages/docs/src/hooks/useMentionUsers.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(docs): add @mention support in BlockNote editor (#494)
  .github/workflows/build-images.yml
  .github/workflows/desktop-release.yml
  apps/api/agents/langgraph/PromptProcessor.ts
  apps/api/services/search/QueryExpansionService.ts
  apps/sites/Dockerfile
  docker-compose.prod.yml
  docker-compose.test.yml
  nginx.conf
  packages/docs/src/components/editor/BlockNoteEditor.css
  packages/docs/src/components/editor/BlockNoteEditor.tsx
  packages/docs/src/components/editor/Mention.tsx
  packages/docs/src/hooks/useIsTouchDevice.ts
  packages/docs/src/hooks/useMentionUsers.ts
  packages/shared/src/auth/LoginProviderButtons.tsx
  packages/shared/src/auth/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): use mobile formatting toolbar on touch devices
  apps/docs/src/components/editor/BlockNoteEditor.tsx
  apps/docs/src/hooks/use-is-touch-device.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs-expo): fix avatar rendering, splash screen, and auth reliability
  apps/docs-expo/app/auth/callback.tsx
  apps/docs-expo/app/index.tsx
  apps/docs-expo/assets/splash-icon.png
  apps/docs-expo/package.json
  apps/docs-expo/services/api.ts
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore: gitignore docs-expo android/, swap files, and remove tracked build artifacts
  .gitignore
  apps/docs-expo/android/.gitignore
  apps/docs-expo/android/app/build.gradle
  apps/docs-expo/android/app/debug.keystore
  apps/docs-expo/android/app/proguard-rules.pro
  apps/docs-expo/android/app/src/debug/AndroidManifest.xml
  apps/docs-expo/android/app/src/debugOptimized/AndroidManifest.xml
  apps/docs-expo/android/app/src/main/AndroidManifest.xml
  apps/docs-expo/android/app/src/main/java/com/grneratordocs/MainActivity.kt
  apps/docs-expo/android/app/src/main/java/com/grneratordocs/MainApplication.kt
  apps/docs-expo/android/app/src/main/res/drawable-hdpi/splashscreen_logo.png
  apps/docs-expo/android/app/src/main/res/drawable-mdpi/splashscreen_logo.png
  apps/docs-expo/android/app/src/main/res/drawable-xhdpi/splashscreen_logo.png
  apps/docs-expo/android/app/src/main/res/drawable-xxhdpi/splashscreen_logo.png
  apps/docs-expo/android/app/src/main/res/drawable-xxxhdpi/splashscreen_logo.png
  apps/docs-expo/android/app/src/main/res/drawable/ic_launcher_background.xml
  apps/docs-expo/android/app/src/main/res/drawable/rn_edit_text_material.xml
  apps/docs-expo/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  apps/docs-expo/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  apps/docs-expo/android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  apps/docs-expo/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  apps/docs-expo/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  apps/docs-expo/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  apps/docs-expo/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  apps/docs-expo/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  apps/docs-expo/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  apps/docs-expo/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  apps/docs-expo/android/app/src/main/res/values/colors.xml
  apps/docs-expo/android/app/src/main/res/values/strings.xml
  apps/docs-expo/android/app/src/main/res/values/styles.xml
  apps/docs-expo/android/build.gradle
  apps/docs-expo/android/gradle.properties
  apps/docs-expo/android/gradle/wrapper/gradle-wrapper.jar
  apps/docs-expo/android/gradle/wrapper/gradle-wrapper.properties
  apps/docs-expo/android/gradlew
  apps/docs-expo/android/gradlew.bat
  apps/docs-expo/android/settings.gradle
Due: none

fix(docs-expo): use gruenerator-docs URI scheme for auth redirects
  apps/docs-expo/app.json
  apps/docs-expo/services/auth.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): use mobile formatting toolbar on touch devices to avoid native menu overlap
  apps/docs/src/components/editor/BlockNoteEditor.tsx
  apps/docs/src/hooks/use-is-touch-device.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): use mobile formatting toolbar on touch devices (#496)
  apps/docs/src/components/editor/BlockNoteEditor.tsx
  apps/docs/src/hooks/use-is-touch-device.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): prevent false-positive keyword routing in TexteIntentService
  apps/api/routes/texte/smart.ts
  apps/api/services/texte/TexteIntentService.ts
  apps/api/services/texte/TexteIntentService.vitest.ts
  apps/api/services/texte/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): show content preview for edited blank documents
  packages/docs/src/components/document/DocumentList.tsx
  services/hocuspocus/src/persistence.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore: switch error tracking provider from self-hosted Sentry to GlitchTip
  .env.example
  apps/api/instrument.ts
  apps/api/server.ts
  apps/desktop/src-tauri/tauri.conf.json
  apps/docs-desktop/src-tauri/tauri.conf.json
  apps/docs/server.ts
  apps/sites/.env.local.example
  apps/sites/docker/nginx.conf
  apps/sites/src/lib/errorTracking.ts
  apps/web/src/index.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(docs): enable private share mode when user has groups
  packages/docs/src/components/permissions/GroupShareSection.tsx
  packages/docs/src/components/permissions/ShareModal.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api,web): add AntragAgentGraph agent mode for Anträge & Anfragen
  apps/api/agents/langgraph/AntragAgentGraph/AntragAgentGraph.ts
  apps/api/agents/langgraph/AntragAgentGraph/agentModeProcessor.ts
  apps/api/agents/langgraph/AntragAgentGraph/nodes/formatNode.ts
  apps/api/agents/langgraph/AntragAgentGraph/nodes/generateNode.ts
  apps/api/agents/langgraph/AntragAgentGraph/nodes/researchNode.ts
  apps/api/agents/langgraph/AntragAgentGraph/nodes/strategizeNode.ts
  apps/api/agents/langgraph/AntragAgentGraph/types.ts
  apps/api/routes/antraege/agentGeneration.ts
  apps/api/routes/antraege/index.ts
  apps/api/routes/antraege/simpleGeneration.ts
  apps/web/src/features/texte/antrag/hooks/useAntragSubmit.ts
  apps/web/src/features/texte/tabs/AntragTab.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): add abort handling to notebook stream and fix response timeout overwrite
  apps/api/routes/chat/notebookStreamController.ts
  apps/api/server.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write
