Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(media): raise the library cap to 100 and stop deleting media to enforce it
  apps/api/routes/media/mediaController.ts
  apps/api/routes/share/shareReadContractRouter.ts
  apps/api/routes/share/shareServices.ts
  apps/api/services/sharedMediaService.ts
  apps/api/services/sharedMediaService.vitest.ts
  apps/api/types/media.d.ts
  apps/web/src/features/media-library/MediaLibraryPage.tsx
  packages/shared/src/media-library/api/mediaApi.ts
  packages/shared/src/media-library/api/mediaApi.vitest.ts
  packages/shared/src/media-library/constants.ts
  packages/shared/src/media-library/hooks/useMediaLibrary.ts
  packages/shared/src/media-library/hooks/useMediaUpload.ts
  packages/shared/src/media-library/index.ts
  packages/shared/src/media-library/types.ts
  packages/shared/src/share/constants.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(deps): declare the imports each package actually uses
  apps/api/package.json
  apps/gruen-o-mat/package.json
  apps/web/package.json
  documentation/package.json
  packages/canvas-editor/package.json
  packages/canvas-editor/scripts/generateThumbnails.ts
  packages/chat/package.json
  packages/docs/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(api): cover the /api/content origin filter, sharpen the doc comment
  apps/api/routes/content/contentQueries.vitest.ts
  apps/api/services/sharedMediaOrigin.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(share): derive the share store's limit fallback from SHARE_LIMITS
  packages/shared/src/share/hooks/useShareStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(content-sync): carry dead links into the sync email
  apps/api/routes/internal/contentSyncContractRouter.ts
  apps/api/services/email/contentSyncTemplate.vitest.ts
  apps/api/services/email/templates.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(content-sync): decide the full run once, not in three places
  .github/workflows/content-sync.yml
Due: prettier --write

fix(media): do not charge quota for shares the user cannot see or delete
  apps/api/services/sharedMediaService.ts
  apps/api/services/sharedMediaService.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(api): point the recent-images comment at the module that now owns the status policy
  apps/api/routes/workplace/recentActivityController.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(deps): keep sonner undeclared in the chat package
  packages/chat/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(content-sync): give the watchdog the fire times its comment claimed
  .github/workflows/content-sync-watchdog.yml
Due: prettier --write

docs(content-sync): record why the fold stops at the source result
  apps/api/services/scrapers/implementations/LandesverbandScraper/resultSamples.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: grüneratoren can be called with @ as well
  documentation/docs/chat/ki-chat.mdx
  documentation/docs/grueneratoren/agentura.mdx
Due: none

docs(agentura): correct what the favourites star does
  apps/api/services/docs/docsIndex.generated.ts
  documentation/docs/grueneratoren/agentura.mdx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(agentura): name the plus-menu effect of starring a recipe
  apps/api/services/docs/docsIndex.generated.ts
  documentation/docs/grueneratoren/agentura.mdx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(media): gate only deliberate library uploads, not creation substeps
  apps/api/services/sharedMediaService.ts
  apps/api/services/sharedMediaService.vitest.ts
  packages/shared/src/media-library/constants.ts
  packages/shared/src/media-library/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: regenerate the chat docs index, and give the Grüneratoren section its own heading
  apps/api/services/docs/docsIndex.generated.ts
  documentation/docs/chat/ki-chat.mdx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(mobile): der grünerator-login wird freigeschaltet, statt gezeigt
  apps/mobile/app/(auth)/login.tsx
  apps/mobile/components/auth/LoginPanel.tsx
  apps/mobile/maestro/boot-to-login.yaml
  apps/mobile/services/loginProviders.ts
  apps/mobile/services/loginProviders.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: update content stats [skip ci]
  documentation/docs/wissen/inhaltsdatenbank.md
Due: prettier --write

fix(content-sync): stop the watchdog inventing stale runs from API hiccups
  .github/workflows/content-sync-watchdog.yml
Due: prettier --write

ci(sync): report which paths conflicted and stop repeating the same report
  .github/workflows/sync-test-branch.yml
Due: prettier --write
