Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix: resolve no-explicit-any errors in share and sharepic routes
  apps/api/routes/auth/groups/groupCore.ts
  apps/api/routes/docs/exportController.ts
  apps/api/routes/share/shareController.ts
  apps/api/routes/sharepic/sharepic_canvas/dreizeilen_canvas.ts
  apps/api/routes/sharepic/sharepic_canvas/imageUploadRouter.ts
  apps/api/routes/sharepic/sharepic_canvas/imagine_label_canvas.ts
  apps/api/routes/sharepic/sharepic_canvas/profilbild_canvas.ts
  apps/api/routes/sharepic/sharepic_canvas/veranstaltung_canvas.ts
  apps/api/routes/sharepic/sharepic_canvas/zitat_canvas.ts
  apps/api/services/OcrService/pdfOperations.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): wait for auth resolution before rendering guest editor
  apps/web/src/features/docs/DocsEditorPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(auth): add trusted origins and proxy headers for Better Auth
  apps/api/config/betterAuth.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(auth): redirect to /desk instead of /profile after login
  apps/web/src/features/auth/pages/LoginPage.tsx
  apps/web/src/utils/authRedirect.ts
  packages/shared/src/auth/LoginProviderButtons.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: update roadmap with session results and next TODOs
  docs/typescript-safety-roadmap.md
Due: prettier --write

refactor: fix no-unsafe-call violations in agents, templates, and scrapers
  apps/api/agents/langgraph/AntragAgentGraph/nodes/generateNode.ts
  apps/api/agents/langgraph/FlyerToSiteGraph/nodes/analyzeNode.ts
  apps/api/agents/langgraph/FlyerToSiteGraph/nodes/generateNode.ts
  apps/api/routes/auth/templates/userTemplates.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/extractors/ContentExtractor.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix: resolve TypeScript build errors from type safety refactor
  apps/api/agents/langgraph/AntragAgentGraph/nodes/generateNode.ts
  apps/api/routes/auth/templates/userTemplates.ts
  apps/api/routes/share/shareController.ts
  apps/web/src/components/utils/OptimizedImage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor: remove redundant redirect arg and avoid explicit undefined
  apps/api/config/betterAuth.ts
  apps/web/src/features/auth/pages/LoginPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(db): add ON DELETE SET NULL to FK constraints blocking profile deletion
  apps/api/database/postgres/migrations/fix_profile_deletion_fk_constraints.sql
  apps/api/database/postgres/schema.sql
Due: none

refactor: replace LangGraph `as any` with typed casts
  apps/api/agents/langgraph/AntragAgentGraph/AntragAgentGraph.ts
  apps/api/agents/langgraph/FlyerToSiteGraph/FlyerToSiteGraph.ts
  apps/api/agents/langgraph/ImageSelectionGraph/ImageSelectionGraph.ts
  apps/api/agents/langgraph/ImageSelectionGraph/nodes/SelectImageNode.ts
  apps/api/agents/langgraph/ImageSelectionGraph/types.ts
  apps/api/agents/langgraph/SearchGraph/SearchGraph.ts
  apps/api/agents/langgraph/SocialAgentGraph/SocialAgentGraph.ts
  apps/api/agents/langgraph/WebSearchGraph/WebSearchGraph.ts
  apps/api/agents/langgraph/WebSearchGraph/nodes/DossierNode.ts
  apps/api/agents/langgraph/WebSearchGraph/nodes/IntelligentCrawlerNode.ts
  apps/api/agents/langgraph/WebSearchGraph/nodes/SummaryNode.ts
  apps/api/agents/langgraph/WebSearchGraph/types.ts
  apps/api/utils/redis/types.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor: fix TypedRequest intersection and apply validateBody to 10 routes
  apps/api/middleware/validateBody.ts
  apps/api/routes/auth/groups/groupContent.ts
  apps/api/routes/auth/groups/groupCore.ts
  apps/api/routes/chat/grueneratorChat.ts
  apps/api/routes/chat/summarizeController.ts
  apps/api/routes/docs/permissionsController.ts
  apps/api/routes/documents/wolkeController.ts
  apps/api/routes/email/emailController.ts
  apps/api/routes/search/webSearchController.ts
  apps/api/routes/share/shareController.ts
  apps/api/routes/subtitler/processingController.ts
  apps/api/routes/subtitler/projectController.ts
  apps/api/routes/subtitler/shareController.ts
  apps/api/routes/vision/visionController.ts
  apps/api/routes/wordpress/wordpressApi.ts
  apps/api/services/subtitler/downloadUtils.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: update typescript safety roadmap with current violation counts
  docs/typescript-safety-roadmap.md
Due: prettier --write

feat(startseite): redesign landing page with chat, docs, notebook mocks
  apps/web/package.json
  apps/web/src/assets/styles/index.css
  apps/web/src/components/pages/Startseite/DocumentsMock.tsx
  apps/web/src/components/pages/Startseite/Home.tsx
  apps/web/src/components/pages/Startseite/ImageComparisonMock.tsx
  apps/web/src/components/pages/Startseite/MockGenerator.tsx
  apps/web/src/components/pages/Startseite/NotebookMock.tsx
  apps/web/src/config/routes.ts
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(subtitler): add SubStudio reel editor with 3-step wizard UX
  apps/web/src/config/routes.ts
  apps/web/src/features/subtitler-beta/components/BetaVideoPlayer.tsx
  apps/web/src/features/subtitler-beta/components/EditorStep.tsx
  apps/web/src/features/subtitler-beta/components/ExportDropdown.tsx
  apps/web/src/features/subtitler-beta/components/ImportStep.tsx
  apps/web/src/features/subtitler-beta/components/KeyboardShortcutHelp.tsx
  apps/web/src/features/subtitler-beta/components/ProcessingStep.tsx
  apps/web/src/features/subtitler-beta/components/StylePresetPicker.tsx
  apps/web/src/features/subtitler-beta/components/SubStudioPage.tsx
  apps/web/src/features/subtitler-beta/components/SubtitleFindReplace.tsx
  apps/web/src/features/subtitler-beta/components/SubtitlePanel.tsx
  apps/web/src/features/subtitler-beta/components/VideoPanel.tsx
  apps/web/src/features/subtitler-beta/hooks/useKeyboardShortcuts.ts
  apps/web/src/features/subtitler-beta/hooks/useTusUpload.ts
  apps/web/src/features/subtitler-beta/stores/wizardStore.ts
  apps/web/src/features/subtitler-beta/utils/segmentsToTranscript.ts
  apps/web/src/features/subtitler-beta/utils/subtitleExport.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
