Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(presenton): fix broken files, switch to du form
  services/presenton/servers/nextjs/app/(presentation-generator)/(dashboard)/dashboard/components/EmptyState.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/presentation/components/Help.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/presentation/components/PresentationHeader.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/presentation/components/SlideContent.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/upload/components/PromptInput.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/upload/components/UploadPage.tsx
  services/presenton/servers/nextjs/components/OnBoarding/FinalStep.tsx
  services/presenton/servers/nextjs/components/OnBoarding/ModeSelectStep.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(docs): extract card components, add 3-dot menu to all card types
  apps/web/src/features/docs/BoardCard.tsx
  apps/web/src/features/docs/CardActionMenu.tsx
  apps/web/src/features/docs/DocsPage.tsx
  apps/web/src/features/docs/DocumentCard.tsx
  apps/web/src/features/docs/PresentationCard.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(presenton): escape inner quotes in Help.tsx German strings
  services/presenton/servers/nextjs/app/(presentation-generator)/presentation/components/Help.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(presenton): translate remaining English, comment out non-Grünerator themes
  services/presenton/servers/nextjs/app/(presentation-generator)/(dashboard)/dashboard/components/Header.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/(dashboard)/theme/components/ThemePanel/constants.ts
  services/presenton/servers/nextjs/app/(presentation-generator)/upload/page.tsx
  services/presenton/servers/nextjs/package-lock.json
  services/presenton/servers/nextjs/tsconfig.tsbuildinfo
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(presenton): official B90/GRÜNE 2025 theme + PPTX template
  services/presenton/servers/nextjs/app/(presentation-generator)/(dashboard)/theme/components/ThemePanel/constants.ts
  services/presenton/servers/nextjs/public/B90-Gruene-Vorlage-2025.pptx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(notebook): brandenburg icon to PiFlowerLight, restrict to LTW2024
  apps/api/config/landesverbaendeConfig.ts
  apps/api/config/systemCollectionsConfig.ts
  apps/api/scrape-brandenburg.ts
  apps/web/src/features/notebook/config/notebookPagesConfig.ts
  apps/web/src/features/notebook/config/notebooksConfig.ts
  packages/chat/src/lib/mentionables.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(workplace): locale-aware notebooks + mobile-first grid layout
  apps/web/src/features/workplace/components/NotebooksSection.tsx
  packages/ui/src/components/card-grid.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(presenton): exclude _archive from docker build, add presenton dev docs
  CLAUDE.md
  services/presenton/.dockerignore
Due: prettier --write

feat(presenton): wire grünerator backend for text/image generation, no user setup
  services/presenton/Dockerfile.gruenerator
  services/presenton/servers/fastapi/enums/image_provider.py
  services/presenton/servers/fastapi/models/user_config.py
  services/presenton/servers/fastapi/services/image_generation_service.py
  services/presenton/servers/fastapi/utils/get_env.py
  services/presenton/servers/fastapi/utils/image_provider.py
  services/presenton/servers/fastapi/utils/set_env.py
  services/presenton/servers/fastapi/utils/user_config.py
  services/presenton/servers/nextjs/app/(presentation-generator)/(dashboard)/settings/SettingPage.tsx
  services/presenton/start.gruenerator.js
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(presenton): replace all fonts with self-hosted raleway + pt sans
  services/presenton/servers/nextjs/app/(presentation-generator)/(dashboard)/theme/components/ThemePanel/index.tsx
  services/presenton/servers/nextjs/app/fonts/Inter.ttf
  services/presenton/servers/nextjs/app/globals.css
  services/presenton/servers/nextjs/app/layout.tsx
  services/presenton/servers/nextjs/public/fonts/Raleway-Bold.woff
  services/presenton/servers/nextjs/public/fonts/Raleway-Medium.woff
  services/presenton/servers/nextjs/public/fonts/Raleway-Regular.woff
  services/presenton/servers/nextjs/public/fonts/Raleway-SemiBold.woff
  services/presenton/servers/nextjs/tailwind.config.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(presenton): replace presenton icons with grünerator branding
  services/presenton/servers/nextjs/app/favicon.ico
  services/presenton/servers/nextjs/app/icon1.svg
  services/presenton/servers/nextjs/app/icon2.png
Due: none

fix(presenton): replace purple branding with grünerator green, update all logos
  services/presenton/servers/nextjs/app/(presentation-generator)/(dashboard)/dashboard/components/DashboardPage.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/(dashboard)/settings/SettingPage.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/(dashboard)/templates/components/TemplatePanel.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/outline/page.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/presentation/components/PresentationPage.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/presentation/components/SlideContent.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/upload/styles/main.module.css
  services/presenton/servers/nextjs/app/ConfigurationInitializer.tsx
  services/presenton/servers/nextjs/public/Logo.png
  services/presenton/servers/nextjs/public/logo-white.svg
  services/presenton/servers/nextjs/public/logo-with-bg.png
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(presenton): set env vars directly for locked config, disable mixpanel tracking
  services/presenton/servers/nextjs/utils/mixpanel.ts
  services/presenton/start.gruenerator.js
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(api): migrate briefing agents to n8n, add content-sync endpoint
  .github/workflows/briefing-agents.yml
  apps/api/middleware/adminTokenMiddleware.ts
  apps/api/routes.ts
  apps/api/routes/briefing/briefingController.ts
  apps/api/routes/briefing/index.ts
  apps/api/routes/briefing/internalController.ts
  apps/api/routes/internal/contentSyncController.ts
  apps/api/routes/internal/index.ts
  apps/api/routes/monitor/internalController.ts
  apps/api/services/briefing/ApifyService.ts
  apps/api/services/briefing/BriefingAgentService.ts
  apps/api/services/briefing/BriefingArchiveService.ts
  apps/api/services/briefing/BriefingConfigParser.ts
  apps/api/services/briefing/BriefingDeliveryService.ts
  apps/api/services/briefing/BriefingExecutionService.ts
  apps/api/services/briefing/BriefingSchedulerService.ts
  apps/api/services/briefing/DataCollectorService.ts
  apps/api/services/briefing/DocumentSourceService.ts
  apps/api/services/briefing/PageScraperService.ts
  apps/api/services/briefing/PositionComparisonService.ts
  apps/api/services/briefing/RSSService.ts
  apps/api/services/briefing/SystemAgentLoader.ts
  apps/api/services/briefing/agents/gruene-berlin.json
  apps/api/services/briefing/agents/gruene-pressespiegel.json
  apps/api/services/briefing/agents/insm-monitor.json
  apps/api/services/briefing/agents/iran-zeit.json
  apps/api/services/briefing/agents/merz-briefing.json
  apps/api/services/briefing/agents/soeder-vegan.json
  apps/api/services/briefing/agents/spd-instagram.json
  apps/api/services/briefing/aiProvider.ts
  apps/api/services/briefing/generate-archives.ts
  apps/api/services/briefing/types.ts
  apps/api/services/monitor/ApifyService.ts
  apps/api/services/monitor/MonitorCollectorService.ts
  apps/api/services/monitor/SocialMediaScraper.ts
  apps/api/services/monitor/rssFeeds.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(docs): extract CreateNewMenu, memoize handlers, use ResponsiveMenu
  apps/web/src/features/docs/BoardCard.tsx
  apps/web/src/features/docs/CardActionMenu.tsx
  apps/web/src/features/docs/DocsPage.tsx
  apps/web/src/features/docs/DocumentCard.tsx
  apps/web/src/features/docs/PresentationCard.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): add dedicated Nutzungsbedingungen page
  .gitignore
  apps/web/src/components/Popups/popup_nutzungsbedingungen.tsx
  apps/web/src/components/pages/Impressum_Datenschutz_Terms/Datenschutz.tsx
  apps/web/src/components/pages/Impressum_Datenschutz_Terms/Nutzungsbedingungen.tsx
  apps/web/src/config/routes.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor: replace Gladia with Regolo for audio/video transcription
  .env.example
  apps/api/routes/video/transcribeController.ts
  apps/api/services/subtitler/gladiaService.ts
  apps/api/services/subtitler/transcriptionService.ts
  apps/web/src/components/pages/Impressum_Datenschutz_Terms/Datenschutz.tsx
  documentation/docs/ueber-den-gruenerator/gruenerator-pro-eu.md
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(documentation): add webinare page with training offerings
  documentation/docs/webinare.md
  documentation/docusaurus.config.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(deps): pin loader-utils override to ^2.0.4
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(docker): add packages/slides to API Dockerfile for SlidesGraph types
  .github/workflows/build-images.yml
  apps/api/Dockerfile
Due: prettier --write
