Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore: housekeeping — CLAUDE.md, newsletter docs, lockfile, css
  CLAUDE.md
  apps/web/src/assets/styles/index.css
  documentation/docs/newsletter/2025-03-gruugo.md
  documentation/docs/newsletter/2025-05-testlabor.md
  documentation/docs/newsletter/2025-10-reimagined.md
  documentation/docs/newsletter/2025-12-weihnachtszeit.md
  documentation/docs/newsletter/2026-01-jahr-der-daten.md
  documentation/docs/newsletter/2026-03-ki-chat-launch.md
  documentation/docs/newsletter/2026-04-work-update.md
  pnpm-lock.yaml
Due: prettier --write

feat(api): emit three sharepic variants per chat request
  apps/api/routes/chat/services/intentExecutionService.ts
  apps/api/routes/chat/services/sharepicVariantHelpers.ts
  apps/api/routes/chat/services/sseHelpers.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): scan @blocknote/shadcn for Tailwind classes
  apps/web/src/assets/styles/index.css
Due: none

feat(web): merge format and variant pickers into single (size×variant) grid
  apps/web/src/features/image-studio/components/ImageStudioTypeSelector.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: update content stats [skip ci]
  documentation/docs/ueber-den-gruenerator/inhaltsdatenbank.md
Due: prettier --write

chore(docs): upgrade BlockNote 0.47.3 → 0.49.0
  apps/api/package.json
  apps/docs/package.json
  packages/docs/package.json
  packages/docs/src/components/editor/BlockNoteEditor.css
Due: prettier --write

feat(chat): one-line composer + sharepicContext + attachment adapter for embedded chats
  packages/chat/src/components/modal/CompactThread.tsx
  packages/chat/src/index.ts
  packages/chat/src/runtime/NotebookChatProvider.tsx
  packages/chat/src/runtime/NotebookModelAdapter.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(canvas-editor,web): in-section AI chat with auto-apply + accept/revert banner
  apps/web/src/features/image-studio/CanvasChatProvider.tsx
  apps/web/src/features/image-studio/CanvasInlineChatSection.tsx
  apps/web/src/features/image-studio/CanvasSharepicChatDialog.tsx
  packages/canvas-editor/src/CanvasEditorProvider.tsx
  packages/canvas-editor/src/components/CanvasEditor.tsx
  packages/canvas-editor/src/components/Toolbar.tsx
  packages/canvas-editor/src/components/TopBar/modules/FloatingAiSuggestionBanner.tsx
  packages/canvas-editor/src/configs/commonSections.ts
  packages/canvas-editor/src/configs/dreizeilen_full.config.tsx
  packages/canvas-editor/src/configs/factory/createColorTwoTextCanvas.ts
  packages/canvas-editor/src/configs/factory/createImageTwoTextCanvas.ts
  packages/canvas-editor/src/configs/freeform_full.config.tsx
  packages/canvas-editor/src/configs/info_full.config.tsx
  packages/canvas-editor/src/configs/presentation/presContent.config.tsx
  packages/canvas-editor/src/configs/presentation/presImage.config.tsx
  packages/canvas-editor/src/configs/presentation/presTitle.config.tsx
  packages/canvas-editor/src/configs/simple_full.config.tsx
  packages/canvas-editor/src/configs/slider_full.config.tsx
  packages/canvas-editor/src/configs/types.ts
  packages/canvas-editor/src/configs/veranstaltung_full.config.tsx
  packages/canvas-editor/src/configs/zitat_full.config.tsx
  packages/canvas-editor/src/configs/zitat_pure_full.config.tsx
  packages/canvas-editor/src/index.ts
  packages/canvas-editor/src/sidebar/sections/AiSection.tsx
  packages/canvas-editor/src/sidebar/sections/ChatSection.tsx
  packages/canvas-editor/src/sidebar/sections/index.ts
  packages/canvas-editor/src/stores/createCanvasEditorStore.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): canvas-ai-suggest prompt accuracy + tool-use directive
  apps/api/routes/canvas/aiSuggestRoute.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(api): extract canvas-suggest prompt + LLM helpers
  apps/api/routes/canvas/aiSuggestRoute.ts
  apps/api/routes/canvas/services/buildCanvasSuggestPrompt.ts
  apps/api/routes/canvas/services/runCanvasSuggest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): add /api/canvas/chat-edit/stream — research-grounded canvas ops
  apps/api/config/rateLimits.ts
  apps/api/routes.ts
  apps/api/routes/canvas/canvasChatEditController.ts
  apps/api/routes/chat/notebookStreamCore.ts
  apps/api/routes/chat/services/sseHelpers.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): expose getExtraParams + onCustomEvent on NotebookChatProvider
  packages/chat/src/runtime/NotebookChatProvider.tsx
  packages/chat/src/runtime/NotebookModelAdapter.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): wire canvas chat to /chat-edit stream for grounded edits
  apps/web/src/features/image-studio/CanvasInlineChatSection.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(shared,web): inline-editable canvas title in top bar
  apps/web/src/features/image-studio/CollabCanvasStudioPage.tsx
  apps/web/src/features/image-studio/components/CanvasPageHeader.tsx
  packages/shared/package.json
  packages/shared/src/components/EditableTitle/EditableTitle.tsx
  packages/shared/src/components/EditableTitle/index.ts
  packages/shared/src/components/EditorTopBar/EditorTopBar.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(doku): add @docusaurus/faster dep required by future.v4
  documentation/package.json
Due: prettier --write

chore(env): document iconify URL and add service to local composes
  .env.example
  docker-compose.prod.yml
  docker-compose.test.yml
Due: prettier --write

fix(deps): refresh lockfile for BlockNote 0.49.0 upgrade
  pnpm-lock.yaml
Due: prettier --write

chore: remove unused self-hosted services (voxtral, comfyui, presenton)
  .dockerignore
  .env.example
  .github/dependabot.yml
  .github/workflows/build-images.yml
  .gitignore
  apps/api/config/env.ts
  apps/api/database/postgres/schema.sql
  apps/api/eslint.config.js
  apps/api/services/flux/FluxImageService.ts
  apps/api/services/voice/selfHostedVoiceService.ts
  apps/api/tsconfig.build.json
  apps/api/tsconfig.json
  docker-compose.prod.yml
  nginx.conf
  package.json
  pnpm-workspace.yaml
  services/voxtral/Dockerfile
  services/voxtral/app.py
  services/voxtral/requirements.txt
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(doku): disable unused blog preset blocking MDX-3 build
  documentation/docusaurus.config.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(web): remove beta-feature gate from Gruppen profile menu entry
  apps/web/src/components/layout/Header/ProfileButton.tsx
  apps/web/src/features/auth/components/profile/ProfileMenu.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(web): drop beta-feature gates from current call sites
  apps/web/src/components/common/ActionButtons.tsx
  apps/web/src/components/common/Gallery/VorlagenGallery.tsx
  apps/web/src/components/layout/Header/menuData.tsx
  apps/web/src/components/layout/Sidebar/Sidebar.tsx
  apps/web/src/components/profile/MemoriesSection.tsx
  apps/web/src/config/routes.ts
  apps/web/src/features/auth/components/profile/tabs/ProfileInfo/ProfileView.tsx
  apps/web/src/features/auth/components/profile/tabs/ProfileInfo/SettingsSection.tsx
  apps/web/src/features/auth/components/profile/tabs/ProfileInfo/index.tsx
  apps/web/src/hooks/useNotificationSSE.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
