Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): add board card enhancements — comments, assignees, covers, overdue, keyboard nav
  apps/web/src/components/layout/Sidebar/Sidebar.tsx
  apps/web/src/features/boards/components/CardContent.tsx
  apps/web/src/features/boards/components/CardDetailPanel.tsx
  apps/web/src/features/boards/components/PlannerKanban.tsx
  apps/web/src/features/boards/types.ts
  apps/web/src/features/boards/utils/boardDefaults.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(docs): convert 6 CSS files to Tailwind, remove docs/styles import
  apps/docs/src/pages/EditorPage.tsx
  apps/web/src/features/docs/DocsEditorPage.tsx
  packages/docs/src/components/chat/ChatSidebar.css
  packages/docs/src/components/chat/ChatSidebar.tsx
  packages/docs/src/components/document/DocumentList.css
  packages/docs/src/components/document/DocumentList.tsx
  packages/docs/src/components/document/TemplateCarousel.css
  packages/docs/src/components/document/TemplateCarousel.tsx
  packages/docs/src/components/document/TemplatePicker.css
  packages/docs/src/components/document/TemplatePicker.tsx
  packages/docs/src/components/editor/PresenceAvatars.css
  packages/docs/src/components/editor/PresenceAvatars.tsx
  packages/docs/src/components/permissions/ShareModal.css
  packages/docs/src/components/permissions/ShareModal.tsx
  packages/docs/src/styles/docs.css
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): rebuild DocsPage with CardGrid, add AI presentation generation
  apps/web/src/config/routes.ts
  apps/web/src/features/docs/DocsPage.tsx
  apps/web/src/features/docs/DocsPresentationPage.tsx
  apps/web/src/features/docs/DocsPresentationsTab.tsx
  apps/web/src/features/docs/slidesAdapter.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(api): add SlidesGraph LangGraph pipeline for AI presentation generation
  apps/api/agents/langgraph/SlidesGraph/index.ts
  apps/api/agents/langgraph/SlidesGraph/nodes/contentNode.ts
  apps/api/agents/langgraph/SlidesGraph/nodes/correctNode.ts
  apps/api/agents/langgraph/SlidesGraph/nodes/finalizeNode.ts
  apps/api/agents/langgraph/SlidesGraph/nodes/index.ts
  apps/api/agents/langgraph/SlidesGraph/nodes/outlineNode.ts
  apps/api/agents/langgraph/SlidesGraph/nodes/validateNode.ts
  apps/api/agents/langgraph/SlidesGraph/slidesGraph.vitest.ts
  apps/api/agents/langgraph/SlidesGraph/types.ts
  apps/api/package.json
  apps/api/routes/presentations/presentationController.ts
  apps/api/services/slides/SlideGenerationService.ts
  packages/slides/package.json
  packages/slides/src/components/editor/SlideCanvas.tsx
  packages/slides/src/components/editor/SlideEditor.tsx
  packages/slides/src/components/editor/SlidePanel.tsx
  packages/slides/src/components/layouts/general/ChartWithBulletsSlideLayout.tsx
  packages/slides/src/index.ts
  packages/slides/src/schemas/index.ts
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore: stage pre-existing uncommitted changes
  .agents/skills/better-auth-best-practices/SKILL.md
  .agents/skills/create-auth-skill/SKILL.md
  .agents/skills/organization-best-practices/SKILL.md
  apps/api/config/betterAuth.ts
  apps/api/routes/voice/voiceController.ts
  apps/web/package.json
  apps/web/src/components/layout/Header/menuData.tsx
  apps/web/src/features/texte/components/InlineEditor.tsx
  apps/web/src/features/workplace/WorkplacePage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(presenton): add Grünerator deployment config for Presenton
  docker-compose.test.yml
  services/presenton/Dockerfile.gruenerator
  services/presenton/nginx.gruenerator.conf
  services/presenton/start.gruenerator.js
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(presenton): add Keycloak auth middleware and edit button
  apps/web/src/features/docs/DocsPresentationPage.tsx
  packages/slides/src/components/editor/SlideEditor.tsx
  packages/slides/src/components/editor/SlideToolbar.tsx
  services/presenton/GRUENERATOR-INTEGRATION.md
  services/presenton/servers/fastapi/api/keycloak_auth.py
  services/presenton/servers/fastapi/api/main.py
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(presenton): switch auth from Keycloak to Better Auth JWT
  docker-compose.test.yml
  services/presenton/servers/fastapi/api/keycloak_auth.py
  services/presenton/servers/fastapi/api/main.py
Due: prettier --write

feat(presenton): add better auth session validation + cross-subdomain cookies
  apps/api/config/betterAuth.ts
  apps/web/src/features/docs/DocsPresentationPage.tsx
  services/presenton/servers/fastapi/api/keycloak_auth.py
  services/presenton/servers/nextjs/lib/auth-client.ts
  services/presenton/servers/nextjs/middleware.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(presenton): update branding to Grünerator Slides
  services/presenton/servers/nextjs/app/layout.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(presenton): add better-auth dependency to Next.js package.json
  services/presenton/servers/nextjs/package.json
Due: prettier --write

fix(presenton): use npm install instead of npm ci in Dockerfile
  services/presenton/Dockerfile.gruenerator
Due: none

fix(presenton): resolve startup errors for local deployment
  services/presenton/Dockerfile.gruenerator
  services/presenton/servers/fastapi/api/lifespan.py
  services/presenton/servers/fastapi/services/docling_service.py
  services/presenton/servers/fastapi/services/icon_finder_service.py
Due: none

feat(docs): unified overview with documents, presentations, and boards
  apps/api/agents/langgraph/ChatGraph/nodes/ragImprovements.test.ts
  apps/api/agents/langgraph/ChatGraph/nodes/ragQualityEval.test.ts
  apps/api/routes/docs/importController.ts
  apps/api/routes/docs/index.ts
  apps/api/routes/workplace/recentActivityController.ts
  apps/api/services/vision/VisionService.ts
  apps/web/src/config/routes.ts
  apps/web/src/features/docs/DocsPage.tsx
  apps/web/src/features/docs/FileImportDialog.tsx
  apps/web/src/features/docs/WolkeImportModal.tsx
  apps/web/src/features/workplace/components/RecentlyCreatedSection.tsx
  packages/docs/package.json
  packages/docs/src/components/document/DocumentList.tsx
  packages/docs/src/hooks/useDocuments.ts
  packages/docs/src/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(scraper): add Berlin Wahlprogramm 2026 chapters to notebook
  apps/api/config/landesverbaendeConfig.ts
  apps/api/scrape-berlin.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/LandesverbandScraper.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(notebook): change Berlin notebook icon to MdDiversity1
  apps/web/src/features/notebook/config/notebooksConfig.ts
  packages/chat/src/lib/mentionables.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(notebook): update Berlin notebook descriptions to include Wahlprogramm 2026
  apps/web/src/features/notebook/config/notebookPagesConfig.ts
  apps/web/src/features/notebook/config/notebooksConfig.ts
  packages/chat/src/lib/mentionables.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(presenton): fix broken files, switch to du form
  services/presenton/servers/nextjs/app/(presentation-generator)/(dashboard)/dashboard/components/EmptyState.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/presentation/components/Help.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/presentation/components/PresentationHeader.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/presentation/components/SlideContent.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/upload/components/PromptInput.tsx
  services/presenton/servers/nextjs/app/(presentation-generator)/upload/components/UploadPage.tsx
  services/presenton/servers/nextjs/components/OnBoarding/FinalStep.tsx
  services/presenton/servers/nextjs/components/OnBoarding/ModeSelectStep.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
