Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(workplace): add Docs and Bild bearbeiten panels, skill preset row
  apps/api/agents/langgraph/ChatGraph/ChatGraph.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierForcedIntent.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierHeuristics.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierPrompt.ts
  apps/api/agents/langgraph/ChatGraph/nodes/imageEditNode.ts
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/routes/chat/chatGraphController.ts
  apps/api/routes/flux/imageEditing.ts
  apps/api/routes/share/shareController.ts
  apps/api/services/flux/index.ts
  apps/api/services/flux/universalEditPrompt.ts
  apps/api/services/sharedMediaService.ts
  apps/web/src/components/common/ShareMediaModal/ShareMediaModal.tsx
  apps/web/src/features/image-studio/components/Lightbox.tsx
  apps/web/src/features/image-studio/services/imageEditingService.ts
  apps/web/src/features/image-studio/types/templateResultTypes.ts
  apps/web/src/features/shared-media/SharedMediaPage.tsx
  apps/web/src/features/texte/modes/bildBearbeiten.ts
  apps/web/src/features/texte/modes/index.ts
  apps/web/src/features/workplace/components/BildBearbeitenInner.tsx
  apps/web/src/features/workplace/components/ChatInner.tsx
  apps/web/src/features/workplace/components/CreatorSection.tsx
  apps/web/src/features/workplace/components/DocsInner.tsx
  apps/web/src/features/workplace/components/RecentlyCreatedSection.tsx
  apps/web/src/features/workplace/components/SkillPresetRow.tsx
  packages/shared/src/share/hooks/useShareStore.ts
  packages/shared/src/share/types.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): build fixups for workplace image-edit additions
  apps/api/agents/langgraph/ChatGraph/nodes/classifierHeuristics.ts
  apps/api/agents/langgraph/ChatGraph/nodes/ragImprovements.test.ts
  apps/api/agents/langgraph/ChatGraph/nodes/ragQualityEval.test.ts
  apps/api/agents/langgraph/ChatGraph/tools/generateImage.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(api): repair pre-existing test drift surfaced by image-edit work
  apps/api/agents/langgraph/ChatGraph/intentPipeline.vitest.ts
  apps/api/routes/docs/aiController.vitest.ts
  apps/api/services/ai/__tests__/regoloThinkingFetch.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(canvas-editor): enable rembg background removal tool
  apps/web/src/features/image-studio/webCanvasEditorServices.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): classifier — recognise more German edit verbs in docs chat
  apps/api/agents/langgraph/ChatGraph/nodes/classifierForcedIntent.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierHeuristics.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(api): switch imageEditNode export check to fs-based assert
  apps/api/agents/langgraph/ChatGraph/intentPipeline.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(api): tighten extractTextContent to ModelMessage['content']
  apps/api/routes/chat/services/messageHelpers.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api,docs,chat): wire docs-chat → BlockNote edit pipeline end-to-end
  apps/api/routes/chat/chatGraphContractRouter.ts
  apps/api/routes/docs/aiController.ts
  apps/web/src/features/docs/DocsAssistantChat.tsx
  packages/chat/src/runtime/GrueneratorModelAdapter.ts
  packages/chat/src/stores/chatConfigStore.ts
  packages/docs/src/lib/invokeDocumentAI.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(repo): commit concurrent WIP from sibling agent sessions
  apps/api/agents/langgraph/ChatGraph/ChatGraph.ts
  apps/api/agents/langgraph/ChatGraph/nodes/imageEditNode.ts
  apps/api/agents/langgraph/ChatGraph/nodes/ragImprovements.test.ts
  apps/api/agents/langgraph/ChatGraph/nodes/ragQualityEval.test.ts
  apps/api/agents/langgraph/ChatGraph/nodes/respondNode.ts
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/routes/chat/chatGraphController.ts
  apps/api/routes/chat/services/contextEnrichmentService.ts
  apps/api/routes/chat/services/responseStreamingService.ts
  apps/mobile/components/chat/DocumentBrowserSheet.tsx
  packages/chat/src/components/assistant-ui/attachment.tsx
  packages/chat/src/components/message-parts/GeneratedImageDisplay.tsx
  packages/chat/src/components/thread/CollabDocMentionPopover.tsx
  packages/chat/src/components/thread/DocumentChatPicker.tsx
  packages/chat/src/components/thread/FileMentionPopover.tsx
  packages/chat/src/components/thread/GrueneratorComposer.tsx
  packages/chat/src/components/thread/PlusMenu.tsx
  packages/chat/src/hooks/useFileMentionData.ts
  packages/chat/src/lib/documentMentionables.ts
  packages/chat/src/lib/mentionParser.ts
  packages/chat/src/lib/mentionables.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(deps): workspace dependency update + Tier 1/2 majors
  apps/api/package.json
  apps/api/services/mem0/Mem0Service.ts
  apps/api/services/mem0/config.ts
  apps/desktop/package.json
  apps/gruen-o-mat/package.json
  apps/mobile/app.json
  apps/mobile/app/_layout.tsx
  apps/mobile/components/common/ErrorBoundary.tsx
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/services/sentry.ts
  apps/sites/package.json
  apps/web/package.json
  apps/web/src/features/monitor/components/TopicRanking.tsx
  apps/wordpress/package.json
  documentation/package.json
  package.json
  packages/canvas-editor/package.json
  packages/chat/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/ui/src/components/chart.tsx
  packages/ui/src/components/dotted-map.tsx
  packages/voice/package.json
  pnpm-lock.yaml
  services/hocuspocus/package.json
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(notebook): allow up to 20 documents per user notebook
  apps/api/routes/notebook/collectionsController.ts
  apps/api/routes/notebook/notebookCollectionsContractRouter.ts
  apps/web/src/features/notebook/components/NotebookEditor.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(deps): @assistant-ui/react 0.14 + @blocknote/* 0.50
  apps/api/package.json
  apps/gruen-o-mat/package.json
  apps/web/package.json
  apps/web/src/features/search/components/SearchPage.tsx
  packages/chat/package.json
  packages/chat/src/components/ChatOverview.tsx
  packages/chat/src/components/thread/AutoMessageSender.tsx
  packages/chat/src/runtime/GrueneratorChatProvider.tsx
  packages/chat/src/runtime/GrueneratorThreadListAdapter.ts
  packages/docs/package.json
  packages/ui/package.json
  packages/voice/package.json
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(deps): typescript 5.9 → 6.0
  apps/api/package.json
  apps/gruen-o-mat/package.json
  apps/mobile/package.json
  apps/sites/package.json
  apps/web/package.json
  apps/wordpress/package.json
  apps/wordpress/tsconfig.json
  package.json
  packages/canvas-editor/package.json
  packages/chat/package.json
  packages/collab/package.json
  packages/contracts/package.json
  packages/docs/package.json
  packages/shared/package.json
  packages/sites-design/package.json
  packages/sites/src/lib/apiClient.ts
  packages/ui/package.json
  packages/voice/package.json
  packages/wolke/package.json
  pnpm-lock.yaml
  services/hocuspocus/package.json
  services/mcp/package.json
  tsconfig.base.json
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(deps): set explicit rootDir in emit-mode tsconfigs for TS 6
  services/hocuspocus/tsconfig.build.json
  services/mcp/tsconfig.build.json
Due: prettier --write

fix(deps): set explicit rootDir in apps/api/tsconfig.build.json for TS 6
  apps/api/tsconfig.build.json
Due: prettier --write

fix(web): copy packages/sites and packages/sites-design in Dockerfile
  apps/web/Dockerfile
Due: none

fix(sites): restore editable-preview.css into packages/sites
  packages/sites/src/styles/components/editable-preview.css
Due: none

ci(build): add sites packages to web filter
  .github/workflows/build-images.yml
Due: prettier --write

docs(deployment): correct stale deploy-workflow references
  CLAUDE-deployment.md
Due: prettier --write

fix(api): hoist system prompt out of messages[] into streamText/generateText `system` option
  apps/api/agents/langgraph/streamingProcessor.ts
  apps/api/routes/chat/services/responseStreamingService.ts
  apps/api/workers/providers/ionosAdapter.ts
  apps/api/workers/providers/litellmAdapter.ts
  apps/api/workers/providers/mistralAdapter.ts
  apps/api/workers/providers/regoloAdapter.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
