Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(agentura): reproduce agent cards left behind on another shelf
  apps/web/src/features/agentura/AgenturaPage.vitest.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(groups): stop leaking shared agents' system prompts via group content
  apps/api/services/userAgents/userAgentsRepository.ts
  apps/api/services/userAgents/userAgentsRepository.vitest.ts
  apps/web/src/features/agents/api.ts
  apps/web/src/features/agentura/AgenturaPage.tsx
  apps/web/src/features/agentura/components/cards.tsx
  apps/web/src/features/agentura/lib/capabilities.ts
  apps/web/src/features/boards/hooks/useBoardAgentOptions.ts
  packages/contracts/src/schemas/groups.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(agents): resolve user agents by row uuid
  apps/api/routes/chat/agents/agentLoader.ts
  apps/api/routes/chat/agents/agentResolveOrder.vitest.ts
  apps/api/services/userAgents/createUserAgentGuard.vitest.ts
  apps/api/services/userAgents/userAgentHandle.ts
  apps/api/services/userAgents/userAgentHandle.vitest.ts
  apps/api/services/userAgents/userAgentsRepository.ts
  packages/contracts/src/schemas/userAgents.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): run the loop on a follow-up after a failed tool turn
  apps/api/agents/langgraph/ChatGraph/nodes/classifierForcedIntent.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierHeuristics.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.ts
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/evals/classifierCensus.baseline.txt
  apps/api/routes/chat/services/agenticLoop/catalogAssembly.ts
  apps/api/routes/chat/services/agenticLoop/catalogAssembly.vitest.ts
  apps/api/routes/chat/services/agenticLoop/forceFirstToolCall.vitest.ts
  apps/api/routes/chat/services/streamContext.ts
  apps/api/utils/decisionJournal.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): stop tool-less answers from denying the product has tools
  apps/api/agents/langgraph/ChatGraph/nodes/artifactInventory.ts
  apps/api/agents/langgraph/ChatGraph/nodes/respondNode.ts
  apps/api/agents/langgraph/ChatGraph/nodes/respondNode.vitest.ts
  apps/api/routes/chat/services/agenticLoop/synthPrompt.ts
  apps/api/routes/chat/services/agenticLoop/synthPrompt.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(canvas-editor): hide ai chat tab in sharepic editor for now
  apps/web/src/features/tours/canvasTour.ts
  packages/canvas-editor/src/components/CanvasEditor/index.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(chat): update system prompt goldens for the capability-denial rule
  apps/api/agents/langgraph/ChatGraph/nodes/__snapshots__/respondNodePrompt.vitest.ts.snap
Due: none

feat(agents): name a colleague's agent by its row uuid
  apps/api/routes/chat/agents/userAgentTools.ts
  apps/api/routes/chat/agents/userAgentTools.vitest.ts
  apps/api/services/userAgents/mergeMentionableAgents.vitest.ts
  apps/api/services/userAgents/userAgentsRepository.ts
  packages/contracts/src/schemas/userAgents.ts
  packages/shared/src/agents/index.ts
  packages/shared/src/agents/slug.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(agentura): open a colleague's agent by its row uuid
  apps/web/src/components/layout/Sidebar/GrueneratorenSidebarSection.tsx
  apps/web/src/components/layout/Sidebar/Sidebar.tsx
  apps/web/src/features/agents/api.ts
  apps/web/src/features/agentura/AgentDetailPage.tsx
  apps/web/src/features/agentura/AgenturaPage.tsx
  apps/web/src/features/agentura/AgenturaPage.vitest.tsx
  apps/web/src/features/agentura/components/ExamplePreview.tsx
  apps/web/src/features/agentura/lib/lookups.ts
  apps/web/src/stores/agentFavoritesStore.ts
  apps/web/src/stores/agentFavoritesStore.vitest.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(chat): route @-mentions of a colleague's agent by row uuid
  apps/mobile/app/(focused)/agents.tsx
  apps/mobile/components/chat/message/messageAgent.ts
  apps/mobile/components/chat/message/messageAgent.vitest.ts
  packages/chat/src/components/thread/MentionPopover.vitest.tsx
  packages/chat/src/lib/mentionParser.vitest.ts
  packages/chat/src/lib/mentionableSync.ts
  packages/chat/src/lib/mentionableSync.vitest.ts
  packages/chat/src/lib/mentionables.ts
  packages/chat/src/lib/mentionables.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(nlp): keep first names the model tags as nouns
  services/nlp/src/topic_classifier/analyzer.py
  services/nlp/tests/test_persons.py
Due: none

fix(groups): open a shared user agent from the feed by its row uuid
  apps/mobile/hooks/useGroupContent.ts
  packages/shared/src/groups/feed.ts
  packages/shared/src/groups/feed.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(api): update the system prompt golden for the tool-denial rule
  apps/api/agents/langgraph/ChatGraph/nodes/__snapshots__/respondNodePrompt.vitest.ts.snap
Due: none

test(shared): cast the user-agent feed fixture like the other feed tests
  packages/shared/src/groups/feed.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: explain which Typeform connector entry to pick
  documentation/docs/guides/fortgeschrittene/konnektoren-einrichten.mdx
Due: none

fix(docker): point api at the hocuspocus container for the internal API
  .env.example
  docker-compose.prod.yml
  docker-compose.test.yml
Due: prettier --write

fix(api): keep agentic tool step ids unique within a turn
  apps/api/routes/chat/services/agenticLoop/wrapTools.ts
  apps/api/routes/chat/services/agenticLoop/wrapTools.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): drop duplicate tool-call parts when reloading a thread
  packages/chat/src/runtime/threadMessageConversion.ts
  packages/chat/src/runtime/threadMessageConversion.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): replay paused-turn steps with the loop's own result budget
  apps/api/routes/chat/services/agenticLoop/agenticRespondService.ts
  apps/api/routes/chat/services/agenticLoop/mcpReplay.ts
  apps/api/routes/chat/services/agenticLoop/mcpReplay.vitest.ts
  apps/api/routes/chat/services/agenticLoop/wrapTools.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): title a thread whose first turn paused
  apps/api/routes/chat/services/agenticLoop/approvalResume.ts
  apps/api/routes/chat/services/agenticLoop/clarificationResume.ts
  apps/api/routes/chat/services/agenticLoop/clarificationResume.vitest.ts
  apps/api/routes/chat/services/messageHelpers.ts
  apps/api/routes/chat/services/postResponseService.ts
  apps/api/routes/chat/services/postResponseService.vitest.ts
  apps/api/routes/chat/services/resumePipeline.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): keep list rows out of the search budget
  apps/api/routes/chat/agents/notebookSourceTools.vitest.ts
  apps/api/routes/chat/agents/personalDataTools.ts
  apps/api/routes/chat/services/agenticLoop/sourceRegistry.ts
  apps/api/routes/chat/services/agenticLoop/sourceRegistry.vitest.ts
  apps/api/routes/chat/services/agenticLoop/synthPrompt.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
