Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --ignore-pattern '**/*.vitest.ts'", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(chat): keep notebook follow-up tool asks on the thread's notebook
  apps/api/agents/langgraph/ChatGraph/nodes/classifierForcedIntent.vitest.ts
  apps/api/agents/langgraph/ChatGraph/nodes/classifierNode.ts
  apps/api/agents/langgraph/ChatGraph/types.ts
  apps/api/routes/chat/services/notebookToolAsk.ts
  apps/api/routes/chat/services/notebookToolAsk.vitest.ts
  apps/api/routes/chat/services/streamContext.ts
  apps/api/utils/decisionJournal.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(scrapers): anchor the date-pattern check to the start of the text (#3565)
  apps/api/services/scrapers/implementations/LandesverbandScraper/extractors/ContentExtractor.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/extractors/ContentExtractor.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(scripts): dedupe the visible-date refetch and skip xBlog placeholders
  apps/api/scripts/repair-lv-payload.ts
  apps/api/scripts/repair-lv-payload.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(landesverband): rewrite the data-quality checklist step in English
  docs/CLAUDE-landesverband.md
Due: prettier --write

feat(voice): insert text from a PDF or DOCX file into the editor
  apps/web/src/features/voice/VoicePage.tsx
  apps/web/src/features/voice/VoicePage.vitest.tsx
  apps/web/src/features/voice/components/FileImport.tsx
  apps/web/src/features/voice/components/VoiceEditor.tsx
  apps/web/src/features/voice/fileText.ts
  apps/web/src/features/voice/fileText.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs(voice): describe inserting text from a file
  apps/api/services/docs/docsIndex.generated.ts
  documentation/docs/guides/einsteigerinnen/text-vertonen.mdx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(evals): regenerate census baseline for the memory lane corpus
  apps/api/evals/classifierCensus.baseline.txt
Due: none

test(evals): name master as a possible stale side in the census hint
  apps/api/evals/dispositionCensus.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(scrapers): exclude wolke points from the archive age check
  apps/api/services/scrapers/implementations/LandesverbandScraper/LandesverbandScraper.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/archiveFilter.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/archiveFilter.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): count asks with a clause after the separable verb reach notebook_quellen
  apps/api/routes/chat/services/notebookToolAsk.ts
  apps/api/routes/chat/services/notebookToolAsk.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): notebook grep takes query as phrase and grounds only the top sources
  apps/api/routes/chat/agents/notebookSourceReadActions.ts
  apps/api/routes/chat/agents/notebookSourceSystemActions.ts
  apps/api/routes/chat/agents/notebookSourceTools.system.vitest.ts
  apps/api/routes/chat/agents/notebookSourceTools.ts
  apps/api/routes/chat/agents/notebookSourceTools.vitest.ts
  apps/api/services/notebook/sourceGrep.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(scripts): run lv payload repair sources in parallel per host
  apps/api/scripts/repair-lv-payload.ts
  apps/api/scripts/repair-lv-payload.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(chat): keep the vorkommen idiom with a subordinate clause out of the notebook tool gate
  apps/api/routes/chat/services/notebookToolAsk.ts
  apps/api/routes/chat/services/notebookToolAsk.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

test(evals): add the thread notebook tool ask branch to the census baseline
  apps/api/evals/classifierCensus.baseline.txt
Due: none

fix(scrapers): decide title_fallback from the normalized title
  apps/api/services/scrapers/implementations/LandesverbandScraper/processors/DocumentProcessor.ts
  apps/api/services/scrapers/implementations/LandesverbandScraper/processors/DocumentProcessor.vitest.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

docs: update content stats [skip ci]
  apps/api/services/docs/docsIndex.generated.ts
  documentation/docs/sonstiges/inhaltsdatenbank.md
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(mobile): bump app version to 1.5.3
  apps/mobile/app.json
Due: prettier --write

chore(deps): bump blocknote to 0.55.0
  apps/api/package.json
  apps/web/package.json
  packages/docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

refactor(docs): use blocknote's mobile formatting toolbar on touch devices
  packages/docs/src/components/editor/BlockNoteEditor.css
  packages/docs/src/components/editor/BlockNoteEditor.tsx
  packages/shared/src/hooks/useMobileKeyboardOffset.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(docs): keep publishing the keyboard offset from the editor
  packages/docs/src/components/editor/BlockNoteEditor.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write
