Repository netzbegruenung/Gruenerator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): replace showHeaderFooter with layoutMode enum and fix CSS shadows
  apps/web/src/assets/styles/index.css
  apps/web/src/assets/styles/layout.css
  apps/web/src/assets/styles/pages/scanner.css
  apps/web/src/config/routes.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): redesign workplace startpage layout and tools
  apps/web/src/components/common/ToolGrid.tsx
  apps/web/src/features/workplace/WorkplacePage.tsx
  apps/web/src/features/workplace/components/ChatInner.tsx
  apps/web/src/features/workplace/components/GroupsSection.tsx
  apps/web/src/features/workplace/components/NotebooksSection.tsx
  apps/web/src/features/workplace/components/ReelsSection.tsx
  apps/web/src/features/workplace/components/ToolsSection.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(web): update pages, add subtitler-beta, and promote Eigene tab
  apps/web/src/features/apps/AppsPage.tsx
  apps/web/src/features/groups/components/GroupDetailSection.tsx
  apps/web/src/features/recherche/RecherchePage.tsx
  apps/web/src/features/subtitler-beta/README.md
  apps/web/src/features/subtitler-beta/components/BetaVideoPlayer.tsx
  apps/web/src/features/subtitler-beta/components/SubtitleItem.tsx
  apps/web/src/features/subtitler-beta/components/SubtitleList.tsx
  apps/web/src/features/subtitler-beta/components/SubtitleOverlay.tsx
  apps/web/src/features/subtitler-beta/components/SubtitleSettings.tsx
  apps/web/src/features/subtitler-beta/components/SubtitlerBetaPage.tsx
  apps/web/src/features/subtitler-beta/hooks/useElementSize.ts
  apps/web/src/features/subtitler-beta/stores/historyStore.ts
  apps/web/src/features/subtitler-beta/stores/subtitlerBetaStore.ts
  apps/web/src/features/subtitler-beta/types/subtitle.ts
  apps/web/src/features/subtitler-beta/utils/timeUtils.ts
  apps/web/src/features/texte/modes/index.ts
  apps/web/src/features/texte/tabs/EigeneTab.tsx
  apps/web/src/features/transfer/TransferPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(web): implement layoutMode across App, PageLayout, and pages
  apps/web/src/App.tsx
  apps/web/src/components/common/Layout/PageLayout.tsx
  apps/web/src/components/routing/RouteComponent.tsx
  apps/web/src/features/chat/ChatPage.tsx
  apps/web/src/features/notebook/components/NotebookPage.tsx
  apps/web/src/features/scanner/ScannerPage.tsx
  apps/web/src/features/scanner/tabs/ScannerTab.tsx
  apps/web/src/features/transfer/TransferPage.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(mobile): extract useTheme hook and clean up chat components
  apps/mobile/app/(tabs)/(media)/_layout.tsx
  apps/mobile/components/chat/AssistantComposer.tsx
  apps/mobile/components/chat/AssistantThread.tsx
  apps/mobile/components/chat/ChatDrawerHeader.tsx
  apps/mobile/components/chat/ChatSettingsSheet.tsx
  apps/mobile/components/chat/MessageActionsSheet.tsx
  apps/mobile/components/chat/MessageBubble.tsx
  apps/mobile/components/chat/NewChatSheet.tsx
  apps/mobile/components/chat/ThreadListDrawer.tsx
  apps/mobile/components/common/BottomSheet.tsx
  apps/mobile/components/docs/DocEditorDOM.tsx
  apps/mobile/components/docs/NativeShareModal.tsx
  apps/mobile/hooks/useMobileChatRuntime.ts
  apps/mobile/hooks/useSearchRuntime.ts
  apps/mobile/hooks/useTheme.ts
  apps/mobile/providers/MobileChatProvider.tsx
  apps/mobile/services/api.ts
  apps/mobile/types/routes.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(transfer): increase file size limit to 2 GB and add Nextcloud backend
  apps/api/routes/transfer/transferController.ts
  apps/api/services/api-clients/nextcloudApiClient.ts
  apps/api/services/transferService.ts
  apps/web/src/features/transfer/TransferPage.tsx
  apps/web/src/features/transfer/components/TransferUploadZone.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(api): add facebook to SourceConfig type union
  apps/api/services/briefing/types.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(mobile): add TTS playback to chat and switch default voice to Paul
  apps/api/services/voice/ttsService.ts
  apps/mobile/components/chat/MessageBubble.tsx
  apps/mobile/hooks/useNativeTTS.ts
  pnpm-lock.yaml
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

chore(mobile): add expo-audio dependency for TTS playback
  apps/mobile/app.json
  apps/mobile/package.json
Due: prettier --write

chore(desktop): bump version to 1.2.0
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/splashscreen.html
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier --write

fix(mobile): fix TTS endpoint path and remove debug logs
  apps/mobile/hooks/useNativeTTS.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(ci): add minimal permissions to briefing-agents workflow
  .github/workflows/briefing-agents.yml
Due: prettier --write

fix(ui,ci): fix strict null errors in retro-grid and image-comparison, add job-level permissions
  .github/workflows/briefing-agents.yml
  packages/ui/src/components/retro-grid.tsx
  packages/ui/src/components/ui/image-comparison-slider-horizontal.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

fix(mobile): reduce EAS Build upload from 712 MB to ~13 MB
  apps/mobile/.easignore
Due: none

fix(web): restrict react-scan to localhost only
  apps/web/index.html
Due: none

fix(mobile): reduce EAS Build upload from 712 MB to 191 MB
  apps/mobile/.easignore
Due: none

feat(web): icons-only mode pills on mobile and single-column notebook grid
  apps/web/src/features/texte/components/ModePillRow.tsx
  apps/web/src/features/texte/modes/index.ts
  apps/web/src/features/texte/modes/presseSocial.ts
  apps/web/src/features/texte/modes/types.ts
  packages/ui/src/components/card-grid.tsx
  packages/ui/src/components/pill-group.tsx
  packages/ui/src/components/settings-dropdown.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(workplace): merge Texte into Zuletzt erstellt section
  apps/api/routes/workplace/recentActivityController.ts
  apps/web/src/features/workplace/WorkplacePage.tsx
  apps/web/src/features/workplace/components/RecentlyCreatedSection.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

refactor(mobile): unify composer actions into single bottom sheet
  apps/mobile/components/chat/AssistantComposer.tsx
  apps/mobile/components/chat/ComposerActionSheet.tsx
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

feat(ui,chat): responsive menu — dropdown on desktop, bottom sheet on mobile web
  packages/chat/src/components/ToolToggles.tsx
  packages/chat/src/components/thread/PlusMenu.tsx
  packages/ui/src/components/responsive-menu.tsx
  packages/ui/src/index.ts
Due: eslint --fix --ignore-pattern '**/*.vitest.ts', prettier --write

Path conditions:
  eslint --fix --ignore-pattern '**/*.vitest.ts': any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
